Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

.pre-commit-config.yaml:

repos:
  # Ruff for linting and formatting (single tool per project preference)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-ast  # Check Python syntax by parsing AST

  # Django specific checks
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: ['--target-version', '4.2']

  # Custom hooks for AllThrive AI rules
  - repo: local
    hooks:
      # Check for hardcoded URLs
      - id: no-hardcoded-urls
        name: No Hardcoded URLs
        entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/fixtures/.*|\
            .*/migrations/.*|\
            scripts/pre-commit-hooks/.*|\
            config/settings\.py$\
          )$

      # Check for missing permission classes
      - id: check-permissions
        name: Check ViewSet Permissions
        entry: python scripts/pre-commit-hooks/check_permissions.py
        language: python
        files: (views|viewsets)\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for magic numbers
      - id: check-magic-numbers
        name: Check for Magic Numbers
        entry: python scripts/pre-commit-hooks/check_magic_numbers.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/migrations/.*|\
            .*/constants\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for core.models imports (should use domain imports)
      - id: no-core-models-import
        name: No core.models Imports
        entry: python scripts/pre-commit-hooks/check_no_core_models.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/admin\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Ensure settings.AUTH_USER_MODEL usage
      - id: check-auth-user-model
        name: Check AUTH_USER_MODEL Usage
        entry: python scripts/pre-commit-hooks/check_auth_user_model.py
        language: python
        files: models\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/users/models\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

Update error messages to be beta-friendly with /feedback links
  frontend/src/components/chat/ChatErrorBoundary.tsx
  frontend/src/components/chat/__tests__/ChatErrorBoundary.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/utils/errorHandler.ts
  frontend/src/utils/errorMessages.ts
Due: none

Add integration settings link to chat integration errors
  frontend/src/components/chat/integrations/FigmaFlow.tsx
  frontend/src/components/chat/integrations/GitHubFlow.tsx
  frontend/src/components/chat/integrations/GitLabFlow.tsx
  frontend/src/components/chat/integrations/useIntegrationFlow.ts
Due: none

Remove Reddit auto-sync agents (keep manual URL import)
  config/celery.py
  core/integrations/admin.py
  core/integrations/migrations/0013_remove_reddit_agent_tables.py
  core/integrations/models.py
  core/integrations/reddit_models.py
  core/integrations/reddit_tasks.py
  core/management/commands/create_chatgpt_agent.py
  core/management/commands/delete_curation_agents.py
  core/management/commands/seed_curation_agents.py
  core/users/views.py
  services/agents/orchestrator/handoff.py
  services/integrations/reddit/__init__.py
  services/integrations/reddit/sync.py
  services/integrations/reddit/video_downloader.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add seed_game_projects to deploy scripts
  .github/workflows/deploy-aws.yml
  CLAUDE.md
  Makefile
Due: none

Restrict task option CRUD to superusers only
  core/tasks/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Update AWS docs with Dec 2025 infrastructure fixes
  docs/evergreen-architecture/22-AWS-INFRASTRUCTURE.md
  infrastructure/cloudformation/README.md
Due: none

Add game promo cards to explore feed with preview tray
  .github/workflows/deploy-aws.yml
  CLAUDE.md
  Makefile
  frontend/src/components/explore/GamePreviewTray.tsx
  frontend/src/components/explore/GamePromoCard.tsx
  frontend/src/pages/ExplorePage.tsx
Due: none

Enable inline game playing in explore feed preview tray
  frontend/src/components/explore/GamePreviewTray.tsx
Due: none

fix: Scroll to #side-quests section when navigating from points popup
  frontend/src/pages/GamesPage.tsx
Due: none

Show mini game during learning path creation to improve wait time UX
  frontend/src/components/chat/messages/LoadingMessage.tsx
Due: none

feat: Add Redis-based session invalidation with 24h sliding window and global logout
  core/agents/middleware.py
  core/auth/tests/test_oauth_auth.py
  core/auth/views.py
  core/auth/views_refresh.py
  core/middleware.py
  core/urls.py
  services/auth/tokens.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add playground filters and merge clipped/liked projects
  core/battles/consumers.py
  core/battles/tasks.py
  core/projects/views.py
  frontend/src/hooks/useBattleWebSocket.ts
  frontend/src/pages/ProfilePage.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Remove stale reddit_thread references from project views
  core/projects/tests/test_manual_tag_editing.py
  core/projects/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix test to expect camelCase timeRemaining in WebSocket response
  core/battles/tests/test_consumers.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix clipping error UX - prevent false positive errors
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add mini-game during learning path creation and GitHub repo management link
  frontend/src/components/chat/integrations/GitHubFlow.tsx
  frontend/src/components/chat/onboarding/LearningGoalSelectionMessage.tsx
Due: none

Fix Nano Banana projects to use image_collection type instead of prompt
  core/agents/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Dec 30 changes (#80)
  core/agents/views.py
  frontend/src/components/chat/integrations/GitHubFlow.tsx
  frontend/src/components/chat/onboarding/LearningGoalSelectionMessage.tsx
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add cleanup_reddit_data management command
  core/management/commands/cleanup_reddit_data.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add AWS SNS SMS infrastructure and notification preferences
  core/notifications/admin.py
  core/notifications/migrations/0002_add_sms_preferences.py
  core/notifications/models.py
  core/notifications/urls.py
  core/notifications/views.py
  core/sms/admin.py
  core/sms/migrations/0002_rename_provider_sid_to_provider_message_id.py
  core/sms/models.py
  core/sms/provider.py
  core/sms/services.py
  core/sms/tasks.py
  core/users/migrations/0033_add_sms_prompt_fields.py
  core/users/models.py
  docs/plans/SMS_NOTIFICATION_PLAN.md
  frontend/src/components/notifications/SmsOptInModal.tsx
  frontend/src/hooks/useSmsOptIn.ts
  frontend/src/pages/PrivacyPolicyPage.tsx
  frontend/src/pages/TermsOfServicePage.tsx
  frontend/src/pages/settings/NotificationsSettingsPage.tsx
  frontend/src/services/notifications.ts
  infrastructure/cloudformation/08-secrets.yaml
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add AWS SNS SMS infrastructure and notification preferences (#81)
  core/notifications/admin.py
  core/notifications/migrations/0002_add_sms_preferences.py
  core/notifications/models.py
  core/notifications/urls.py
  core/notifications/views.py
  core/sms/admin.py
  core/sms/migrations/0002_rename_provider_sid_to_provider_message_id.py
  core/sms/models.py
  core/sms/provider.py
  core/sms/services.py
  core/sms/tasks.py
  core/users/migrations/0033_add_sms_prompt_fields.py
  core/users/models.py
  docs/plans/SMS_NOTIFICATION_PLAN.md
  frontend/src/components/notifications/SmsOptInModal.tsx
  frontend/src/hooks/useSmsOptIn.ts
  frontend/src/pages/PrivacyPolicyPage.tsx
  frontend/src/pages/TermsOfServicePage.tsx
  frontend/src/pages/settings/NotificationsSettingsPage.tsx
  frontend/src/services/notifications.ts
  infrastructure/cloudformation/08-secrets.yaml
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add 60-second timeout handling for AI chat responses
  frontend/src/components/chat/core/ChatCore.tsx
  frontend/src/components/chat/core/ChatMessageList.tsx
  frontend/src/components/chat/core/types.ts
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/chat/layouts/InlineChatLayout.tsx
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
  frontend/src/hooks/useIntelligentChat.ts
Due: none

Update social tagline to 'The social AI learning platform'
  frontend/index.html
Due: none

Fix admin tasks pagination showing incomplete task lists
  core/tasks/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix Ava using # links for learning path lessons
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Strip # placeholder links from AI chat responses
  frontend/src/components/chat/messages/AssistantMessage.tsx
Due: none

Fix video playback by removing crossOrigin attribute
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/fields/HeroDisplaySection.tsx
  frontend/src/components/projects/hero/HeroVideo.tsx
  frontend/src/components/projects/layouts/VideoProjectLayout.tsx
  frontend/src/components/projects/sections/VideoSection.tsx
Due: none

Remove crossOrigin from chat and Reddit video components
  frontend/src/components/chat/messages/UserMessage.tsx
  frontend/src/components/projects/reddit/RedditThreadLayout.tsx
Due: none

Autoplay videos for midjourney-tagged projects
  frontend/src/components/projects/ProjectCard.tsx
Due: none

Update landing page sections and loading messages
  core/battles/consumers.py
  frontend/src/components/chat/messages/LoadingMessage.tsx
  frontend/src/components/landing/BattleSimulation.tsx
  frontend/src/components/landing/UnifiedLanding.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix showFeedback/showWinner reference error in BattleSimulation
  frontend/src/components/landing/BattleSimulation.tsx
Due: none

Update chat pills: get-started explains AllThrive, add infographic pill
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
Due: none

Fix sendMessage reference error in get-started handler
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
Due: none

Fix: AllThrive → All Thrive (two words)
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
Due: none

Add platform overview section to Ava's system prompt
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Make Ava's platform intro friendlier, less marketing-y
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Frame platform intro as actions users can take WITH Ava
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Move platform intro to top of Ava's prompt with explicit NEVER list
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Update Ava intro: 'All Thrive guide' + upload/paste project option
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import
