Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

.pre-commit-config.yaml:

repos:
  # Ruff for linting and formatting (single tool per project preference)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-ast  # Check Python syntax by parsing AST

  # Django specific checks
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: ['--target-version', '4.2']

  # Custom hooks for AllThrive AI rules
  - repo: local
    hooks:
      # Check for hardcoded URLs
      - id: no-hardcoded-urls
        name: No Hardcoded URLs
        entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/fixtures/.*|\
            .*/migrations/.*|\
            scripts/pre-commit-hooks/.*|\
            config/settings\.py$\
          )$

      # Check for missing permission classes
      - id: check-permissions
        name: Check ViewSet Permissions
        entry: python scripts/pre-commit-hooks/check_permissions.py
        language: python
        files: (views|viewsets)\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for magic numbers
      - id: check-magic-numbers
        name: Check for Magic Numbers
        entry: python scripts/pre-commit-hooks/check_magic_numbers.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/migrations/.*|\
            .*/constants\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for core.models imports (should use domain imports)
      - id: no-core-models-import
        name: No core.models Imports
        entry: python scripts/pre-commit-hooks/check_no_core_models.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/admin\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Ensure settings.AUTH_USER_MODEL usage
      - id: check-auth-user-model
        name: Check AUTH_USER_MODEL Usage
        entry: python scripts/pre-commit-hooks/check_auth_user_model.py
        language: python
        files: models\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/users/models\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

Admin email.
  core/users/invitation_views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add /static/* cache behavior to CloudFront for Django admin
  infrastructure/cloudformation/11-cloudfront.yaml
Due: none

Add LinkedIn integration, invitation email tracking, and Reddit tray improvements
  core/agents/profile_views.py
  core/integrations/__init__.py
  core/integrations/linkedin/__init__.py
  core/integrations/linkedin/helpers.py
  core/integrations/linkedin/integration.py
  core/integrations/linkedin/service.py
  core/integrations/linkedin/views.py
  core/projects/views.py
  core/social/migrations/0002_alter_socialconnection_avatar_url_and_more.py
  core/social/models.py
  core/social/views.py
  core/tests/e2e/test_linkedin_import.py
  core/tests/e2e/test_linkedin_profile_generation.py
  core/urls.py
  core/users/invitation_admin.py
  core/users/invitation_api_views.py
  core/users/invitation_models.py
  core/users/invitation_views.py
  core/users/management/__init__.py
  core/users/management/commands/__init__.py
  core/users/management/commands/resend_approval_emails.py
  core/users/migrations/0024_add_approval_email_sent_at.py
  frontend/src/components/chat/ChatPlusMenu.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/landing/InvitationTray.tsx
  frontend/src/components/profile/ProfileGeneratorTray.tsx
  frontend/src/components/projects/ProjectPreviewTray.tsx
  frontend/src/hooks/useFreshnessToken.ts
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/admin/InvitationsPage.tsx
  frontend/src/services/explore.ts
  services/agents/profile/tools.py
  services/integrations/social/oauth_service.py
  services/personalization/engine.py
  services/personalization/freshness.py
  services/personalization/tests/test_freshness.py
  services/personalization/trending.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Skip LinkedIn chat intent test when OPENAI_API_KEY not configured
  core/tests/e2e/test_linkedin_import.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Feed linkedin (#49)
  core/agents/profile_views.py
  core/integrations/__init__.py
  core/integrations/linkedin/__init__.py
  core/integrations/linkedin/helpers.py
  core/integrations/linkedin/integration.py
  core/integrations/linkedin/service.py
  core/integrations/linkedin/views.py
  core/projects/views.py
  core/social/migrations/0002_alter_socialconnection_avatar_url_and_more.py
  core/social/models.py
  core/social/views.py
  core/tests/e2e/test_linkedin_import.py
  core/tests/e2e/test_linkedin_profile_generation.py
  core/urls.py
  core/users/invitation_admin.py
  core/users/invitation_api_views.py
  core/users/invitation_models.py
  core/users/invitation_views.py
  core/users/management/__init__.py
  core/users/management/commands/__init__.py
  core/users/management/commands/resend_approval_emails.py
  core/users/migrations/0024_add_approval_email_sent_at.py
  frontend/src/components/chat/ChatPlusMenu.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/landing/InvitationTray.tsx
  frontend/src/components/profile/ProfileGeneratorTray.tsx
  frontend/src/components/projects/ProjectPreviewTray.tsx
  frontend/src/hooks/useFreshnessToken.ts
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/admin/InvitationsPage.tsx
  frontend/src/services/explore.ts
  infrastructure/cloudformation/11-cloudfront.yaml
  services/agents/profile/tools.py
  services/integrations/social/oauth_service.py
  services/personalization/engine.py
  services/personalization/freshness.py
  services/personalization/tests/test_freshness.py
  services/personalization/trending.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix email button visibility using table-based layout for email client compatibility
  templates/emails/base.html
  templates/emails/invitations/approved.html
Due: none

Fix approval email signup URL to use /auth instead of /auth/signup
  core/users/invitation_views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix approval email button visibility and signup URL
  core/users/invitation_views.py
  templates/emails/base.html
  templates/emails/invitations/approved.html
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix approval email button visibility and signup URL (#50)
  core/users/invitation_views.py
  templates/emails/base.html
  templates/emails/invitations/approved.html
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add bulk edit/delete for prompt challenge prompts
  core/battles/urls.py
  core/battles/views.py
  core/urls.py
  frontend/src/components/admin/PromptEditorTray.tsx
  frontend/src/pages/admin/PromptChallengePromptsPage.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add admin prompt editor E2E tests and fix gallery image aspect ratios
  core/management/commands/setup_e2e_tests.py
  core/migrations/0046_alter_taxonomy_taxonomy_type.py
  docs/E2E_TEST_CHECKLIST.md
  docs/import-from-url-plan.md
  frontend/e2e/admin-prompt-editor.spec.ts
  frontend/e2e/helpers.ts
  frontend/e2e/intelligent-chat.spec.ts
  frontend/e2e/security.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/onboarding/EmberOnboardingProvider.tsx
  frontend/src/components/projects/sections/GallerySection.tsx
  frontend/src/hooks/useEmberOnboarding.ts
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/pages/ThriveCirclePage.tsx
  services/agents/project/agent.py
  services/agents/project/prompts.py
  services/agents/project/tests/test_import_from_url.py
  services/agents/project/tests/test_real_github_import.py
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Update Emails
  .env.production.example
  infrastructure/cloudformation/10-ecs.yaml
Due: none

Reorganize docs into archived folder and add architecture regeneration
  Screenshot 2025-12-12 at 4.11.14 PM.png
  core/agents/consumers.py
  docs/archived/EMAIL_NOTIFICATION_PLAN.md
  docs/archived/INTELLIGENT_CHAT_REVIEW.md
  docs/archived/OAUTH_SITE_CONFIGURATION.md
  docs/archived/PRICING_PROFITABILITY_ANALYSIS.md
  docs/archived/SNAKE_CASE_MIGRATION.md
  docs/archived/TODO_AUDIT.md
  docs/archived/TOKEN_PACK_SETUP.md
  docs/archived/WEBSOCKET-PREVENTION.md
  docs/archived/agentic-ai-roadmap.md
  docs/archived/credit-pack-implementation-plan.md
  docs/archived/explore-feed-enhancement-plan.md
  docs/archived/import-from-url-plan.md
  docs/archived/plan-follow-feature.md
  docs/archived/ws-debug-results.md
  docs/evergreen-architecture/token-pack-pricing-analysis.md
  frontend/e2e/architecture-regenerate.spec.ts
  frontend/playwright.config.ts
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/projects/sections/ArchitectureSection.tsx
  services/agents/project/agent.py
  services/agents/project/prompts.py
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Disable admin email notifications for invitation requests
  core/users/invitation_views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Update Emails (#52)
  .env.production.example
  infrastructure/cloudformation/10-ecs.yaml
Due: none

Update architecture regenerate button to show only in edit mode on hover
  core/agents/tasks.py
  core/management/commands/setup_e2e_tests.py
  frontend/e2e/architecture-regenerate.spec.ts
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/landing/HeroSection.tsx
  frontend/src/components/projects/sections/ArchitectureSection.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add seed_battle_prompts management command for prompt battles
  Makefile
  core/battles/management/commands/seed_battle_prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add EFS persistent storage for Weaviate to fix data loss on deployments
  infrastructure/cloudformation/02-security-groups.yaml
  infrastructure/cloudformation/10-ecs.yaml
Due: none

Fix video display for uploaded video projects
  core/integrations/video/ai_analyzer.py
  frontend/src/components/projects/sections/VideoSection.tsx
  frontend/src/types/sections.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Improve YouTube feed sync error handling and cold start feed diversity
  services/integrations/youtube_feed/sync.py
  services/personalization/cold_start.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix Weaviate embedding extraction to include all section types
  services/weaviate/embeddings.py
  services/weaviate/tasks.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Increase semantic search result limit from 10 to 1000
  core/projects/views.py
  frontend/src/services/explore.ts
  services/weaviate/client.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Remove limit from global search to return all results
  frontend/src/services/globalSearch.ts
Due: none

Add GitHub connection check to intelligent chat with better UX flow
  Makefile
  core/integrations/github/helpers.py
  docs/e2e-intelligent-chat-test-plan.md
  frontend/e2e/intelligent-chat.spec.ts
  frontend/src/components/chat/IntelligentChatPanel.tsx
  services/agents/orchestrator/prompts.py
  services/agents/project/agent.py
  services/agents/project/prompts.py
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating the plan.
  docs/e2e-intelligent-chat-test-plan.md
Due: none

pushing progress to github.
  docs/e2e-intelligent-chat-test-plan.md
  frontend/e2e/ai-chat/multi-agent.spec.ts
Due: none

Add promotion boost to all explore feeds (trending, new, cold start)
  core/projects/views.py
  services/personalization/cold_start.py
  services/personalization/trending.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Update branding and messaging across landing page, SEO, and pitch deck
  frontend/src/components/common/SEO.tsx
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/seoPresets.ts
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/HeroSection.tsx
  frontend/src/components/landing/Testimonials.tsx
  frontend/src/components/landing/WhatIsAllThrive.tsx
  frontend/src/components/pitch/slides/MarketSlide.tsx
  frontend/src/components/pitch/slides/ProblemSlide.tsx
  frontend/src/components/pitch/slides/ProductSlide.tsx
  frontend/src/components/pitch/slides/SolutionSlide.tsx
  frontend/src/components/pitch/slides/ThankYouSlide.tsx
  frontend/src/components/pitch/slides/TitleSlide.tsx
  frontend/src/components/promo/scenes/CTAScene.tsx
  frontend/src/components/promo/scenes/CTAVideoScene.tsx
  frontend/src/components/promo/scenes/PortfolioScene.tsx
  frontend/src/components/promo/scenes/PortfolioVideoScene.tsx
  frontend/src/pages/AuthPage.tsx
Due: none

Fix unused import in multi-agent.spec.ts
  frontend/e2e/ai-chat/multi-agent.spec.ts
Due: none

Rename 'Membership' to 'Community' in navigation menu
  frontend/src/components/navigation/TopNavigation.tsx
Due: none

Update What is All Thrive section with expanded description
  frontend/src/components/landing/WhatIsAllThrive.tsx
Due: none

Refine What is All Thrive copy to emphasize feedback
  frontend/src/components/landing/WhatIsAllThrive.tsx
Due: none

Split What is All Thrive description into clearer sentences
  frontend/src/components/landing/WhatIsAllThrive.tsx
Due: none

Format What is All Thrive description with line breaks
  frontend/src/components/landing/WhatIsAllThrive.tsx
Due: none

Add line break before 'and grow alongside other creators'
  frontend/src/components/landing/WhatIsAllThrive.tsx
Due: none

Update Automated Profile section with relatable AI tool examples
  frontend/src/components/landing/AutomatedProfile.tsx
Due: none

Shorten Automated Profile description
  frontend/src/components/landing/AutomatedProfile.tsx
Due: none

Update Automated Profile copy with vendor-neutral messaging
  frontend/src/components/landing/AutomatedProfile.tsx
Due: none
