Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

.pre-commit-config.yaml:

repos:
  # Ruff for linting and formatting (single tool per project preference)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-ast  # Check Python syntax by parsing AST

  # Django specific checks
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: ['--target-version', '4.2']

  # Custom hooks for AllThrive AI rules
  - repo: local
    hooks:
      # Check for hardcoded URLs
      - id: no-hardcoded-urls
        name: No Hardcoded URLs
        entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/fixtures/.*|\
            .*/migrations/.*|\
            scripts/pre-commit-hooks/.*|\
            config/settings\.py$\
          )$

      # Check for missing permission classes
      - id: check-permissions
        name: Check ViewSet Permissions
        entry: python scripts/pre-commit-hooks/check_permissions.py
        language: python
        files: (views|viewsets)\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for magic numbers
      - id: check-magic-numbers
        name: Check for Magic Numbers
        entry: python scripts/pre-commit-hooks/check_magic_numbers.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/migrations/.*|\
            .*/constants\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for core.models imports (should use domain imports)
      - id: no-core-models-import
        name: No core.models Imports
        entry: python scripts/pre-commit-hooks/check_no_core_models.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/admin\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Ensure settings.AUTH_USER_MODEL usage
      - id: check-auth-user-model
        name: Check AUTH_USER_MODEL Usage
        entry: python scripts/pre-commit-hooks/check_auth_user_model.py
        language: python
        files: models\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/users/models\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

Fix for websockets and cron jobs.
  config/asgi.py
  config/celery.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Styling updates (#42)
  config/asgi.py
  config/celery.py
  frontend/src/pages/ProfilePage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating Default AI provider.
  config/settings.py
  services/ai/provider.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

fix: WebSocket infrastructure and AllowedHostsOriginValidator issues
  .pre-commit-config.yaml
  infrastructure/cloudformation/09-alb.yaml
  infrastructure/cloudformation/deploy.sh
Due: none

Fixing curation agents on prod.
  core/management/commands/delete_curation_agents.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating Default and fallback AI provider.
  .env.example
  .env.production.example
  config/settings.py
  core/agents/tasks.py
  core/agents/views.py
  core/config/manager.py
  services/ai/provider.py
  services/weaviate/embeddings.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Live site fixes (#43)
  .env.example
  .env.production.example
  .pre-commit-config.yaml
  config/settings.py
  core/agents/tasks.py
  core/agents/views.py
  core/config/manager.py
  infrastructure/cloudformation/09-alb.yaml
  infrastructure/cloudformation/deploy.sh
  services/ai/provider.py
  services/weaviate/embeddings.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Updates to chat styling.
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
Due: none

Live site fixes (#44)
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
Due: none

Fix WebSocket Redis channel layer TLS configuration for AWS ElastiCache
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix 404 game not showing due to race condition in ProfilePage
  frontend/src/pages/ProfilePage.tsx
Due: none

Fix channels_redis TLS config: use URL string for address
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix published_at -> published_date field name on Project model
  core/thrive_circle/views.py
  core/views/crawler_views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add defensive coding to getUserProjects to prevent undefined.map() error
  frontend/src/services/projects.ts
Due: none

Increase database connection pool size for scalability
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix battle WebSocket state handling for null opponents
  core/battles/consumers.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix 404 detection for non-existent user profiles
  frontend/src/pages/ProfilePage.tsx
Due: none

Fix CloudFront routing: API 404s now pass through correctly
  infrastructure/cloudformation/11-cloudfront.yaml
  infrastructure/cloudformation/cloudfront-functions/spa-routing.js
Due: none

Fix 404 page detection for non-existent users
  Makefile
  frontend/src/pages/ProfilePage.tsx
Due: none

Fix Redis SSL cert_reqs parameter - use lowercase 'required'
  infrastructure/cloudformation/04-elasticache.yaml
Due: none

Add COOKIE_DOMAIN to ECS task definitions
  infrastructure/cloudformation/10-ecs.yaml
Due: none

Removing token emails for now.
  config/celery.py
  core/billing/tasks.py
  core/billing/tests/test_tasks.py
  infrastructure/cloudformation/10-ecs.yaml
  services/integrations/storage/storage_service.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating Cloudformation for prompt battles.
  core/agents/tasks.py
  core/battles/consumers.py
  core/battles/management/__init__.py
  core/battles/management/commands/__init__.py
  core/battles/management/commands/delete_all_battles.py
  core/battles/migrations/0003_promptbattle_judging_retry_count_and_more.py
  core/battles/models.py
  core/battles/services.py
  core/battles/tasks.py
  core/battles/tests/test_battle_service.py
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/pages/NotFoundPage.tsx
  frontend/src/pages/challenges/ChallengePage.tsx
  frontend/src/routes/index.tsx
  infrastructure/cloudformation/10-ecs.yaml
  infrastructure/cloudformation/11-cloudfront.yaml
  services/agents/orchestrator/prompts.py
  services/ai/provider.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import, check-auth-user-model

Updating tests, ci/cd for migrations, an checking for linux/amd64.
  .github/workflows/deploy-aws.yml
  .pre-commit-config.yaml
  AWS_DEPLOYMENT_STATUS.md
  Dockerfile.prod
  core/achievements/tests/test_achievement_service.py
  core/agents/profile_views.py
  core/agents/tasks.py
  core/ai_usage/tests/test_platform_daily_stats.py
  core/projects/tests/test_project_api.py
  core/referrals/tests/test_integration.py
  core/tests/test_seo_privacy.py
  core/vendors/tests/test_track_tool_engagement.py
  docs/archived/test_project_chat.py
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/profile/ProfileGeneratorTray.tsx
  frontend/src/hooks/useProfileGeneratorChat.ts
  frontend/src/pages/ProfilePage.tsx
  scripts/pre-commit-hooks/check_docker_platform.py
  services/agents/profile/prompts.py
  services/agents/project/tests/test_agent.py
  services/agents/project/tests/test_e2e_project_creation.py
  services/agents/project/tests/test_streaming_integration.py
  services/agents/project/tests/test_tools.py
  services/agents/test_hallucination_tracker.py
  services/agents/tests/test_hallucination_tracker_quick_check.py
  services/tests/test_deleted_reddit_threads.py
  services/tests/test_keyword_filter.py
  services/tests/test_reddit_moderation.py
  services/tests/test_topic_extraction.py
  specs/001-react-typescript-frontend/checklists/requirements.md
  specs/001-react-typescript-frontend/contracts/auth-api.yaml
  specs/001-react-typescript-frontend/data-model.md
  specs/001-react-typescript-frontend/plan.md
  specs/001-react-typescript-frontend/quickstart.md
  specs/001-react-typescript-frontend/research.md
  specs/001-react-typescript-frontend/spec.md
  specs/001-react-typescript-frontend/tasks.md
  test-frontend-deploy.sh
  test-production-build.sh
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Updating FRONTEND_URL to work consistently with Celery.
  .github/workflows/deploy-aws.yml
  core/users/tests/test_toggle_follow.py
  core/vendors/tests/test_track_tool_engagement.py
  services/agents/profile/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating FRONTEND_URL to work consistently with Celery.
  infrastructure/cloudformation/10-ecs.yaml
Due: none

Adding Weaviate to Cloudformation.
  core/referrals/tests/test_integration.py
  frontend/src/components/onboarding/EmberAdventureBanner.tsx
  frontend/src/components/profile/sections/FeaturedProjectsSection.tsx
  frontend/src/pages/ProfilePage.tsx
  infrastructure/cloudformation/10-ecs.yaml
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Making make commands to help with testing.
  CLAUDE.md
  Makefile
  README.md
  infrastructure/cloudformation/07-iam.yaml
Due: none

Updating make command and ws.allthrive.ai.
  .github/workflows/deploy-aws.yml
  Makefile
  frontend/src/components/pitch/slides/ProblemSlide.tsx
  frontend/src/components/pitch/slides/WhyNowSlide.tsx
Due: none

Fix battle judging: fetch S3 images with IAM credentials
  services/ai/provider.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Update pitch slides, user views, and add agent tiers migration
  core/management/commands/seed_curation_agents.py
  core/users/migrations/0017_fix_agent_tiers.py
  core/users/views.py
  frontend/public/allie-jones.jpeg
  frontend/public/gina.jpeg
  frontend/public/imnet.jpeg
  frontend/src/components/pitch/slides/SolutionSlide.tsx
  frontend/src/components/pitch/slides/TeamSlide.tsx
  frontend/src/components/pitch/slides/TitleSlide.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Enable public read access for S3 media bucket public/ prefix
  infrastructure/cloudformation/05-s3.yaml
Due: none

Fix battle criteria scores display - use dynamic criteria from backend
  frontend/src/components/battles/JudgingReveal.tsx
  frontend/src/components/pitch/slides/TeamSlide.tsx
Due: none

Add missing generate-link URL for battle invitations
  core/battles/urls.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Run CI tests on push to main (not just PRs)
  .github/workflows/ci.yml
Due: none

Revert: Remove push-to-main CI trigger
  .github/workflows/ci.yml
Due: none

Expert users, new users, beta mode, removing news, adding clippings.
  Makefile
  config/celery.py
  config/settings.py
  core/auth/impersonation.py
  core/billing/tests/test_utils.py
  core/extension/views.py
  core/projects/serializers.py
  core/projects/views.py
  core/taxonomy/management/commands/auto_categorize_projects.py
  core/taxonomy/services.py
  core/users/views.py
  frontend/src/components/admin/ImpersonationBanner.tsx
  frontend/src/components/common/OptimizedImage.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/navigation/TopNavigation.tsx
  frontend/src/components/projects/DynamicGradientCard.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/constants.ts
  frontend/src/components/projects/layouts/ClippedArticleLayout.tsx
  frontend/src/components/projects/layouts/CuratedArticleLayout.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/components/projects/layouts/ProjectLayoutRouter.tsx
  frontend/src/components/quiz/QuizCard.tsx
  frontend/src/components/tools/ToolTray.tsx
  frontend/src/hooks/useSwipeGesture.ts
  frontend/src/index.css
  frontend/src/pages/quizzes/QuizPage.tsx
  frontend/src/services/explore.ts
  frontend/src/services/impersonation.ts
  frontend/src/utils/imageOptimization.ts
  infrastructure/cloudformation/11-cloudfront.yaml
  services/ai/provider.py
  services/integrations/rss/sync.py
  services/tests/test_ai_provider.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import
