Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

no-hardcoded-urls:
  name: No Hardcoded URLs
  entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
  language: python

check-permissions:
  name: Check ViewSet Permissions
  entry: python scripts/pre-commit-hooks/check_permissions.py
  language: python

check-magic-numbers:
  name: Check for Magic Numbers
  entry: python scripts/pre-commit-hooks/check_magic_numbers.py
  language: python

no-core-models-import:
  name: No core.models Imports
  entry: python scripts/pre-commit-hooks/check_no_core_models.py
  language: python

check-auth-user-model:
  name: Check AUTH_USER_MODEL Usage
  entry: python scripts/pre-commit-hooks/check_auth_user_model.py
  language: python

Add e2e test specs for image generation and security
  docs/e2e-intelligent-chat-test-plan.md
  frontend/e2e/ai-chat/image-generation.spec.ts
  frontend/e2e/ai-chat/security.spec.ts
Due: none

E2e intelligent chat testing (#53)
  docs/e2e-intelligent-chat-test-plan.md
  frontend/e2e/ai-chat/image-generation.spec.ts
  frontend/e2e/ai-chat/multi-agent.spec.ts
  frontend/e2e/ai-chat/security.spec.ts
  frontend/src/components/common/SEO.tsx
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/seoPresets.ts
  frontend/src/components/landing/AutomatedProfile.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/HeroSection.tsx
  frontend/src/components/landing/Testimonials.tsx
  frontend/src/components/landing/WhatIsAllThrive.tsx
  frontend/src/components/navigation/TopNavigation.tsx
  frontend/src/components/pitch/slides/MarketSlide.tsx
  frontend/src/components/pitch/slides/ProblemSlide.tsx
  frontend/src/components/pitch/slides/ProductSlide.tsx
  frontend/src/components/pitch/slides/SolutionSlide.tsx
  frontend/src/components/pitch/slides/ThankYouSlide.tsx
  frontend/src/components/pitch/slides/TitleSlide.tsx
  frontend/src/components/promo/scenes/CTAScene.tsx
  frontend/src/components/promo/scenes/CTAVideoScene.tsx
  frontend/src/components/promo/scenes/PortfolioScene.tsx
  frontend/src/components/promo/scenes/PortfolioVideoScene.tsx
  frontend/src/pages/AuthPage.tsx
Due: none

Fix mobile header/hero overlap on landing page
  frontend/src/components/landing/HeroSection.tsx
Due: none

Add comprehensive E2E AI chat tests for intelligent chat scenarios
  core/integrations/migrations/0012_deletedyoutubefeedvideo.py
  core/integrations/youtube_feed_models.py
  core/projects/views.py
  docs/e2e-intelligent-chat-test-plan.md
  frontend/e2e/ai-chat/url-import.spec.ts
  frontend/e2e/ai-chat/user-journeys.spec.ts
  frontend/src/components/landing/HeroSection.tsx
  services/integrations/youtube_feed/sync.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add migration to setup LinkedIn OAuth SocialApp
  core/migrations/0047_setup_linkedin_oauth.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add GitHub App installation tracking and fix pre-commit issues
  config/settings.py
  core/integrations/github/ai_analyzer.py
  core/integrations/github/helpers.py
  core/integrations/github/views.py
  core/integrations/migrations/0012_githubappinstallation.py
  core/integrations/models.py
  core/social/views.py
  core/tools/models.py
  core/urls.py
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/components/projects/sections/DemoSection.tsx
  frontend/src/components/projects/sections/LinksSection.tsx
  frontend/src/components/projects/shared/InlineToolsEditor.tsx
  frontend/src/services/github.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix TldrSection background color picker z-index issue
  frontend/src/components/projects/shared/TldrSection.tsx
Due: none

updating github to github app.
  frontend/src/components/projects/ToolSelector.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/components/projects/sections/LinksSection.tsx
  frontend/src/components/projects/shared/InlineToolsEditor.tsx
Due: none

Add migration to setup LinkedIn OAuth SocialApp (#54)
  config/settings.py
  core/integrations/github/ai_analyzer.py
  core/integrations/github/helpers.py
  core/integrations/github/views.py
  core/integrations/migrations/0012_githubappinstallation.py
  core/integrations/models.py
  core/migrations/0047_setup_linkedin_oauth.py
  core/social/views.py
  core/tools/models.py
  core/urls.py
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/projects/ToolSelector.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/components/projects/sections/DemoSection.tsx
  frontend/src/components/projects/sections/LinksSection.tsx
  frontend/src/components/projects/shared/InlineToolsEditor.tsx
  frontend/src/components/projects/shared/TldrSection.tsx
  frontend/src/services/github.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Remove messaging system from lifeboat branch
  core/messaging/__init__.py
  core/messaging/admin.py
  core/messaging/apps.py
  core/messaging/migrations/0001_initial.py
  core/messaging/migrations/__init__.py
  core/messaging/models.py
  core/messaging/serializers.py
  core/messaging/tasks.py
  core/messaging/tests.py
  core/messaging/urls.py
  core/messaging/views.py
  core/migrations/0048_project_contact_enabled.py
  core/users/migrations/0026_user_allow_contact_requests.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Lifeboat: Add task comments feature for admin collaboration
  config/settings.py
  core/agents/profile_views.py
  core/tasks/migrations/0004_add_task_comment.py
  core/tasks/models.py
  core/tasks/serializers.py
  core/tasks/urls.py
  core/tasks/views.py
  core/urls.py
  docs/clipped-project-editing-plan.md
  frontend/e2e/ai-chat/profile-generator.spec.ts
  frontend/src/components/admin/tasks/TaskComments.tsx
  frontend/src/components/admin/tasks/TaskModal.tsx
  frontend/src/components/layouts/AdminLayout.tsx
  frontend/src/components/profile/ProfileGeneratorTray.tsx
  frontend/src/hooks/useProfileGeneratorChat.ts
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/admin/TasksPage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/adminTasks.ts
  frontend/src/types/tasks.ts
  infrastructure/cloudformation/10-ecs.yaml
  services/agents/profile/agent.py
  services/agents/profile/prompts.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix kanban drag and drop for cross-column task movement
  frontend/src/components/admin/tasks/TaskKanbanView.tsx
Due: none

Add LinkedIn screenshot support for profile generator
  config/settings.py
  frontend/src/components/auth/OAuthButtons.tsx
  frontend/src/components/battles/GuestSignupModal.tsx
  frontend/src/components/profile/ProfileGeneratorTray.tsx
  frontend/src/pages/AuthPage.tsx
  services/agents/profile/prompts.py
  services/agents/profile/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix TypeScript build errors
  frontend/src/tours/platformWalkthrough.ts
  frontend/src/types/profileSections.ts
Due: none

Add project UX improvements and admin permissions
  core/auth/serializers.py
  core/integrations/figma/integration.py
  core/integrations/github/integration.py
  core/integrations/github/views.py
  core/integrations/gitlab/integration.py
  core/integrations/linkedin/integration.py
  core/integrations/linkedin/views.py
  core/integrations/serializers.py
  core/integrations/tasks.py
  core/integrations/views.py
  core/integrations/youtube/tasks.py
  core/integrations/youtube/views.py
  core/migrations/0048_change_is_private_default_to_true.py
  core/projects/models.py
  core/tasks/migrations/0005_taskattachment.py
  core/tasks/models.py
  core/tasks/serializers.py
  core/tasks/urls.py
  core/tasks/views.py
  frontend/e2e/intelligent-chat.spec.ts
  frontend/src/components/admin/tasks/TaskAttachments.tsx
  frontend/src/components/admin/tasks/TaskComments.tsx
  frontend/src/components/admin/tasks/TaskKanbanView.tsx
  frontend/src/components/admin/tasks/TaskModal.tsx
  frontend/src/components/admin/tasks/TaskTableView.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/project-components/ProjectComponents.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/ProjectPreviewTray.tsx
  frontend/src/components/projects/figma/FigmaProjectLayout.tsx
  frontend/src/components/projects/github/GitHubProjectLayout.tsx
  frontend/src/components/projects/hero/HeroImage.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/components/projects/layouts/VideoProjectLayout.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/adminTasks.ts
  frontend/src/types/models.ts
  frontend/src/types/tasks.ts
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add task tracker enhancements: Markdown, attachments, YAML export/import
  CLAUDE.md
  Makefile
  core/fixtures/tasks.yaml
  core/tasks/management/__init__.py
  core/tasks/management/commands/__init__.py
  core/tasks/management/commands/export_tasks.py
  core/tasks/management/commands/seed_tasks.py
  core/uploads/views.py
  frontend/src/components/admin/tasks/TaskAttachments.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/forms/ImageUpload.tsx
  frontend/src/components/forms/MediaUploader.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add UI improvements: gradient card min-height, chat send button visibility, rotating status messages
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/projects/DynamicGradientCard.tsx
Due: none

Add OAuth smoke tests and E2E tests to deploy workflow
  .github/workflows/deploy-aws.yml
  frontend/e2e/oauth-e2e.spec.ts
Due: none

Fix LinkedIn OAuth URL to use OIDC provider format
  .env.production.example
  .github/workflows/deploy-aws.yml
  core/management/commands/backfill_oauth_profiles.py
  core/management/commands/setup_linkedin_oauth.py
  core/management/commands/setup_oauth.py
  core/migrations/0047_setup_linkedin_oauth.py
  core/social/signals.py
  docs/archived/OAUTH_SITE_CONFIGURATION.md
  frontend/e2e/oauth-e2e.spec.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add Ember home page with feelings-first chat experience
  core/agents/tasks.py
  frontend/src/components/navigation/TopNavigation.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/hooks/useOrchestrationActions.ts
  frontend/src/index.css
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/EmberHomePage.tsx
  frontend/src/routes/ProtectedRoute.tsx
  frontend/src/routes/index.tsx
  services/agents/orchestration/__init__.py
  services/agents/orchestration/agent.py
  services/agents/orchestration/prompts.py
  services/agents/orchestration/tools.py
  services/agents/orchestrator/handoff.py
  services/agents/orchestrator/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add Context Snake game and Ember feelings-first agent
  config/settings.py
  core/agents/tasks.py
  core/avatars/views.py
  core/games/__init__.py
  core/games/admin.py
  core/games/apps.py
  core/games/migrations/0001_initial.py
  core/games/migrations/__init__.py
  core/games/models.py
  core/games/serializers.py
  core/games/urls.py
  core/games/views.py
  core/urls.py
  docs/AGENTIC_LEARNING_PATHS_PLAN.md
  docs/evergreen-architecture/05-UNIFIED-CHAT-ARCHITECTURE.md
  docs/tool-games-plan.md
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/chat/onboarding/AvatarTemplateSelector.tsx
  frontend/src/hooks/useAvatarGeneration.ts
  frontend/src/hooks/useGameScore.ts
  frontend/src/hooks/useOnboardingChat.ts
  frontend/src/pages/SideQuestsPage.tsx
  frontend/src/pages/games/ContextSnakeGame.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/games.ts
  services/agents/discovery/prompts.py
  services/agents/ember/__init__.py
  services/agents/ember/agent.py
  services/agents/ember/prompts.py
  services/agents/ember/tools.py
  services/agents/orchestration/prompts.py
  services/agents/orchestrator/handoff.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix avatar generation with reference photos
  core/avatars/tasks.py
  core/avatars/views.py
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/chat/onboarding/AvatarTemplateSelector.tsx
  frontend/src/hooks/useOnboardingChat.ts
  frontend/src/pages/EmberHomePage.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Remove outdated intelligent chat E2E tests
  frontend/e2e/intelligent-chat.spec.ts
Due: none

Remove outdated backend intelligent chat E2E tests
  core/tests/e2e/test_intelligent_chat.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add Ember onboarding E2E tests and fix avatar profile update
  frontend/e2e/ember-onboarding.spec.ts
  frontend/src/hooks/useOnboardingChat.ts
Due: none

Add learning paths, games updates, and navigation improvements
  core/agents/consumers.py
  core/agents/tasks.py
  core/games/models.py
  core/games/serializers.py
  core/games/views.py
  core/learning_paths/admin.py
  core/learning_paths/migrations/0002_concept_learnerprofile_microlesson_learningevent_and_more.py
  core/learning_paths/migrations/0003_remove_learnerprofile_total_concepts_mastered_and_more.py
  core/learning_paths/migrations/0004_learnerprofile_celebration_enabled_and_more.py
  core/learning_paths/models.py
  core/learning_paths/serializers.py
  core/learning_paths/services.py
  core/learning_paths/signals.py
  core/learning_paths/triggers.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  core/management/commands/seed_concepts.py
  docs/AGENTIC_LEARNING_PATHS_PLAN.md
  docs/evergreen-architecture/05-UNIFIED-CHAT-ARCHITECTURE.md
  frontend/src/components/chat/onboarding/index.ts
  frontend/src/components/learning/ColdStartOnboarding.tsx
  frontend/src/components/learning/LearningDashboard.tsx
  frontend/src/components/learning/LearningPathsTab.tsx
  frontend/src/components/learning/PathProgressBar.tsx
  frontend/src/components/learning/SkillLevelBadge.tsx
  frontend/src/components/learning/StructuredLearningPath.tsx
  frontend/src/components/learning/index.ts
  frontend/src/components/navigation/TopNavigation.tsx
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/hooks/useLearningPaths.ts
  frontend/src/pages/EmberHomePage.tsx
  frontend/src/pages/LearnPage.tsx
  frontend/src/pages/games/ContextSnakeGame.tsx
  frontend/src/services/learningPaths.ts
  frontend/src/types/models.ts
  services/agents/ember/prompts.py
  services/agents/learning/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add security fixes, query optimizations, and error handling improvements
  core/avatars/admin.py
  core/avatars/migrations/0003_add_unique_conversation_id.py
  core/avatars/models.py
  core/avatars/views.py
  core/games/models.py
  core/games/views.py
  frontend/e2e/ember-url-import.spec.ts
  frontend/e2e/helpers.ts
  frontend/src/components/chat/ChatErrorBoundary.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/chat/index.ts
  frontend/src/components/chat/onboarding/AvatarTemplateSelector.tsx
  frontend/src/components/chat/onboarding/OnboardingIntroMessage.tsx
  frontend/src/pages/SideQuestsPage.tsx
  frontend/src/routes/index.tsx
  services/agents/orchestration/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add page-level drag-and-drop and media upload ownership prompt
  frontend/src/components/chat/core/ChatInputArea.tsx
  frontend/src/components/chat/core/types.ts
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
  services/agents/ember/prompts.py
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add learning eligibility toggle and taxonomy migrations
  core/agents/tasks.py
  core/learning_paths/admin.py
  core/learning_paths/migrations/0008_is_learning_eligible_default_true.py
  core/learning_paths/migrations/0009_alter_concept_topic_alter_contentgap_topic_and_more.py
  core/learning_paths/models.py
  core/learning_paths/serializers.py
  core/learning_paths/services.py
  core/learning_paths/signals.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  core/management/commands/seed_concepts.py
  core/migrations/0054_alter_taxonomy_type_add_new_types.py
  core/migrations/0055_seed_new_taxonomy_types.py
  core/migrations/0056_cleanup_deprecated_topic_fields.py
  core/migrations/0057_update_taxonomy_slugs_and_add_missing.py
  core/projects/serializers.py
  core/taxonomy/models.py
  core/thrive_circle/admin.py
  core/thrive_circle/migrations/0012_cleanup_deprecated_topic_fields.py
  core/thrive_circle/models.py
  core/thrive_circle/serializers.py
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/services/projects.ts
  frontend/src/types/models.ts
  services/agents/learning/tools.py
  services/gamification/learning_paths.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix taxonomy migration dependency to prevent 500 errors
  core/migrations/0057_alter_taxonomy_name_remove_unique.py
  core/migrations/0058_update_taxonomy_slugs_and_add_missing.py
  core/taxonomy/models.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import, check-auth-user-model

Add taxonomy system architecture documentation
  docs/evergreen-architecture/13-TAXONOMY-SYSTEM.md
Due: none

Path conditions:
  no-hardcoded-urls: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/fixtures/.*|\
  .*/migrations/.*|\
  scripts/pre-commit-hooks/.*|\
  config/settings\.py$\
)$

  check-permissions: any of: (views|viewsets)\.py$, but not: (?x)^(\
  .*/tests/.*|\
  scripts/pre-commit-hooks/.*\
)$

  check-magic-numbers: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/migrations/.*|\
  .*/constants\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  no-core-models-import: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/admin\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  check-auth-user-model: any of: models\.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/users/models\.py$|\
  scripts/pre-commit-hooks/.*\
)$

