Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

.pre-commit-config.yaml:

repos:
  # Ruff for linting and formatting (single tool per project preference)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-ast  # Check Python syntax by parsing AST

  # Django specific checks
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: ['--target-version', '4.2']

  # Custom hooks for AllThrive AI rules
  - repo: local
    hooks:
      # Check for hardcoded URLs
      - id: no-hardcoded-urls
        name: No Hardcoded URLs
        entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/fixtures/.*|\
            .*/migrations/.*|\
            scripts/pre-commit-hooks/.*|\
            config/settings\.py$\
          )$

      # Check for missing permission classes
      - id: check-permissions
        name: Check ViewSet Permissions
        entry: python scripts/pre-commit-hooks/check_permissions.py
        language: python
        files: (views|viewsets)\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for magic numbers
      - id: check-magic-numbers
        name: Check for Magic Numbers
        entry: python scripts/pre-commit-hooks/check_magic_numbers.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/migrations/.*|\
            .*/constants\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for core.models imports (should use domain imports)
      - id: no-core-models-import
        name: No core.models Imports
        entry: python scripts/pre-commit-hooks/check_no_core_models.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/admin\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Ensure settings.AUTH_USER_MODEL usage
      - id: check-auth-user-model
        name: Check AUTH_USER_MODEL Usage
        entry: python scripts/pre-commit-hooks/check_auth_user_model.py
        language: python
        files: models\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/users/models\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

Update Ava intro: 'Just chat with me and I can help you'
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Update project upload description: review, scrape, beautiful project page
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Update Ava intro: remove Lounge mention, show trending projects
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Update games description: micro games like trivia, Context Snake
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Update learning path description: personalized, skill level, interactive exercises
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Chat resource cards: 3 columns max, wider aspect ratio for images
  frontend/src/components/chat/cards/LearningTeaserCard.tsx
  frontend/src/components/chat/messages/AssistantMessage.tsx
Due: none

Don't list projects as text - cards display them automatically
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix brand name consistency: AllThrive → All Thrive
  frontend/public/accout-notifiactions.png
  frontend/public/ai-trivia-promo.png
  frontend/public/ai-trivia-promo2.png
  frontend/public/code-walkthrough-promo.png
  frontend/public/weekly-challenge-promo.png
  frontend/src/components/battles/MatchmakingScreen.tsx
  frontend/src/components/chat/games/gameRegistry.ts
  frontend/src/components/chat/integrations/GitHubFlow.test.tsx
  frontend/src/components/chat/integrations/GitHubFlow.tsx
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
  frontend/src/components/explore/GamePreviewTray.tsx
  frontend/src/components/landing/BattleSimulation.tsx
  frontend/src/components/landing/InvitationTray.tsx
  frontend/src/components/landing/UnifiedLanding.tsx
  frontend/src/components/marketplace/StripeConnectButton.tsx
  frontend/src/components/profile/ActivityInsightsTab.tsx
  frontend/src/components/profile/ClippedTab.tsx
  frontend/src/components/profile/sections/StorefrontSection.tsx
  frontend/src/components/promo/PromoVideoPlayer.tsx
  frontend/src/components/promo/scenes/CTAScene.tsx
  frontend/src/components/promo/scenes/CTAVideoScene.tsx
  frontend/src/components/promo/scenes/HookScene.tsx
  frontend/src/components/promo/scenes/PortfolioVideoScene.tsx
  frontend/src/pages/CheckoutPage.tsx
  frontend/src/pages/ExtensionPage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/pages/MarketplacePage.tsx
  frontend/src/pages/NotFoundPage.tsx
  frontend/src/pages/OnboardingPage.tsx
  frontend/src/pages/PerksPage.tsx
  frontend/src/pages/VendorDashboardPage.tsx
  frontend/src/pages/settings/CreatorSettingsPage.tsx
  frontend/src/pages/settings/NotificationsSettingsPage.tsx
  frontend/src/pages/settings/PrivacySettingsPage.tsx
  frontend/src/routes/index.tsx
Due: none

Improve Ava platform intro formatting
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Migrate SMS from Twilio to AWS SNS, fix video playback
  config/settings.py
  docker-compose.yml
  requirements.txt
  services/integrations/storage/storage_service.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix BattleSimulation variable and update consumer tests
  core/battles/tests/test_consumers.py
  frontend/src/components/landing/BattleSimulation.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix BattleSimulation: remove unused showFeedback variable
  frontend/src/components/landing/BattleSimulation.tsx
Due: none

Improve BattleSimulation intro with neon aesthetic
  frontend/public/battle-robot-cat-2.png
  frontend/src/components/landing/BattleSimulation.tsx
Due: none

Speed up battle simulation middle phases
  frontend/src/components/landing/BattleSimulation.tsx
Due: none

Add icon cloud to Tool Directory page hero
  frontend/src/components/common/IconCloud.tsx
  frontend/src/pages/ToolDirectoryPage.tsx
Due: none

Fix media project categorization to use Images & Video
  core/integrations/image/ai_analyzer.py
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Improve explore page masonry layout and update battle avatars
  frontend/src/components/common/MasonryGrid.tsx
  frontend/src/components/landing/BattleSimulation.tsx
  frontend/src/pages/ExplorePage.tsx
Due: none

Fix Learn page to show Sage instead of Ava and improve chat scroll
  frontend/src/components/chat/layouts/InlineChatLayout.tsx
  frontend/src/components/chat/messages/AssistantMessage.tsx
  frontend/src/components/chat/onboarding/LearningGoalSelectionMessage.tsx
  frontend/src/components/chat/onboarding/index.ts
  frontend/src/components/forms/ImageUpload.tsx
Due: none

Redesign mobile landing page with visual-first approach
  frontend/src/components/landing/FinalCTA.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/InvitationTray.tsx
  frontend/src/components/landing/ParallaxLanding.tsx
  frontend/src/components/landing/UnifiedLanding.tsx
  frontend/src/components/landing/WhatIsAllThrive.tsx
  frontend/src/pages/LandingTestPage.tsx
  frontend/src/routes/index.tsx
Due: none

Fix Learn page to show Sage instead of Ava and improve chat scroll (#83)
  frontend/src/components/chat/layouts/InlineChatLayout.tsx
  frontend/src/components/chat/messages/AssistantMessage.tsx
  frontend/src/components/chat/onboarding/LearningGoalSelectionMessage.tsx
  frontend/src/components/chat/onboarding/index.ts
  frontend/src/components/forms/ImageUpload.tsx
Due: none

Fix mobile SVG animations not showing on Safari
  frontend/src/components/landing/UnifiedLanding.tsx
  frontend/src/pages/AuthPage.tsx
Due: none

Fix mobile spacing on /allie-connect page
  frontend/src/pages/AllieConnectPage.tsx
Due: none

Update allie-connect background to match Ready to Thrive section
  frontend/src/pages/AllieConnectPage.tsx
Due: none

WIP: AI Collective rebuild - docs, brand voice, and Sprint 1 start
  config/celery.py
  core/clips/consumers.py
  core/clips/tasks.py
  core/urls.py
  core/users/migrations/0034_add_brand_voice.py
  core/users/models.py
  core/users/serializers.py
  core/users/views.py
  docs/collective-rebuild/architecture.md
  docs/collective-rebuild/full-rebuild.md
  docs/strategy/creator-marketplace.md
  frontend/src/components/creator/ClipCreatorChatPanel.tsx
  frontend/src/components/creator/ClipPreview.tsx
  frontend/src/components/layouts/SettingsLayout.tsx
  frontend/src/components/navigation/menuData.ts
  frontend/src/pages/CollectiveHomePage.tsx
  frontend/src/pages/CollectiveLandingPage.tsx
  frontend/src/pages/CreatePage.tsx
  frontend/src/pages/NeonGlassStyleguide.tsx
  frontend/src/pages/settings/BrandVoiceSettingsPage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/brandVoice.ts
  frontend/src/services/clipApi.ts
  frontend/src/types/models.ts
  services/agents/clip/agent.py
  services/agents/clip/prompts.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add Collective landing page with waitlist form and update AllieConnectPage
  docs/collective-rebuild/architecture.md
  docs/collective-rebuild/data-model.md
  docs/collective-rebuild/full-rebuild.md
  docs/collective-rebuild/implementation-plan.md
  docs/collective-rebuild/profile-redesign.md
  docs/strategy/creator-marketplace.md
  frontend/src/pages/AllieConnectPage.tsx
  frontend/src/pages/CollectiveLandingPage.tsx
  frontend/src/routes/index.tsx
Due: none

Fix TypeScript build errors
  frontend/src/components/navigation/menuData.ts
  frontend/src/pages/CollectiveHomePage.tsx
  frontend/src/routes/index.tsx
Due: none

Update .gitignore for open source preparation
  .gitignore
Due: none

Fix TypeError on /home from undefined menuSections
  frontend/src/components/navigation/TopNavigation.tsx
Due: none

Update tagline and social metadata to "The AI Network Collective"
  docs/collective-rebuild/architecture.md
  frontend/index.html
  frontend/src/components/common/SEO.tsx
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/seoPresets.ts
  frontend/src/pages/CollectiveLandingPage.tsx
Due: none
