Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

.pre-commit-config.yaml:

repos:
  # Ruff for linting and formatting (single tool per project preference)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-ast  # Check Python syntax by parsing AST

  # Django specific checks
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: ['--target-version', '4.2']

  # Custom hooks for AllThrive AI rules
  - repo: local
    hooks:
      # Check for hardcoded URLs
      - id: no-hardcoded-urls
        name: No Hardcoded URLs
        entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/fixtures/.*|\
            .*/migrations/.*|\
            scripts/pre-commit-hooks/.*|\
            config/settings\.py$\
          )$

      # Check for missing permission classes
      - id: check-permissions
        name: Check ViewSet Permissions
        entry: python scripts/pre-commit-hooks/check_permissions.py
        language: python
        files: (views|viewsets)\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for magic numbers
      - id: check-magic-numbers
        name: Check for Magic Numbers
        entry: python scripts/pre-commit-hooks/check_magic_numbers.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/migrations/.*|\
            .*/constants\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for core.models imports (should use domain imports)
      - id: no-core-models-import
        name: No core.models Imports
        entry: python scripts/pre-commit-hooks/check_no_core_models.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/admin\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Ensure settings.AUTH_USER_MODEL usage
      - id: check-auth-user-model
        name: Check AUTH_USER_MODEL Usage
        entry: python scripts/pre-commit-hooks/check_auth_user_model.py
        language: python
        files: models\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/users/models\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

Fix logging permissions - create logs directory in Docker image
  Dockerfile.prod
Due: none

Fix log file ownership after collectstatic
  Dockerfile.prod
Due: none

Use PG 18.1
  infrastructure/cloudformation/03-rds.yaml
Due: none

Create a Staging Server on AWS
  .github/workflows/deploy-aws.yml
  Dockerfile
  Dockerfile.prod
  infrastructure/cloudformation/00-master.yaml
  infrastructure/cloudformation/01-vpc.yaml
  infrastructure/cloudformation/02-security-groups.yaml
  infrastructure/cloudformation/03-rds.yaml
  infrastructure/cloudformation/04-elasticache.yaml
  infrastructure/cloudformation/05-s3.yaml
  infrastructure/cloudformation/06-ecr.yaml
  infrastructure/cloudformation/07-iam.yaml
  infrastructure/cloudformation/08-secrets.yaml
  infrastructure/cloudformation/09-alb.yaml
  infrastructure/cloudformation/10-ecs.yaml
  infrastructure/cloudformation/11-cloudfront.yaml
  infrastructure/cloudformation/README.md
  infrastructure/cloudformation/deploy.sh
  infrastructure/cloudformation/parameters/production.json
  infrastructure/cloudformation/parameters/staging.json
Due: none

Main Rebase
  Dockerfile
  Dockerfile.prod
  config/settings.py
  core/middleware.py
  frontend/package-lock.json
  infrastructure/cloudformation/10-ecs.yaml
  infrastructure/cloudformation/deploy.sh
  services/agents/auth/checkpointer.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Redis SSL Fix
  config/settings.py
  infrastructure/cloudformation/04-elasticache.yaml
  infrastructure/cloudformation/10-ecs.yaml
  services/agents/auth/checkpointer.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Additional fixes for SSL on Redis
  config/settings.py
  infrastructure/cloudformation/04-elasticache.yaml
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

tasks.py merge conflict fix
  core/battles/tasks.py
  infrastructure/cloudformation/11-cloudfront.yaml
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fixing some mobile styling.
  frontend/src/components/landing/HeroSection.tsx
  frontend/src/components/landing/IconCloud.tsx
  frontend/src/pages/LandingPage.tsx
Due: none

Minor homepage styling updates.
  config/settings.py
  frontend/public/all-thrvie-logo-blue-900x900.png
  frontend/public/all-thrvie-logo-blue.png
  frontend/src/App.tsx
  frontend/src/components/ScrollToTop.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/IconCloud.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/index.css
  frontend/src/pages/PrivacyPolicyPage.tsx
  frontend/src/pages/TermsOfServicePage.tsx
  frontend/src/routes/index.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updates to prompt battles.
  config/celery.py
  core/audits/models.py
  core/auth/serializers.py
  core/auth/views.py
  core/battles/models.py
  core/battles/services.py
  core/battles/tasks.py
  core/battles/tests/test_battle_service.py
  core/battles/tests/test_guest_flow.py
  core/battles/views.py
  core/urls.py
  core/users/migrations/0016_add_guest_user_support.py
  core/users/models.py
  frontend/src/components/battles/ChallengeDisplay.tsx
  frontend/src/components/battles/GuestSignupModal.tsx
  frontend/src/components/battles/PromptEditor.tsx
  frontend/src/components/battles/index.ts
  frontend/src/components/onboarding/EmberAdventureBanner.tsx
  frontend/src/pages/battles/BattleInvitePage.tsx
  frontend/src/pages/battles/BattlePage.tsx
  frontend/src/types/models.ts
  services/agents/auth/checkpointer.py
  services/auth/__init__.py
  services/auth/guest.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add migrations for LINK invitation type and guest audit actions
  core/battles/migrations/0002_alter_battleinvitation_invitation_type.py
  core/migrations/0040_alter_userauditlog_action.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Reduce GitHub Actions artifact storage usage
  .github/workflows/ci.yml
  .github/workflows/cleanup-artifacts.yml
Due: none

Temporarily disable artifact uploads to unblock PR
  .github/workflows/ci.yml
Due: none

Add E2E tests for shareable link invitation flow
  core/battles/tests/test_guest_flow.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix deploy workflow - add test environment variables
  .github/workflows/deploy-aws.yml
Due: none

Fix achievement service test import path
  core/achievements/tests/test_achievement_service.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Use Django test runner in deploy workflow (consistent with ci.yml)
  .github/workflows/deploy-aws.yml
Due: none

Fix CI/CD pipeline and add architecture documentation
  .github/workflows/deploy-aws.yml
  config/settings.py
  docs/evergreen-architecture/10-CICD-PIPELINE.md
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix Docker build - provide build-time SECRET_KEY for collectstatic
  Dockerfile.prod
Due: none

Fix Docker build - add COOKIE_DOMAIN build-time placeholder
  Dockerfile.prod
Due: none

Fix ECS execute-command - use --interactive flag
  .github/workflows/deploy-aws.yml
Due: none

Add SERVER_EMAIL setting for error emails
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Remove SendGrid config from .env.example - using AWS SES
  .env.example
Due: none

Fix static file serving and add reCAPTCHA key to build
  .github/workflows/deploy-aws.yml
  config/settings.py
  requirements.txt
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add OAuth setup commands to deployment workflow
  .github/workflows/deploy-aws.yml
Due: none

Skip CI on main merge - already tested on PR
  .github/workflows/ci.yml
Due: none

Fix VITE_API_URL default to production API
  .github/workflows/deploy-aws.yml
Due: none

fix: Set ACCOUNT_DEFAULT_HTTP_PROTOCOL to https in production for OAuth callbacks
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

fix: Force HTTPS for OAuth callbacks in all environments
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Merge pull request #39 from allthriveai/aws-deployment-improvements
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add AWS SES email support for invitation notifications
  .env.example
  .env.production.example
  core/users/invitation_views.py
  infrastructure/cloudformation/10-ecs.yaml
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Modified package-lock.json
  frontend/package-lock.json
Due: none

Fix npm failure
  frontend/.npmrc
  frontend/package-lock.json
Due: none

Email support (#40)
  .env.example
  .env.production.example
  core/users/invitation_views.py
  frontend/.npmrc
  frontend/package-lock.json
  infrastructure/cloudformation/10-ecs.yaml
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

fix: Support both ARM64 (Apple Silicon) and AMD64 (AWS) architectures
  Dockerfile
  docker-compose.yml
Due: none

Updating Websockets, profiles, 404 page, and responive design edits.
  .github/workflows/deploy-aws.yml
  core/admin.py
  core/management/commands/seed_curation_agents.py
  core/urls.py
  core/users/views.py
  frontend/package-lock.json
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/favicon_io (6)/site.webmanifest
  frontend/public/rss-icon.svg
  frontend/public/youtube-icon.svg
  frontend/src/components/battles/MatchmakingScreen.tsx
  frontend/src/components/editor/MermaidBlock.tsx
  frontend/src/components/navigation/MobileMenu.tsx
  frontend/src/components/navigation/NavDropdown.tsx
  frontend/src/components/navigation/menuData.ts
  frontend/src/components/onboarding/EmberOnboardingModal.tsx
  frontend/src/components/profile/ProfileHeader.tsx
  frontend/src/components/projects/MermaidBlockEditor.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/shared/MermaidDiagram.tsx
  frontend/src/components/thrive-circle/CircleActivityFeed.tsx
  frontend/src/config/api.ts
  frontend/src/lib/mermaidConfig.ts
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/games/EthicsDefenderGame.tsx
  frontend/src/pages/play/BattleDetailPage.tsx
  frontend/src/services/projects.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Updating embers message.
  frontend/src/components/onboarding/EmberAdventureBanner.tsx
Due: none

Styling updates (#41)
  .github/workflows/deploy-aws.yml
  Dockerfile
  core/admin.py
  core/management/commands/seed_curation_agents.py
  core/urls.py
  core/users/views.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/favicon_io (6)/site.webmanifest
  frontend/public/rss-icon.svg
  frontend/public/youtube-icon.svg
  frontend/src/components/battles/MatchmakingScreen.tsx
  frontend/src/components/editor/MermaidBlock.tsx
  frontend/src/components/navigation/MobileMenu.tsx
  frontend/src/components/navigation/NavDropdown.tsx
  frontend/src/components/navigation/menuData.ts
  frontend/src/components/onboarding/EmberAdventureBanner.tsx
  frontend/src/components/onboarding/EmberOnboardingModal.tsx
  frontend/src/components/profile/ProfileHeader.tsx
  frontend/src/components/projects/MermaidBlockEditor.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/shared/MermaidDiagram.tsx
  frontend/src/components/thrive-circle/CircleActivityFeed.tsx
  frontend/src/config/api.ts
  frontend/src/lib/mermaidConfig.ts
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/games/EthicsDefenderGame.tsx
  frontend/src/pages/play/BattleDetailPage.tsx
  frontend/src/services/projects.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix race conditons for 404 pages.
  frontend/src/pages/ProfilePage.tsx
Due: none
