Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

no-hardcoded-urls:
  name: No Hardcoded URLs
  entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
  language: python

check-permissions:
  name: Check ViewSet Permissions
  entry: python scripts/pre-commit-hooks/check_permissions.py
  language: python

check-magic-numbers:
  name: Check for Magic Numbers
  entry: python scripts/pre-commit-hooks/check_magic_numbers.py
  language: python

no-core-models-import:
  name: No core.models Imports
  entry: python scripts/pre-commit-hooks/check_no_core_models.py
  language: python

check-auth-user-model:
  name: Check AUTH_USER_MODEL Usage
  entry: python scripts/pre-commit-hooks/check_auth_user_model.py
  language: python

debug: add logging for Reddit video detection in ProjectCard
  frontend/src/components/projects/ProjectCard.tsx
Due: none

feat: add fallback video detection for Reddit threads in ProjectCard
  frontend/src/components/projects/ProjectCard.tsx
Due: none

feat: add automated Reddit agent syncing every 4 hours
  config/celery.py
  core/integrations/reddit_tasks.py
  frontend/src/pages/ExplorePage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

fix: conditionally render IntelligentChatPanel to reset state on close
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/projects/RightAddProjectChat.test.tsx
  frontend/src/components/projects/RightAddProjectChat.tsx
  frontend/src/components/projects/RightAddProjectPanel.tsx
  frontend/src/components/projects/hero/HeroVideo.tsx
  services/reddit_sync_service.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Projects, explore, reddit agents.
  Dockerfile
  config/urls.py
  core/integrations/admin.py
  core/integrations/migrations/0005_add_deleted_reddit_threads.py
  core/integrations/migrations/0006_add_deletion_type.py
  core/integrations/reddit_models.py
  core/migrations/0020_add_tags_manually_edited.py
  core/projects/models.py
  core/projects/tests/test_manual_tag_editing.py
  core/projects/views.py
  core/views/media_views.py
  docs/MANUAL_TAG_EDITING.md
  docs/REDDIT_DELETION_TRACKING.md
  frontend/src/components/chat/ChatPlusMenu.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/projects/hero/HeroVideo.tsx
  frontend/src/components/projects/hero/ProjectHero.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/components/projects/reddit/RedditThreadLayout.tsx
  frontend/src/components/projects/shared/InlineTagEditor.tsx
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/services/projects.ts
  frontend/src/types/models.ts
  frontend/vite.config.ts
  services/project_agent/agent.py
  services/project_agent/tools.py
  services/project_service.py
  services/reddit_sync_service.py
  services/reddit_video_downloader.py
  services/tests/test_deleted_reddit_threads.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add migrations for user role/tier and reddit agent updates
  core/integrations/github/repository_analyzer.py
  core/integrations/migrations/0007_alter_redditcommunityagent_options_and_more.py
  core/learning_paths/signals.py
  core/management/commands/export_tools.py
  core/management/commands/seed_tools.py
  core/users/migrations/0005_alter_user_role_alter_user_tier.py
  scripts/pre-commit-hooks/check_dry_violations.py
  services/activity_insights_service.py
  services/learning_path_service.py
  services/moderation/image_moderator.py
  services/personalization/cache.py
  services/personalization/engine.py
  services/reddit_sync_service.py
  services/weaviate/client.py
  services/weaviate/embeddings.py
  services/weaviate/signals.py
  services/weaviate/tasks.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating tests.
  core/projects/tests/test_projects.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Improve DRY violation checker configuration
  .pre-commit-config.yaml
  scripts/pre-commit-hooks/check_dry_violations.js
  scripts/pre-commit-hooks/check_dry_violations.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add documentation for DRY checker improvements
  docs/DRY_CHECKER_IMPROVEMENTS.md
Due: none

Updating curation agents and precommit hooks
  core/auth/serializers.py
  core/fixtures/tools.yaml
  core/thrive_circle/migrations/0005_guided_quest_support.py
  core/thrive_circle/models.py
  core/thrive_circle/serializers.py
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/navigation/TopNavigation.tsx
  frontend/src/components/side-quests/ActiveQuestIndicator.tsx
  frontend/src/components/side-quests/MySideQuestsPanel.tsx
  frontend/src/components/side-quests/QuestPathwayAccordion.tsx
  frontend/src/components/side-quests/QuestProgressMap.tsx
  frontend/src/components/side-quests/QuestStepCard.tsx
  frontend/src/components/side-quests/QuestTray.tsx
  frontend/src/hooks/useActiveQuest.ts
  frontend/src/index.css
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/SideQuestsPage.tsx
  frontend/src/types/models.ts
  frontend/tailwind.config.js
  services/integrations/reddit/sync.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import, check-auth-user-model

refactor: fix DRY violations in SideQuestViewSet
  core/thrive_circle/views.py
  docs/ASK_FOR_HELP_FEATURE.md
  frontend/src/components/chat/ChatPlusMenu.tsx
  frontend/src/components/chat/HelpQuestionsPanel.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/chat/index.ts
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/navigation/TopNavigation.tsx
  frontend/src/components/side-quests/ActiveQuestIndicator.tsx
  frontend/src/components/side-quests/QuestTray.tsx
  frontend/src/data/helpQuestions.ts
  frontend/src/hooks/useActiveQuest.ts
  frontend/src/hooks/useQuestCategories.ts
  frontend/src/hooks/useSideQuests.ts
  frontend/src/pages/SideQuestsPage.tsx
  frontend/src/services/thriveCircle.ts
  frontend/src/utils/colors.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Side quests and quizzes.
  core/auth/views.py
  core/integrations/tasks.py
  core/projects/comment_views.py
  core/projects/views.py
  core/quizzes/views.py
  core/thrive_circle/migrations/0006_add_scalability_indexes.py
  core/thrive_circle/migrations/0007_update_quest_titles.py
  core/thrive_circle/models.py
  core/thrive_circle/quest_tracker.py
  core/thrive_circle/seed_quests.py
  core/thrive_circle/serializers.py
  core/thrive_circle/services.py
  core/thrive_circle/signals.py
  core/thrive_circle/tests.py
  core/thrive_circle/utils.py
  core/thrive_circle/views.py
  docs/evergreen-architecture/Feature Matrix - Membership Tiers.md
  frontend/src/App.tsx
  frontend/src/components/projects/CommentTray.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/quiz/types.ts
  frontend/src/components/side-quests/QuestCompletionCelebration.tsx
  frontend/src/components/side-quests/QuestTray.tsx
  frontend/src/contexts/QuestCompletionContext.tsx
  frontend/src/hooks/useActiveQuest.ts
  frontend/src/hooks/useProjectLike.ts
  frontend/src/index.css
  frontend/src/pages/SideQuestsPage.tsx
  frontend/src/pages/quizzes/QuizPage.tsx
  frontend/src/services/comments.ts
  frontend/src/services/projects.ts
  frontend/src/utils/categoryColors.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Refactor: reduce code duplication in signals and styling
  core/thrive_circle/signals.py
  frontend/src/components/side-quests/QuestTray.tsx
  frontend/src/pages/SideQuestsPage.tsx
  frontend/src/utils/categoryColors.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Support chat updates.
  .env.example
  config/settings.py
  core/auth/views.py
  docs/STRIPE_SETUP.md
  docs/billing-stripe-implementation-plan.md
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/profile/ActivityInsightsTab.tsx
  frontend/src/services/auth.ts
  requirements.txt
  services/activity_insights.py
  test_stripe.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

feat: Add Ask for Help feature with precanned questions
  config/settings.py
  core/ai_usage/integration_example.py
  core/urls.py
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/profile/ActivityInsightsTab.tsx
  frontend/src/hooks/useAchievements.ts
  frontend/src/index.css
  frontend/src/pages/ProfilePage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/api.ts
  frontend/src/services/auth.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Homepage cook by opus.
  STRIPE_CRITICAL_FIXES_REQUIRED.md
  STRIPE_FIXES_APPLIED.md
  core/billing/management/commands/seed_billing.py
  core/billing/serializers.py
  core/billing/services.py
  core/billing/views.py
  frontend/src/components/landing/FinalCTA.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/SideQuestsPreview.tsx
  frontend/src/components/ui/CircularGallery.tsx
  frontend/src/services/billing.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Update django-allauth settings to new format
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add DRY refactoring: constants, base test classes, and YouTube helpers
  STRIPE_FIXES_APPLIED.md
  core/billing/management/commands/seed_billing.py
  core/billing/models.py
  core/billing/serializers.py
  core/billing/services.py
  core/billing/utils.py
  core/billing/views.py
  core/constants.py
  core/integrations/youtube/views.py
  core/tests/base.py
  core/tests/fixtures.py
  frontend/src/components/landing/FinalCTA.tsx
  frontend/src/components/landing/IconCloud.tsx
  frontend/src/components/landing/SideQuestsPreview.tsx
  frontend/src/components/navigation/NavDropdown.tsx
  frontend/src/components/ui/CircularGallery.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/services/billing.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

docker.
  .dockerignore
  config/celery.py
  core/billing/services.py
  core/integrations/rss_tasks.py
  docker-compose.yml
  frontend/src/components/about/RightAboutPanel.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/SideQuestsPreview.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/PricingPage.tsx
  frontend/tailwind.config.js
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

ci: add pip caching and remove venv overhead to fix slow builds
  .github/workflows/ci.yml
Due: none

deps: pin package versions to speed up pip dependency resolution
  requirements.txt
Due: none

fix: remove non-existent google-genai package and use version ranges for langchain
  requirements.txt
Due: none

fix: use working langchain versions from main branch
  requirements.txt
Due: none

revert: restore working requirements.txt from main branch
  requirements.txt
Due: none

fix: restore branch requirements without google-genai package
  requirements.txt
Due: none

fix: add back google-genai (used for Gemini image generation)
  requirements.txt
Due: none

fix: pin to actual working versions from Docker container
  requirements.txt
Due: none

fix: update test imports after services refactoring
  core/integrations/github/tests/test_ai_analyzer.py
  core/management/commands/create_chatgpt_agent.py
  core/management/commands/create_reddit_agent.py
  core/management/commands/create_veo3_reddit_agent.py
  core/management/commands/moderate_reddit_threads.py
  core/management/commands/reprocess_reddit_topics.py
  core/projects/tests/test_manual_tag_editing.py
  core/thrive_circle/tests.py
  core/users/tests/test_user_username.py
  services/agents/project/tests/test_agent.py
  services/agents/project/tests/test_e2e_project_creation.py
  services/agents/project/tests/test_real_github_import.py
  services/agents/project/tests/test_streaming_integration.py
  services/agents/project/tests/test_tools.py
  services/tests/test_ai_provider.py
  services/tests/test_deleted_reddit_threads.py
  services/tests/test_keyword_filter.py
  services/tests/test_reddit_moderation.py
  services/tests/test_topic_extraction.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

fix: update remaining patch paths in AI provider tests
  services/tests/test_ai_provider.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

docs and explore.
  core/projects/views.py
  docs/TODO_AUDIT.md
  frontend/src/pages/ExplorePage.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

fixing migrations.
  core/integrations/migrations/0010_rename_youtube_fee_status_a1b2c3_idx_youtube_fee_status_3f045e_idx_and_more.py
  core/migrations/0025_alter_battlesubmission_submission_type_and_more.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating tool descriptions.
  core/fixtures/tools.yaml
  frontend/src/components/battles/JudgingReveal.tsx
  frontend/src/components/battles/MatchmakingScreen.tsx
  frontend/src/components/battles/index.ts
  frontend/src/components/layouts/SettingsLayout.tsx
  frontend/src/components/projects/sections/BattleResultSection.tsx
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/GettingStartedPage.tsx
  frontend/src/pages/battles/BattlePage.tsx
  frontend/src/routes/index.tsx
  services/personalization/cold_start.py
  services/personalization/engine.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Path conditions:
  no-hardcoded-urls: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/fixtures/.*|\
  .*/migrations/.*|\
  scripts/pre-commit-hooks/.*|\
  config/settings\.py$\
)$

  check-permissions: any of: (views|viewsets)\.py$, but not: (?x)^(\
  .*/tests/.*|\
  scripts/pre-commit-hooks/.*\
)$

  check-magic-numbers: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/migrations/.*|\
  .*/constants\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  no-core-models-import: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/admin\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  check-auth-user-model: any of: models\.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/users/models\.py$|\
  scripts/pre-commit-hooks/.*\
)$

