Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

.pre-commit-config.yaml:

repos:
  # Ruff for linting and formatting (single tool per project preference)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-ast  # Check Python syntax by parsing AST

  # Django specific checks
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: ['--target-version', '4.2']

  # Custom hooks for AllThrive AI rules
  - repo: local
    hooks:
      # Check for hardcoded URLs
      - id: no-hardcoded-urls
        name: No Hardcoded URLs
        entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/fixtures/.*|\
            .*/migrations/.*|\
            scripts/pre-commit-hooks/.*|\
            config/settings\.py$\
          )$

      # Check for missing permission classes
      - id: check-permissions
        name: Check ViewSet Permissions
        entry: python scripts/pre-commit-hooks/check_permissions.py
        language: python
        files: (views|viewsets)\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for magic numbers
      - id: check-magic-numbers
        name: Check for Magic Numbers
        entry: python scripts/pre-commit-hooks/check_magic_numbers.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/migrations/.*|\
            .*/constants\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for core.models imports (should use domain imports)
      - id: no-core-models-import
        name: No core.models Imports
        entry: python scripts/pre-commit-hooks/check_no_core_models.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/admin\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Ensure settings.AUTH_USER_MODEL usage
      - id: check-auth-user-model
        name: Check AUTH_USER_MODEL Usage
        entry: python scripts/pre-commit-hooks/check_auth_user_model.py
        language: python
        files: models\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/users/models\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

Updates post postgres updates.
  core/auth/adapter.py
  docker-compose.yml
  frontend/package-lock.json
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

updating login.
  core/social/signals.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

fix: Resolve Playwright strict mode violations in e2e tests
  frontend/e2e/login.spec.ts
  frontend/e2e/side-quests.spec.ts
Due: none

fixing e2e tests.
  frontend/e2e/login.spec.ts
  frontend/e2e/side-quests.spec.ts
Due: none

increasing timeout time for playwright.
  frontend/playwright.config.ts
Due: none

fixing e2e tests.
  frontend/e2e/login.spec.ts
Due: none

e2e test.
  .github/workflows/ci.yml
Due: none

new make commands
  Makefile
  core/social/views.py
  frontend/src/components/chat/ChatPlusMenu.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/layouts/SettingsLayout.tsx
  frontend/src/components/pitch/slides/CompetitionSlide.tsx
  frontend/src/components/pitch/slides/TitleSlide.tsx
  frontend/src/components/pitch/slides/TractionSlide.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Figma and ember.
  Makefile
  frontend/src/App.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/onboarding/EmberAdventureBanner.tsx
  frontend/src/components/onboarding/EmberOnboardingModal.tsx
  frontend/src/components/onboarding/EmberOnboardingProvider.tsx
  frontend/src/components/onboarding/index.ts
  frontend/src/hooks/useEmberOnboarding.ts
  frontend/src/pages/OnboardingPage.tsx
  services/integrations/social/oauth_service.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

onboarding, admin tags, and more tools.
  core/integrations/figma/integration.py
  core/social/views.py
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/onboarding/EmberOnboardingModal.tsx
  frontend/src/pages/settings/IntegrationsSettingsPage.tsx
  services/agents/project/prompts.py
  services/integrations/social/oauth_service.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

ESlinting.
  .pre-commit-config.yaml
  config/settings.py
  core/integrations/github/views.py
  core/integrations/views.py
  core/users/middleware.py
  docs/TOKEN_PACK_SETUP.md
  frontend/e2e/side-quests.spec.ts
  frontend/eslint.config.js
  frontend/lint-staged-wrapper.sh
  frontend/src/components/billing/BuyTokensModal.tsx
  frontend/src/components/billing/index.ts
  frontend/src/components/integrations/VideoPickerModal.tsx
  frontend/src/components/learning/LearningPathsTab.tsx
  frontend/src/components/marketplace/ProductCheckoutModal.tsx
  frontend/src/components/projects/shared/EditableBlocksContainer.tsx
  frontend/src/components/thrive-circle/CircleActivityToast.tsx
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/hooks/useMatchmaking.ts
  frontend/src/pages/CheckoutPage.tsx
  frontend/src/pages/SideQuestsPage.tsx
  frontend/src/pages/play/BattleDetailPage.tsx
  frontend/src/pages/play/PromptBattlePage.tsx
  frontend/src/pages/quizzes/QuizPage.tsx
  frontend/src/pages/settings/BillingSettingsPage.tsx
  frontend/src/pages/settings/ReferralsPage.tsx
  frontend/src/pages/settings/SocialSettingsPage.tsx
  frontend/src/services/agents/ExampleAgents.ts
  frontend/src/services/billing.ts
  frontend/src/utils/slug.ts
  frontend/src/utils/websocket.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Perforamce, frontend and auth.
  .github/workflows/ci.yml
  Dockerfile
  config/settings.py
  core/battles/tasks.py
  core/integrations/authentication.py
  core/integrations/github/views.py
  core/integrations/views.py
  core/projects/views.py
  core/quizzes/views.py
  core/users/serializers.py
  core/users/views.py
  docs/OAUTH_SITE_CONFIGURATION.md
  scripts/startup.sh
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

removing manual mounting from startup script.
  core/management/commands/setup_github_oauth.py
  core/management/commands/setup_google_oauth.py
  core/management/commands/setup_linkedin_oauth.py
  core/management/commands/setup_oauth.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix ruff import sorting
  core/achievements/tests/test_achievement_service.py
  core/management/commands/create_rss_agent.py
  scripts/verify_github_import.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fixing ruff errors.
  core/achievements/tests/test_achievement_service.py
  core/management/commands/create_rss_agent.py
  frontend/src/pages/SideQuestsPage.tsx
  scripts/verify_github_import.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Configure ruff isort to recognize first-party imports
  pyproject.toml
Due: none

Configure bandit to skip non-security issues
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Stripe and ruff errors.
  core/billing/management/commands/seed_billing.py
  core/billing/utils.py
  core/billing/views.py
  frontend/eslint.config.js
  frontend/src/components/billing/BuyTokensModal.tsx
  frontend/src/components/landing/IconCloud.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/context/ProjectContext.tsx
  frontend/src/context/SectionEditorContext.tsx
  frontend/src/hooks/useBattleNotifications.ts
  frontend/src/hooks/useBattleWebSocket.ts
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/hooks/useMatchmaking.ts
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/play/BattleDetailPage.tsx
  frontend/src/pages/settings/BillingSettingsPage.tsx
  frontend/src/services/billing.ts
  frontend/src/utils/errorMessages.ts
  frontend/src/utils/sentry.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

test failures.
  .github/workflows/ci.yml
Due: none

Fixing npm issues.
  .github/workflows/ci.yml
Due: none

Add @vitest/coverage-v8 dependency for CI
  frontend/package-lock.json
  frontend/package.json
Due: none

Update vitest to v4 to match coverage dependency
  frontend/package-lock.json
  frontend/package.json
Due: none

Fix frontend test setup and allow CI to continue on test failures
  .github/workflows/ci.yml
  frontend/src/test/setup.ts
  frontend/src/test/test-utils.tsx
Due: none

Updating pricing page.
  Makefile
  core/billing/management/commands/seed_billing.py
  docs/PRICING_PROFITABILITY_ANALYSIS.md
  frontend/src/pages/PricingPage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix TypeScript build errors and enhance security configuration
  config/settings.py
  frontend/src/hooks/useBattleNotifications.test.ts
  frontend/src/pages/settings/IntegrationsSettingsPage.tsx
  frontend/src/services/api.ts
  frontend/src/test/test-utils.tsx
  frontend/src/utils/sentry.ts
  frontend/tsconfig.app.json
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fixing tests after frontend updates.
  .github/workflows/ci.yml
  docs/PRICING_PROFITABILITY_ANALYSIS.md
  frontend/src/components/layouts/DashboardLayout.test.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/pages/ProfilePage.test.tsx
  frontend/src/pages/VendorDashboardPage.test.tsx
  frontend/src/test/test-utils.tsx
Due: none

Update ci cd workflow to prevent PRs with failing tests to pass.
  .github/workflows/ci.yml
Due: none

Use PG 18.1
  infrastructure/cloudformation/03-rds.yaml
Due: none

Create a Staging Server on AWS
  .github/workflows/deploy-aws.yml
  Dockerfile
  Dockerfile.prod
  infrastructure/cloudformation/00-master.yaml
  infrastructure/cloudformation/01-vpc.yaml
  infrastructure/cloudformation/02-security-groups.yaml
  infrastructure/cloudformation/03-rds.yaml
  infrastructure/cloudformation/04-elasticache.yaml
  infrastructure/cloudformation/05-s3.yaml
  infrastructure/cloudformation/06-ecr.yaml
  infrastructure/cloudformation/07-iam.yaml
  infrastructure/cloudformation/08-secrets.yaml
  infrastructure/cloudformation/09-alb.yaml
  infrastructure/cloudformation/10-ecs.yaml
  infrastructure/cloudformation/11-cloudfront.yaml
  infrastructure/cloudformation/README.md
  infrastructure/cloudformation/deploy.sh
  infrastructure/cloudformation/parameters/production.json
  infrastructure/cloudformation/parameters/staging.json
Due: none

Redis SSL Fix
  config/settings.py
  infrastructure/cloudformation/04-elasticache.yaml
  infrastructure/cloudformation/10-ecs.yaml
  services/agents/auth/checkpointer.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Celery deployment fix
  Dockerfile
  Dockerfile.prod
  config/settings.py
  core/middleware.py
  frontend/package-lock.json
  infrastructure/cloudformation/10-ecs.yaml
  infrastructure/cloudformation/deploy.sh
  services/agents/auth/checkpointer.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Additional fixes for SSL on Redis
  config/settings.py
  infrastructure/cloudformation/04-elasticache.yaml
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Cloudfront provisioning
  infrastructure/cloudformation/11-cloudfront.yaml
Due: none

Fix AWS deployment configuration
  .github/workflows/deploy-aws.yml
  docker-compose.yml
Due: none

Updates and rebase of AWSDeployment and main.
  docs/COMMUNITY_MESSAGING_PLAN.md
Due: none

Updates after rebase between main and AWSDeployment.
  config/settings.py
  services/agents/auth/checkpointer.py
  test-frontend-deploy.sh
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating og image.
  AWS_DEPLOYMENT_STATUS.md
  frontend/index.html
  frontend/public/og-image.jpg
  frontend/src/components/common/SEO.tsx
  test-production-build.sh
Due: none

Fix Redis SSL configuration for Django cache backend
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix Redis cache SSL configuration conflict
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import
