Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

no-hardcoded-urls:
  name: No Hardcoded URLs
  entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
  language: python

check-permissions:
  name: Check ViewSet Permissions
  entry: python scripts/pre-commit-hooks/check_permissions.py
  language: python

check-magic-numbers:
  name: Check for Magic Numbers
  entry: python scripts/pre-commit-hooks/check_magic_numbers.py
  language: python

no-core-models-import:
  name: No core.models Imports
  entry: python scripts/pre-commit-hooks/check_no_core_models.py
  language: python

check-auth-user-model:
  name: Check AUTH_USER_MODEL Usage
  entry: python scripts/pre-commit-hooks/check_auth_user_model.py
  language: python

Preload lesson images when card enters viewport instead of on expand
  frontend/src/pages/LearningPathDetailPage.tsx
Due: none

Reduce chat header font size
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
Due: none

Add share learning paths to explore feed feature
  core/learning_paths/migrations/0016_add_publish_fields_to_savedlearningpath.py
  core/learning_paths/models.py
  core/learning_paths/serializers.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  frontend/src/components/explore/LearningPathCard.tsx
  frontend/src/components/explore/TabNavigation.tsx
  frontend/src/hooks/useLearningPaths.ts
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/services/learningPaths.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Clarify Share button text on learning paths
  frontend/src/pages/LearningPathDetailPage.tsx
Due: none

Use 4px border radius on learning path card in Explore
  frontend/src/components/explore/LearningPathCard.tsx
Due: none

Move Share button to bottom-right and publish paths by default
  core/learning_paths/models.py
  frontend/src/pages/LearningPathDetailPage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import, check-auth-user-model

Integrate learning paths into explore feed with preview tray
  frontend/src/components/explore/LearningPathCard.tsx
  frontend/src/components/explore/TabNavigation.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/learning/LearningPathPreviewTray.tsx
  frontend/src/context/LearningPathPreviewTrayContext.tsx
  frontend/src/pages/ExplorePage.tsx
Due: none

Add curriculum preview and topics to learning path preview tray
  core/learning_paths/serializers.py
  frontend/src/components/learning/LearningPathPreviewTray.tsx
  frontend/src/services/learningPaths.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Remove user avatar and info from learning path preview tray
  frontend/src/components/learning/LearningPathPreviewTray.tsx
Due: none

Return all topics in learning path preview (remove 5 limit)
  core/learning_paths/serializers.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add dragon-themed Ember chat, Weaviate indexing, and marketplace docs
  core/management/commands/setup_weaviate.py
  docs/credit-transfers-plan.md
  docs/marketplace-plan.md
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
  frontend/src/components/chat/messages/AssistantMessage.tsx
  frontend/src/components/chat/messages/LoadingMessage.tsx
  services/weaviate/embeddings.py
  services/weaviate/schema.py
  services/weaviate/signals.py
  services/weaviate/tasks.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix migration default for is_published to match model (True)
  core/learning_paths/migrations/0016_add_publish_fields_to_savedlearningpath.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Seed commands learning updates (#63)
  .github/workflows/deploy-aws.yml
  CLAUDE.md
  Makefile
  core/ai_usage/management/commands/backfill_platform_stats.py
  core/community/agent_dm_service.py
  core/community/management/__init__.py
  core/community/management/commands/__init__.py
  core/community/management/commands/seed_rooms.py
  core/learning_paths/migrations/0016_add_publish_fields_to_savedlearningpath.py
  core/learning_paths/models.py
  core/learning_paths/serializers.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  core/management/commands/setup_weaviate.py
  docs/credit-transfers-plan.md
  docs/marketplace-plan.md
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
  frontend/src/components/chat/messages/AssistantMessage.tsx
  frontend/src/components/chat/messages/LoadingMessage.tsx
  frontend/src/components/explore/LearningPathCard.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/learning/LearningPathPreviewTray.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/context/LearningPathPreviewTrayContext.tsx
  frontend/src/hooks/useLearningPaths.ts
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/services/learningPaths.ts
  services/agents/shared/__init__.py
  services/agents/shared/platform_knowledge.py
  services/weaviate/embeddings.py
  services/weaviate/schema.py
  services/weaviate/signals.py
  services/weaviate/tasks.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix seed_taxonomies to handle duplicate entries gracefully
  core/management/commands/seed_taxonomies.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add learning paths to tool pages
  core/learning_paths/migrations/0017_add_tools_to_savedlearningpath.py
  core/learning_paths/models.py
  core/learning_paths/serializers.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  core/projects/serializers.py
  core/tools/serializers.py
  frontend/src/components/projects/hero/HeroImage.tsx
  frontend/src/components/projects/hero/HeroQuote.tsx
  frontend/src/components/projects/hero/HeroSlideshow.tsx
  frontend/src/components/projects/hero/HeroVideo.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/components/tools/ToolTray.tsx
  frontend/src/types/models.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add tools field to SavedLearningPathSerializer
  core/learning_paths/serializers.py
  frontend/src/components/explore/LessonCard.tsx
  frontend/src/components/projects/SlideUpHero.tsx
  frontend/src/services/learningPaths.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

learning lessons
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/learning/LessonPreviewTray.tsx
  frontend/src/components/projects/SlideUpHero.tsx
  frontend/src/components/projects/shared/ProjectActions.tsx
  frontend/src/context/LessonPreviewTrayContext.tsx
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/ExtensionAuthPage.tsx
  frontend/src/pages/PrivacyPolicyPage.tsx
  frontend/src/pages/TermsOfServicePage.tsx
Due: none

Add share learning paths to explore feed feature
  frontend/src/components/explore/TabNavigation.tsx
Due: none

Integrate learning paths into explore feed with preview tray
  frontend/src/components/explore/TabNavigation.tsx
Due: none

Fix code review issues for lessons in explore feed
  core/learning_paths/views.py
  frontend/src/components/explore/LessonCard.tsx
  frontend/src/components/learning/LessonPreviewTray.tsx
  frontend/src/context/LessonPreviewTrayContext.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add game preview tray with mini game support
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/ProjectPreviewTray.tsx
Due: none

Add replay functionality to game preview tray
  frontend/src/components/projects/ProjectPreviewTray.tsx
Due: none

Enable Play Again button in mini snake game
  frontend/src/components/games/ContextSnakeCore.tsx
Due: none

Improve answer spacing in mini Ethics Defender game
  frontend/src/components/games/EthicsDefenderCore.tsx
Due: none

Add timeless content support for games in explore feed
  core/migrations/0070_add_is_timeless_field.py
  core/projects/models.py
  core/projects/views.py
  services/personalization/cold_start.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add resizable tray and image lightbox features
  frontend/src/components/projects/ProjectPreviewTray.tsx
  frontend/src/components/ui/ImageLightbox.tsx
  frontend/src/hooks/useResizableTray.ts
Due: none

Add FontAwesome grip icon to tray resize handle
  frontend/src/components/projects/ProjectPreviewTray.tsx
Due: none

Add expand/collapse button to tray header
  frontend/src/components/projects/ProjectPreviewTray.tsx
  frontend/src/hooks/useResizableTray.ts
Due: none

Add resizable tray, expand button, and image lightbox to LessonPreviewTray
  frontend/src/components/learning/LessonPreviewTray.tsx
Due: none

Add multi-subject learning paths, admin project management, and image improvements
  core/learning_paths/tasks.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  frontend/src/components/chat/messages/LoadingMessage.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/learning/LessonPreviewTray.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/services/learningPaths.ts
  services/agents/ember/prompts.py
  services/agents/learning/components/content_finder.py
  services/agents/learning/lesson_generator.py
  services/agents/learning/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Improve Ember prompt consistency for URLs and learning paths
  services/agents/ember/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add interactive learning components and improve lesson quality
  core/learning_paths/views.py
  frontend/index.html
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/HeroSection.tsx
  frontend/src/components/learning/InlineAIChat/InlineAIChat.tsx
  frontend/src/components/learning/InlineAIChat/index.ts
  frontend/src/components/learning/LessonQuiz/LessonQuiz.tsx
  frontend/src/components/learning/LessonQuiz/index.ts
  frontend/src/components/learning/SimulatedTerminal/SimulatedTerminal.tsx
  frontend/src/components/learning/SimulatedTerminal/index.ts
  frontend/src/components/learning/SimulatedTerminal/types.ts
  frontend/src/components/learning/SimulatedTerminal/utils/commandValidator.ts
  frontend/src/index.css
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/services/learningPaths.ts
  services/agents/ember/prompts.py
  services/agents/learning/lesson_generator.py
  services/agents/learning/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix topics displaying as IDs instead of names
  frontend/src/components/projects/layouts/ClippedArticleLayout.tsx
  frontend/src/components/projects/layouts/CuratedArticleLayout.tsx
  frontend/src/components/projects/layouts/VideoProjectLayout.tsx
  frontend/src/components/projects/shared/InlineTagEditor.tsx
Due: none

Learning path updates (#65)
  core/learning_paths/views.py
  frontend/index.html
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/HeroSection.tsx
  frontend/src/components/learning/InlineAIChat/InlineAIChat.tsx
  frontend/src/components/learning/InlineAIChat/index.ts
  frontend/src/components/learning/LessonQuiz/LessonQuiz.tsx
  frontend/src/components/learning/LessonQuiz/index.ts
  frontend/src/components/learning/SimulatedTerminal/SimulatedTerminal.tsx
  frontend/src/components/learning/SimulatedTerminal/index.ts
  frontend/src/components/learning/SimulatedTerminal/types.ts
  frontend/src/components/learning/SimulatedTerminal/utils/commandValidator.ts
  frontend/src/components/projects/layouts/ClippedArticleLayout.tsx
  frontend/src/components/projects/layouts/CuratedArticleLayout.tsx
  frontend/src/components/projects/layouts/VideoProjectLayout.tsx
  frontend/src/components/projects/shared/InlineTagEditor.tsx
  frontend/src/index.css
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/services/learningPaths.ts
  services/agents/ember/prompts.py
  services/agents/learning/lesson_generator.py
  services/agents/learning/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Path conditions:
  no-hardcoded-urls: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/fixtures/.*|\
  .*/migrations/.*|\
  scripts/pre-commit-hooks/.*|\
  config/settings\.py$\
)$

  check-permissions: any of: (views|viewsets)\.py$, but not: (?x)^(\
  .*/tests/.*|\
  scripts/pre-commit-hooks/.*\
)$

  check-magic-numbers: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/migrations/.*|\
  .*/constants\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  no-core-models-import: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/admin\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  check-auth-user-model: any of: models\.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/users/models\.py$|\
  scripts/pre-commit-hooks/.*\
)$

