Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

no-hardcoded-urls:
  name: No Hardcoded URLs
  entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
  language: python

check-permissions:
  name: Check ViewSet Permissions
  entry: python scripts/pre-commit-hooks/check_permissions.py
  language: python

check-magic-numbers:
  name: Check for Magic Numbers
  entry: python scripts/pre-commit-hooks/check_magic_numbers.py
  language: python

no-core-models-import:
  name: No core.models Imports
  entry: python scripts/pre-commit-hooks/check_no_core_models.py
  language: python

check-auth-user-model:
  name: Check AUTH_USER_MODEL Usage
  entry: python scripts/pre-commit-hooks/check_auth_user_model.py
  language: python

Consolidate learning content into single AssistantMessage
  frontend/src/components/chat/core/types.ts
  frontend/src/components/chat/messages/AssistantMessage.tsx
  frontend/src/hooks/useIntelligentChat.ts
  services/agents/ember/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

changes for profile, ember bug fixes and learning paths.
  core/agents/tasks.py
  core/billing/utils.py
  core/community/agent_dm_service.py
  core/learning_paths/migrations/0012_alter_contenthelpfulness_difficulty_perception.py
  core/learning_paths/migrations/0013_saved_learning_path.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  core/management/commands/create_ember.py
  core/management/commands/seed_core_team.py
  core/taxonomy/views.py
  core/thrive_circle/tasks.py
  core/users/migrations/0029_alter_user_tier.py
  core/users/serializers.py
  core/users/views.py
  services/agents/context/member_context.py
  services/agents/ember/agent.py
  services/agents/ember/tools.py
  services/agents/learning/lesson_generator.py
  services/agents/learning/tools.py
  services/agents/profile_questions/__init__.py
  services/agents/profile_questions/question_bank.py
  services/agents/profile_questions/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix Context Snake game rendering and lint issues
  core/agents/tasks.py
  core/community/tasks.py
  frontend/e2e/context-window-learning.spec.ts
  frontend/e2e/project-edit.spec.ts
  frontend/src/components/learning/StructuredLearningPath.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/pages/LearnPage.tsx
  services/agents/ember/agent.py
  services/agents/learning/lesson_generator.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix section editing and improve profile UX
  frontend/e2e/project-edit.spec.ts
  frontend/src/components/profile/ProfileTabMenu.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/pages/ProfilePage.tsx
  services/activity_insights.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add E2E test for learning path creation flow
  frontend/e2e/learning-path-creation.spec.ts
Due: none

Add all_projects section to profile and fix profile save errors
  CLAUDE.md
  core/agents/tasks.py
  core/learning_paths/tasks.py
  core/users/serializers.py
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/chat/layouts/InlineChatLayout.tsx
  frontend/src/components/chat/layouts/index.ts
  frontend/src/components/learning/LearningChatPanel.tsx
  frontend/src/components/learning/PathLibraryGrid.tsx
  frontend/src/components/navigation/TopNavigation.tsx
  frontend/src/components/profile/sections/AboutSection.tsx
  frontend/src/components/profile/sections/AllProjectsSection.tsx
  frontend/src/components/profile/sections/FeaturedProjectsSection.tsx
  frontend/src/components/profile/sections/LearningGoalsSection.tsx
  frontend/src/components/profile/sections/LinksSection.tsx
  frontend/src/components/profile/sections/ProfileSectionRenderer.tsx
  frontend/src/components/profile/sections/SkillsSection.tsx
  frontend/src/components/profile/sections/index.ts
  frontend/src/pages/GamesPage.tsx
  frontend/src/pages/LearnPage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/StyleGuidePage.tsx
  frontend/src/pages/ThriveCirclePage.tsx
  frontend/src/pages/ToolDirectoryPage.tsx
  frontend/src/pages/quizzes/QuizListPage.tsx
  frontend/src/routes/index.tsx
  frontend/src/types/profileSections.ts
  services/agents/ember/agent.py
  services/agents/ember/prompts.py
  services/agents/learning/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Update learning paths with Sage branding and light/dark theme support
  core/agents/profile_views.py
  core/learning_paths/views.py
  core/urls.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/2.png
  frontend/public/sage-av22atar.png
  frontend/public/sage-avatar.png
  frontend/public/sage2.png
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/chat/core/index.ts
  frontend/src/components/chat/core/types.ts
  frontend/src/components/chat/layouts/InlineChatLayout.tsx
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
  frontend/src/components/chat/messages/AssistantMessage.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/learning/LearningChatPanel.tsx
  frontend/src/components/learning/LearningChatPlusMenu.tsx
  frontend/src/components/learning/PathLibraryGrid.tsx
  frontend/src/components/profile/ProfileGeneratorTray.tsx
  frontend/src/hooks/useProfileGeneratorChat.ts
  frontend/src/index.css
  frontend/src/pages/LearnPage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/learningPaths.ts
  services/agents/ember/agent.py
  services/agents/ember/prompts.py
  services/agents/ember/tools.py
  services/agents/learning/tools.py
  services/agents/profile/__init__.py
  services/agents/profile/agent.py
  services/agents/profile/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add achievements section to Activity tab with slideout detail tray
  core/agents/consumers.py
  core/agents/tasks.py
  frontend/e2e/figma-integration.spec.ts
  frontend/src/components/chat/core/ChatCore.tsx
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/learning/LearningPathsTab.tsx
  frontend/src/components/profile/ActivityInsightsTab.tsx
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/pages/ProfilePage.tsx
  services/agents/context/member_context.py
  services/agents/context/tests/__init__.py
  services/agents/context/tests/test_member_context.py
  services/agents/ember/agent.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix learning path URL format in Ember prompts
  config/settings.py
  core/integrations/figma/helpers.py
  core/integrations/figma/service.py
  core/integrations/figma/views.py
  core/integrations/gitlab/helpers.py
  core/integrations/gitlab/service.py
  core/integrations/gitlab/views.py
  frontend/e2e/figma-integration.spec.ts
  frontend/e2e/profile-section-edit.spec.ts
  frontend/public/sage-avatar.png
  frontend/public/sage-avatar22.png
  frontend/src/components/chat/integrations/useIntegrationFlow.ts
  frontend/src/components/chat/messages/AssistantMessage.tsx
  frontend/src/components/profile/ClippedTab.tsx
  frontend/src/components/profile/ProfileHeader.tsx
  frontend/src/components/profile/ProfileSectionTypePicker.tsx
  frontend/src/components/profile/sections/AboutSection.tsx
  frontend/src/components/profile/sections/CustomSection.tsx
  frontend/src/components/profile/sections/LinksSection.tsx
  frontend/src/components/profile/sections/ProfileSectionRenderer.tsx
  frontend/src/components/profile/sections/SkillsSection.tsx
  frontend/src/components/projects/shared/EditableBlocksContainer.tsx
  frontend/src/components/projects/shared/EditableColumnsBlock.tsx
  frontend/src/components/projects/shared/EditableContentBlock.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/api.ts
  frontend/src/services/figma.ts
  frontend/src/services/gitlab.ts
  services/agents/ember/prompts.py
  services/agents/project/tools.py
  services/integrations/social/oauth_service.py
  services/url_import/scraper.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add full-width profile layout and social links slide-in tray
  core/projects/views.py
  frontend/e2e/profile-header.spec.ts
  frontend/e2e/profile-navigation.spec.ts
  frontend/src/components/chat/integrations/useIntegrationFlow.ts
  frontend/src/components/learning/MobileSageBottomSheet.tsx
  frontend/src/components/learning/index.ts
  frontend/src/components/navigation/TopNavigation.tsx
  frontend/src/components/navigation/menuData.ts
  frontend/src/components/profile/ProfileHeader.tsx
  frontend/src/components/profile/sections/LinksSection.tsx
  frontend/src/hooks/useBottomSheetGesture.ts
  frontend/src/pages/LearnPage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/pages/ProfilePage.tsx
  services/agents/project/tools.py
  services/url_import/scraper.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Clean up profile technical debt
  frontend/src/components/profile/ActivityFeed.test.tsx
  frontend/src/components/profile/ActivityFeed.tsx
  frontend/src/components/profile/ProfileCompleteness.tsx
  frontend/src/components/profile/ProfileSidebar.tsx
  frontend/src/components/profile/sections/ProfileSectionRenderer.tsx
  frontend/src/types/profileSections.ts
Due: none

Fix type errors and add learning path E2E tests
  Dockerfile
  core/learning_paths/tasks.py
  frontend/e2e/learn-page.spec.ts
  frontend/e2e/learning-path-detail.spec.ts
  frontend/e2e/mobile-sage.spec.ts
  frontend/e2e/sage-learning-chat.spec.ts
  frontend/src/components/chat/cards/LearningTeaserCard.tsx
  frontend/src/hooks/useBottomSheetGesture.ts
  frontend/src/pages/ProfilePage.tsx
  services/agents/project/tools.py
  services/url_import/ai_analyzer.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add OpenAPI schema annotations to auth chat views
  core/agents/auth_chat_views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add PDF resume parsing and improve profile generation workflow
  config/settings.py
  core/uploads/pdf_extractor.py
  core/uploads/views.py
  frontend/src/components/chat/core/ChatCore.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/upload.ts
  requirements.txt
  services/agents/profile/prompts.py
  services/agents/project/tools.py
  services/url_import/scraper.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add automatic token refresh for GitHub App OAuth
  core/integrations/github/helpers.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix drf_spectacular permission class compatibility
  core/community/permissions.py
  core/community/views.py
  core/integrations/figma/tests/__init__.py
  core/integrations/figma/tests/test_helpers.py
  core/integrations/figma/tests/test_service.py
  core/uploads/pdf_extractor.py
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/pages/ProfilePage.tsx
  services/agents/profile/tools.py
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Use constant for maxBattles in profile tools
  services/agents/profile/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add Figma and GitHub integration test files
  core/integrations/figma/tests/test_views.py
  core/integrations/github/tests/test_helpers.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix topic service tests that fail with seeded taxonomy data
  core/taxonomy/tests/test_topic_service.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updates to ember.
  core/learning_paths/migrations/0014_add_lesson_image.py
  core/learning_paths/models.py
  core/learning_paths/tasks.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  docs/learning-path-content-gap-fix.md
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/chat/messages/AssistantMessage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/services/learningPaths.ts
  services/agents/ember/prompts.py
  services/agents/learning/lesson_generator.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix chat bubble direction, project tray enrichment, and tool tray opening
  core/admin.py
  core/learning_paths/admin.py
  core/learning_paths/migrations/0015_add_is_lesson_and_ratings.py
  core/learning_paths/models.py
  core/learning_paths/serializers.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  core/migrations/0069_add_ai_lesson_content_type.py
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/chat/core/index.ts
  frontend/src/components/chat/core/types.ts
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
  frontend/src/components/chat/messages/AssistantMessage.tsx
  frontend/src/components/forms/ImageUpload.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/projects/ProjectPreviewTray.tsx
  services/agents/learning/components/content_finder.py
  services/agents/learning/lesson_generator.py
  services/agents/learning/lesson_persistence.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix AdminLayout tests for nested User Management menu
  frontend/src/components/layouts/AdminLayout.test.tsx
Due: none

Add admin Lesson Library UI for managing educational content
  core/admin.py
  core/learning_paths/admin.py
  core/learning_paths/tasks.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  frontend/src/components/layouts/AdminLayout.tsx
  frontend/src/pages/admin/LessonsPage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/learningPaths.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Replace FontAwesome dragon icon with ember-avatar.png in onboarding
  frontend/src/components/chat/onboarding/AvatarPreviewMessage.tsx
  frontend/src/components/chat/onboarding/AvatarTemplateSelector.tsx
  frontend/src/components/chat/onboarding/LearningGoalSelectionMessage.tsx
  frontend/src/components/chat/onboarding/OnboardingIntroMessage.tsx
  frontend/src/components/chat/onboarding/PathSelectionMessage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
Due: none

learning paths.
  frontend/src/components/chat/integrations/FigmaFlow.test.tsx
  frontend/src/components/chat/integrations/useIntegrationFlow.ts
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/chat/layouts/InlineChatLayout.tsx
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
  frontend/src/pages/LearnPage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/services/learningPaths.ts
  frontend/src/types/models.ts
  services/agents/learning/lesson_generator.py
  services/agents/learning/lesson_persistence.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix TypeScript error: use keyFeatures instead of features on Tool type
  frontend/src/pages/LearningPathDetailPage.tsx
Due: none

Fix data migrations to use get_or_create instead of create
  core/learning_paths/migrations/0007_migrate_topics_to_taxonomy.py
  core/thrive_circle/migrations/0011_migrate_topics_to_taxonomy.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix data migrations to handle unique name constraint properly
  core/learning_paths/migrations/0007_migrate_topics_to_taxonomy.py
  core/migrations/0053_migrate_topics_to_taxonomy.py
  core/thrive_circle/migrations/0011_migrate_topics_to_taxonomy.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix 0055 migration to handle unique name constraint
  core/migrations/0055_seed_new_taxonomy_types.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Remove all Reddit management commands
  core/management/commands/backfill_reddit_images.py
  core/management/commands/create_reddit_agent.py
  core/management/commands/create_veo3_reddit_agent.py
  core/management/commands/moderate_reddit_threads.py
  core/management/commands/reprocess_reddit_topics.py
  core/management/commands/sync_reddit_agents.py
  core/management/commands/update_reddit_agent_avatars.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add seed commands, AI tagging step, and misc improvements
  .github/workflows/deploy-aws.yml
  CLAUDE.md
  Makefile
  core/community/agent_dm_service.py
  core/community/management/__init__.py
  core/community/management/commands/__init__.py
  core/community/management/commands/seed_rooms.py
  core/management/commands/setup_weaviate.py
  frontend/src/components/projects/ProjectCard.tsx
  services/agents/shared/__init__.py
  services/agents/shared/platform_knowledge.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Improve infinite scroll preloading on explore page
  frontend/src/pages/ExplorePage.tsx
Due: none

Add platform analytics backfill to deployment workflow
  .github/workflows/deploy-aws.yml
  Makefile
  core/ai_usage/management/commands/backfill_platform_stats.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Remove blur/scroll lock from chat sidebar overlay
  docs/marketplace-plan.md
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
Due: none

Update chat sidebar header to show AllThrive Chat
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
Due: none

Path conditions:
  no-hardcoded-urls: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/fixtures/.*|\
  .*/migrations/.*|\
  scripts/pre-commit-hooks/.*|\
  config/settings\.py$\
)$

  check-permissions: any of: (views|viewsets)\.py$, but not: (?x)^(\
  .*/tests/.*|\
  scripts/pre-commit-hooks/.*\
)$

  check-magic-numbers: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/migrations/.*|\
  .*/constants\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  no-core-models-import: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/admin\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  check-auth-user-model: any of: models\.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/users/models\.py$|\
  scripts/pre-commit-hooks/.*\
)$

