Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

.pre-commit-config.yaml:

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        args: ['--line-length=120']

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '120']

  # Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=120', '--extend-ignore=E203,W503,D100,D101,D102,D103,D104,D105,D106,D107,D200,D205,D400,D401,D403', '--exclude=*/migrations/*,examples/*,test_*.py']
        additional_dependencies: [flake8-docstrings]

  # Remove unused imports and variables
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.2.1
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --remove-duplicate-keys
          - --ignore-init-module-imports

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Django specific checks
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: ['--target-version', '4.2']

  # Custom hooks for AllThrive AI rules
  - repo: local
    hooks:
      # Check for hardcoded URLs
      - id: no-hardcoded-urls
        name: No Hardcoded URLs
        entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(
            .*/tests/.*|
            .*/fixtures/.*|
            .*/migrations/.*|
            scripts/pre-commit-hooks/.*|
            config/settings\.py$
          )$

      # Check for missing permission classes
      - id: check-permissions
        name: Check ViewSet Permissions
        entry: python scripts/pre-commit-hooks/check_permissions.py
        language: python
        files: (views|viewsets)\.py$
        exclude: |
          (?x)^(
            .*/tests/.*|
            scripts/pre-commit-hooks/.*
          )$

      # Check for magic numbers
      - id: check-magic-numbers
        name: Check for Magic Numbers
        entry: python scripts/pre-commit-hooks/check_magic_numbers.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(
            .*/tests/.*|
            .*/migrations/.*|
            .*/constants\.py$|
            scripts/pre-commit-hooks/.*
          )$

      # Check for core.models imports (should use domain imports)
      - id: no-core-models-import
        name: No core.models Imports
        entry: python scripts/pre-commit-hooks/check_no_core_models.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(
            .*/tests/.*|
            core/admin\.py$|
            scripts/pre-commit-hooks/.*
          )$

      # Ensure settings.AUTH_USER_MODEL usage
      - id: check-auth-user-model
        name: Check AUTH_USER_MODEL Usage
        entry: python scripts/pre-commit-hooks/check_auth_user_model.py
        language: python
        files: models\.py$
        exclude: |
          (?x)^(
            .*/tests/.*|
            core/users/models\.py$|
            scripts/pre-commit-hooks/.*
          )$

chore: add database indexes for points/level queries
  core/migrations/0024_user_user_points_idx_user_user_level_points_idx.py
  core/points/migrations/0001_initial.py
  core/points/migrations/__init__.py
  core/projects/constants.py
  core/projects/serializers.py
  core/projects/tests/test_projects.py
  docs/DEFAULT_BANNER_IMAGES.md
  frontend/src/components/profile/ProfileCenter.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/ProjectEditPage.tsx
  frontend/src/pages/play/PromptBattlePage.tsx
  pyproject.toml
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

feat: open tools in right panel from project pages instead of navigating
  core/battles/__init__.py
  core/migrations/0025_add_tools_to_project.py
  core/migrations/0026_add_project_visibility_fields.py
  core/migrations/0027_project_external_url.py
  core/migrations/0028_projectlike.py
  core/migrations/0029_project_featured_image_url.py
  core/migrations/0030_add_project_comments.py
  core/projects/__init__.py
  core/projects/comment_serializers.py
  core/projects/comment_views.py
  core/projects/like_serializers.py
  core/projects/models.py
  core/projects/serializers.py
  core/projects/views.py
  core/urls.py
  docker-compose.yml
  docs/PROJECT_METADATA_FORM.md
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/profile/ProfileCenter.tsx
  frontend/src/components/projects/ToolSelector.tsx
  frontend/src/components/tools/RightToolPanel.tsx
  frontend/src/components/tools/index.ts
  frontend/src/config/api.ts
  frontend/src/index.css
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/ProjectEditPage.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/pages/play/BattleDetailPage.tsx
  frontend/src/services/comments.ts
  frontend/src/services/projects.ts
  frontend/src/types/models.ts
  frontend/vite.config.ts
  services/battle_service.py
  services/moderation/__init__.py
  services/moderation/moderator.py
  services/moderation/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

fix: navigate to tool detail page instead of custom panel
  core/admin.py
  core/projects/comment_serializers.py
  core/projects/comment_views.py
  core/projects/models.py
  frontend/src/components/tools/RightToolPanel.tsx
  frontend/src/components/tools/index.ts
  frontend/src/pages/ProjectDetailPage.tsx
  services/moderation/README.md
  services/moderation/moderator.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

feat: use star icons for points/rewards instead of fire/emoji
  docs/MODERATION_CODE_REVIEW.md
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/services/comments.ts
Due: none

feat: show tool detail as overlay when clicking tools from project page
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/routes/index.tsx
Due: none

fix: close tool detail panel returns to previous page, not tools directory
  frontend/src/pages/ToolDetailPage.tsx
Due: none

feat: add smooth slide animations to tool detail panel
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/pages/ToolDetailPage.tsx
Due: none

feat: add smooth slide-out animation when closing tool panel
  frontend/src/pages/ToolDetailPage.tsx
Due: none

docs: add comprehensive logging audit and improvement plan
  docs/CODE_REVIEW_LOGGING_AUDIT.md
  docs/LOGGING_AUDIT_SUMMARY.md
Due: none

feat: add events calendar, logging utilities, and middleware improvements
  core/events/__init__.py
  core/events/models.py
  core/events/serializers.py
  core/events/tests/__init__.py
  core/events/tests/test_events.py
  core/events/views.py
  core/logging_utils.py
  core/middleware.py
  core/migrations/0031_event_projectredirect_and_more.py
  core/migrations/0032_alter_project_is_published.py
  docs/EVENTS_CALENDAR.md
  frontend/src/components/events/EventForm.tsx
  frontend/src/components/events/EventsCalendar.tsx
  frontend/src/components/events/EventsList.tsx
  frontend/src/components/events/RightEventsCalendarPanel.tsx
  frontend/src/services/eventsService.ts
  frontend/src/utils/videoEmbeds.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Events calendar.
  core/admin.py
  core/urls.py
  docs/EVENTS_CALENDAR_REBUILD.md
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/navigation/menuData.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add hero display feature with autosave and fix case transformation
  .pre-commit-config.yaml
  core/events/models.py
  core/events/serializers.py
  core/events/views.py
  core/logging_utils.py
  core/migrations/0033_event_timezone_name_event_updated_by_and_more.py
  core/projects/comment_views.py
  core/projects/serializers.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/RightChatPanel.tsx
  frontend/src/components/common/ConfirmDialog.tsx
  frontend/src/components/events/RightEventsCalendarPanel.tsx
  frontend/src/components/navigation/useMenuState.ts
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/pages/play/BattleDetailPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/comments.ts
  frontend/src/services/projects.ts
  frontend/src/utils/caseTransform.ts
  frontend/src/utils/errorHandler.ts
  frontend/src/utils/sanitize.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add test for hero display fields in project content
  core/projects/tests/test_projects.py
Due: none

Improve hero display instructions
  frontend/src/pages/ProjectEditorPage.tsx
Due: none

Update hero display description wording
  frontend/src/pages/ProjectEditorPage.tsx
Due: none

Implement production-ready Hero Display rendering on project detail page
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/types/models.ts
Due: none

Implement slideshow image uploader for Hero Display
  frontend/src/pages/ProjectEditorPage.tsx
Due: none

Add drag-and-drop reordering for slideshow images
  frontend/src/pages/ProjectEditorPage.tsx
Due: none

Fix drag-and-drop reordering for slideshow images
  frontend/src/pages/ProjectEditorPage.tsx
Due: none

Update hero display description text
  frontend/src/pages/ProjectEditorPage.tsx
Due: none

Update Quote tab to Prompt in hero display
  frontend/src/pages/ProjectEditorPage.tsx
Due: none

Implement full carousel for slideshow hero display
  frontend/src/pages/ProjectDetailPage.tsx
Due: none

teaser cards, points plan, project edits.
  core/projects/views.py
  docs/CONTENT_MODERATION_GUIDE.md
  docs/POINTS_SYSTEM_IMPLEMENTATION_STRATEGY.md
  docs/THRIVE_CIRCLES_IMPLEMENTATION_PLAN.md
  frontend/src/components/navigation/menuData.ts
  frontend/src/components/profile/ProfileCenter.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/ProjectEditorPage.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Updating tools, sidebar menu and project teasers.
  frontend/src/components/navigation/LeftSidebar.tsx
  frontend/src/components/navigation/menuData.ts
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/pages/ToolDetailPage.tsx
  frontend/src/pages/ToolDirectoryPage.tsx
  frontend/src/types/models.ts
Due: none

start of slideup component.
  frontend/src/components/projects/SlideUpHero.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/pages/ToolDetailPage.tsx
  frontend/src/pages/ToolDirectoryPage.tsx
  frontend/src/types/models.ts
Due: none

feat: enhance UI with sidebar auto-hide and glassmorphism
  core/projects/serializers.py
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/navigation/LeftSidebar.tsx
  frontend/src/components/projects/SLIDEUP_ALTERNATIVES.md
  frontend/src/components/projects/SlideUpHero.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/tailwind.config.js
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

feat: add heart and comment functionality to slide-up hero
  frontend/src/components/projects/SlideUpHero.tsx
  frontend/src/pages/ProjectDetailPage.tsx
Due: none

style: remove text from comment button to match heart button
  frontend/src/components/projects/SlideUpHero.tsx
Due: none

feat: add slideup preview to project cards
  frontend/src/components/projects/ProjectCard.tsx
Due: none

refactor: update project card footer layout
  frontend/src/components/projects/ProjectCard.tsx
Due: none

feat: add user avatar circle to project cards
  frontend/src/components/projects/ProjectCard.tsx
Due: none

feat: show user avatar circle on project cards
  frontend/src/components/profile/ProfileCenter.tsx
Due: none

Add debugging and avatar fallback for project cards
  frontend/src/components/profile/ProfileCenter.tsx
  frontend/src/components/projects/ProjectCard.tsx
Due: none

Always show user avatar circle with initials fallback on project cards
  frontend/src/components/projects/ProjectCard.tsx
Due: none

Wire up all project card buttons with full functionality
  claude
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/ProjectModal.tsx
Due: none

Implement independent button actions for project cards
  frontend/src/components/projects/CommentTray.tsx
  frontend/src/components/projects/ProjectCard.tsx
Due: none

Project cards.
  frontend/src/components/navigation/LeftSidebar.tsx
  frontend/src/components/profile/ProfileCenter.tsx
  frontend/src/components/projects/CommentTray.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/ProjectModal.tsx
  frontend/src/components/projects/SlideUpHero.tsx
  frontend/src/components/tools/ToolTray.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/utils/slug.ts
  frontend/vite.config.ts
Due: none

More updates to cards.
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/services/projects.ts
  frontend/src/types/models.ts
Due: none

Updates to projects.
  core/projects/migrations/0002_optimize_project_indexes.py
  core/projects/models.py
  core/projects/views.py
  core/throttles.py
  docs/DEPLOYMENT_CHECKLIST.md
  docs/PRODUCTION_FIXES_SUMMARY.md
  frontend/src/components/explore/FilterPanel.tsx
  frontend/src/components/explore/ProjectsGrid.tsx
  frontend/src/components/explore/SemanticSearchBar.tsx
  frontend/src/components/explore/TabNavigation.tsx
  frontend/src/components/explore/UserProfileCard.tsx
  frontend/src/components/projects/ProjectCard.test.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/ProjectErrorBoundary.tsx
  frontend/src/components/projects/constants.ts
  frontend/src/pages/ProjectEditorPage.test.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/services/explore.ts
  frontend/src/services/projects.test.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model
