Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

no-hardcoded-urls:
  name: No Hardcoded URLs
  entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
  language: python

check-permissions:
  name: Check ViewSet Permissions
  entry: python scripts/pre-commit-hooks/check_permissions.py
  language: python

check-magic-numbers:
  name: Check for Magic Numbers
  entry: python scripts/pre-commit-hooks/check_magic_numbers.py
  language: python

no-core-models-import:
  name: No core.models Imports
  entry: python scripts/pre-commit-hooks/check_no_core_models.py
  language: python

check-auth-user-model:
  name: Check AUTH_USER_MODEL Usage
  entry: python scripts/pre-commit-hooks/check_auth_user_model.py
  language: python

projects.
  frontend/src/pages/ExplorePage.tsx
Due: none

Refactor oauth login.
  config/settings.py
  core/agents/auth_chat_views.py
  core/apps.py
  core/auth/__init__.py
  core/auth/adapter.py
  core/auth/oauth_middleware.py
  core/auth/views.py
  core/projects/views.py
  core/urls.py
  core/users/views.py
  docs/AUTH_REORGANIZATION.md
  docs/AUTH_REVIEW_FIXES.md
  docs/OAUTH_FIXED.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/navigation/LeftSidebar.tsx
  frontend/src/components/navigation/menuData.ts
  frontend/src/pages/ExplorePage.test.tsx
  frontend/src/pages/ExplorePage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/explore.ts
  services/auth/__init__.py
  services/auth/chat/__init__.py
  services/auth/chat/service.py
  services/auth/credentials.py
  services/auth/exceptions.py
  services/auth/tokens.py
  services/auth_agent/nodes.py
  services/auth_agent/validators.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

teaser cards, points plan, project edits.
  core/projects/migrations/0003_set_projects_published_by_default.py
  core/projects/models.py
  core/projects/views.py
  core/taxonomy/management/__init__.py
  core/taxonomy/management/commands/__init__.py
  core/taxonomy/management/commands/auto_tag_projects.py
  core/taxonomy/services.py
  docs/AUTH_TEST_REQUIREMENTS.md
  frontend/docs/explore-page-fix-plan.md
  frontend/docs/personalization-complete.md
  frontend/docs/personalization-plan.md
  frontend/docs/phase-1-completion.md
  frontend/package-lock.json
  frontend/src/components/explore/ProjectsGrid.tsx
  frontend/src/components/profile/Personalization.tsx
  frontend/src/services/api.ts
  frontend/src/types/models.ts
  frontend/vite.config.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

explore page.
  core/projects/serializers.py
  frontend/docs/explore-page-fix-plan.md
  frontend/src/components/about/RightAboutPanel.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/quiz/QuizOverlay.tsx
  frontend/src/components/quiz/QuizPreviewCard.tsx
  frontend/src/components/quiz/types.ts
  frontend/src/components/tools/ToolTray.tsx
  frontend/src/pages/ExplorePage.tsx
  frontend/src/services/api.ts
  frontend/src/services/explore.ts
  frontend/src/test/setup.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

before thrive circle.
  docs/PHASED_IMPLEMENTATION_PLAN.md
  docs/SIDE_QUESTS_IMPLEMENTATION_PLAN.md
  docs/THRIVE_CIRCLE_IMPLEMENTATION_PLAN.md
  frontend/src/components/events/RightEventsCalendarPanel.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/quiz/QuizPreviewCard.tsx
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/routes/ProtectedRoute.tsx
  frontend/src/services/eventsService.ts
Due: none

topics and start of thrive circles.
  config/settings.py
  core/quizzes/views.py
  core/thrive_circle/__init__.py
  core/thrive_circle/admin.py
  core/thrive_circle/apps.py
  core/thrive_circle/migrations/0001_initial.py
  core/thrive_circle/migrations/0002_create_user_tiers.py
  core/thrive_circle/migrations/__init__.py
  core/thrive_circle/models.py
  core/thrive_circle/serializers.py
  core/thrive_circle/services.py
  core/thrive_circle/tests.py
  core/thrive_circle/urls.py
  core/thrive_circle/views.py
  core/urls.py
  docs/PHASED_IMPLEMENTATION_PLAN.md
  docs/THRIVE_CIRCLE_IMPLEMENTATION_PLAN.md
  frontend/src/components/explore/FilterPanel.tsx
  frontend/src/components/profile/ActivityFeed.tsx
  frontend/src/components/profile/Personalization.tsx
  frontend/src/components/profile/ProfileCenter.tsx
  frontend/src/components/projects/TopicDropdown.tsx
  frontend/src/components/projects/TopicSelector.tsx
  frontend/src/config/topics.ts
  frontend/src/hooks/useThriveCircle.ts
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/services/explore.ts
  frontend/src/services/thriveCircle.ts
  frontend/src/types/models.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Thrive circle, whats new and more testing.
  core/auth/test_views.py
  core/auth/views.py
  core/management/commands/setup_e2e_tests.py
  core/thrive_circle/migrations/0003_weeklygoal_usertier_current_streak_days_and_more.py
  core/thrive_circle/models.py
  core/thrive_circle/serializers.py
  core/thrive_circle/tasks.py
  core/thrive_circle/tests.py
  core/thrive_circle/utils.py
  core/thrive_circle/views.py
  core/urls.py
  docs/SIDEBAR_EDIT_TRAY.md
  docs/THRIVE_CIRCLE_IMPLEMENTATION_PLAN.md
  frontend/e2e/.env.example
  frontend/e2e/README.md
  frontend/e2e/helpers.ts
  frontend/e2e/login.spec.ts
  frontend/e2e/project-edit-working.spec.ts
  frontend/e2e/project-edit.spec.ts
  frontend/playwright-report/index.html
  frontend/playwright.config.ts
  frontend/src/components/navigation/menuData.ts
  frontend/src/components/navigation/useMenuState.ts
  frontend/src/components/projects/ProjectCard.test.tsx
  frontend/src/components/projects/ProjectEditTray.tsx
  frontend/src/components/thrive-circle/WeeklyGoalsPanel.tsx
  frontend/src/hooks/useThriveCircle.ts
  frontend/src/pages/ExplorePage.test.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/ProjectEditorPage.test.tsx
  frontend/src/pages/ThriveCirclePage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/thriveCircle.ts
  frontend/src/test/setup.ts
  frontend/src/types/models.ts
  frontend/test-results/.last-run.json
  frontend/test-results/project-edit-working-Proje-504dc-and-allow-opening-edit-tray-chromium/error-context.md
  frontend/test-results/project-edit-working-Proje-504dc-and-allow-opening-edit-tray-chromium/test-failed-1.png
  frontend/vitest.config.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

project refactor.
  docs/MIGRATE_PROJECT_EDITOR_PAGE.md
  docs/PROJECT_EDITOR_REFACTOR_SUMMARY.md
Due: none

points and logging.
  config/settings.py
  core/agents/auth_chat_views.py
  core/auth/views.py
  core/integrations/github/views.py
  core/management/commands/seed_taxonomies.py
  core/projects/views.py
  core/quizzes/views.py
  core/signals.py
  core/social/admin.py
  core/social/views.py
  core/taxonomy/serializers.py
  core/taxonomy/services.py
  core/taxonomy/views.py
  core/urls.py
  core/users/models.py
  core/users/views.py
  frontend/src/components/explore/UserProfileCard.tsx
  frontend/src/components/navigation/LeftSidebar.tsx
  frontend/src/components/profile/Personalization.tsx
  frontend/src/components/projects/ImportGitHubModal.tsx
  frontend/src/components/projects/ImportPreview.tsx
  frontend/src/components/projects/RightAddProjectChat.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/services/explore.ts
  frontend/src/services/github.ts
  services/github_rate_limiter.py
  services/github_sync_service.py
  services/social_oauth_service.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

github refactor for projects.
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/navigation/LeftSidebar.tsx
  frontend/src/components/projects/ImportGitHubModal.tsx
  frontend/src/components/projects/RightAddProjectChat.tsx
Due: none

project edit updates with formatting fixes
  config/settings.py
  core/achievements/migrations/0001_initial.py
  core/achievements/migrations/0002_initial.py
  core/integrations/github/views.py
  core/management/commands/seed_categories.py
  core/migrations/0001_initial.py
  core/migrations/0002_initial.py
  core/migrations/0003_rename_user_tags_to_topics.py
  core/projects/models.py
  core/projects/serializers.py
  core/projects/topic_suggestions.py
  core/projects/views.py
  core/thrive_circle/migrations/0001_initial.py
  core/thrive_circle/migrations/0002_initial.py
  core/thrive_circle/migrations/__init__.py
  core/urls.py
  core/users/__init__.py
  core/users/migrations/0001_initial.py
  docker-compose.yml
  frontend/src/components/profile/ProfileCenter.tsx
  frontend/src/components/projects/ImportGitHubModal.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/ProjectEditTray.tsx
  frontend/src/components/projects/ProjectEditor.tsx
  frontend/src/components/projects/fields/HeroDisplaySection.tsx
  frontend/src/components/projects/fields/ProjectFieldsEditor.tsx
  frontend/src/components/projects/fields/ProjectSettingsSection.tsx
  frontend/src/components/projects/fields/TopicsSection.tsx
  frontend/src/components/projects/fields/index.ts
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/services/github.ts
  frontend/src/services/projects.ts
  frontend/src/types/models.ts
  scripts/setup_oauth.py
  scripts/startup.sh
  services/github_ai_analyzer.py
  services/github_sync_service.py
  services/storage_service.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

updating projects and tests.
  config/settings.py
  core/integrations/github/views.py
  core/projects/tests/test_projects.py
  core/projects/views.py
  core/urls.py
  docs/GITHUB_IMPORT_DETAILS.md
  docs/GITHUB_RATE_LIMITER_FIX.md
  docs/PROJECT_CACHE_FIX.md
  docs/README_MERMAID_INTEGRATION.md
  docs/TEST_REVIEW_SUMMARY.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/editor/ContentBlocks.tsx
  frontend/src/components/editor/MermaidBlock.tsx
  frontend/src/components/explore/TabNavigation.tsx
  frontend/src/components/profile/ProfileCenter.tsx
  frontend/src/components/projects/AddProjectOptions.tsx
  frontend/src/components/projects/RightAddProjectChat.tsx
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/settings/IntegrationsSettingsPage.tsx
  frontend/src/services/github.ts
  frontend/src/services/projects.ts
  frontend/src/types/models.ts
  services/github_ai_analyzer.py
  services/github_rate_limiter.py
  services/github_sync_service.py
  services/readme_parser.py
  services/tests/__init__.py
  services/tests/test_readme_parser.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Profile refactor.
  core/thrive_circle/serializers.py
  core/users/models.py
  core/users/tests/test_avatar_validation.py
  docs/AVATAR_UPLOAD_FIX.md
  frontend/src/components/navigation/LeftSidebar.tsx
  frontend/src/components/navigation/menuData.ts
  frontend/src/components/profile/ActivityFeed.tsx
  frontend/src/components/profile/ProfileCenter.tsx
  frontend/src/pages/ProfilePage.tsx
  services/tests/test_ai_provider.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

test: fix failing tests
  core/events/tests/test_events.py
  core/tests/test_health.py
  core/thrive_circle/tests.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Profile and moving the menu to the top.
  frontend/TEST_SUMMARY.md
  frontend/src/components/forms/ImageUpload.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/navigation/MobileMenu.tsx
  frontend/src/components/navigation/NavDropdown.tsx
  frontend/src/components/navigation/TopNavigation.tsx
  frontend/src/components/navigation/UserMenu.tsx
  frontend/src/components/navigation/index.ts
  frontend/src/components/profile/ActivityFeed.test.tsx
  frontend/src/pages/AccountSettingsPage.tsx
  frontend/src/pages/ProfilePage.test.tsx
  frontend/src/pages/ProfilePage.tsx
Due: none

Add scroll detection for profile page sidebar - WIP
  frontend/src/components/navigation/NavDropdown.tsx
  frontend/src/components/navigation/UserMenu.tsx
  frontend/src/pages/ProfilePage.tsx
Due: none

profile refactor.
  frontend/package-lock.json
  frontend/src/components/about/RightAboutPanel.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/events/RightEventsCalendarPanel.tsx
  frontend/src/components/explore/ProjectsGrid.tsx
  frontend/src/components/navigation/NavDropdown.tsx
  frontend/src/components/profile/ProfileCenter.tsx
  frontend/src/components/projects/RightAddProjectChat.tsx
  frontend/src/pages/ProfilePage.tsx
Due: none

Profile makeover.
  frontend/src/components/navigation/NavDropdown.test.tsx
  frontend/src/pages/ProfilePage.test.tsx
  frontend/src/pages/ProfilePage.tsx
Due: none

Projects.
  config/settings.py
  core/integrations/github/tests/__init__.py
  core/integrations/github/tests/test_github_import.py
  core/integrations/github/views.py
  core/projects/models.py
  core/urls.py
  docs/GITHUB_MCP_FIXES_SUMMARY.md
  docs/GITHUB_MCP_LOGGING_ANALYSIS.md
  docs/GITHUB_MCP_TESTING.md
  docs/plans/GEMINI_NANO_BANANA_PLAN.md
  frontend/src/components/projects/ImportGitHubModal.tsx
  frontend/src/components/projects/ImportPreview.tsx
  frontend/src/components/projects/RightAddProjectChat.test.tsx
  frontend/src/components/projects/RightAddProjectChat.tsx
  frontend/src/pages/ProfilePage.test.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/github.ts
  requirements.txt
  services/github_ai_analyzer.py
  services/github_constants.py
  services/github_helpers.py
  services/github_mcp_service.py
  services/tests/test_github_mcp_service.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Project reusable components for fields.
  config/settings.py
  core/integrations/github/views.py
  docs/GITHUB_MCP_FIXES_SUMMARY.md
  docs/GITHUB_MCP_IMPLEMENTATION_PLAN.md
  docs/GITHUB_MCP_LOGGING_ANALYSIS.md
  docs/GITHUB_MCP_TESTING.md
  docs/GITHUB_REST_API_CODE_REVIEW.md
  docs/GITHUB_REST_API_MIGRATION_PLAN.md
  docs/PERFORMANCE_OPTIMIZATION_SUMMARY.md
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  services/github_constants.py
  services/github_helpers.py
  services/github_mcp_service.py
  services/github_service.py
  services/mcp/client_factory.py
  services/project_agent/tools.py
  services/tests/test_github_mcp_service.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

adding generic router for projects.
  core/integrations/__init__.py
  core/integrations/base/integration.py
  core/integrations/github/integration.py
  core/integrations/tasks.py
  core/integrations/utils.py
  core/integrations/views.py
  core/urls.py
  frontend/src/services/github.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Github project import, fixing filters on categories and updating tests.
  .claude/plan.md
  config/urls.py
  core/integrations/github/ai_analyzer.py
  core/integrations/github/integration.py
  core/integrations/github/tests/test_github_import.py
  core/integrations/tests/test_github_integration.py
  core/integrations/utils.py
  core/integrations/views.py
  core/migrations/0009_add_project_performance_indexes.py
  core/projects/models.py
  core/sitemaps.py
  core/tests/test_seo_privacy.py
  core/views/core_views.py
  docs/YOUTUBE_PODCAST_SYNC.md
  frontend/src/components/profile/ActivityFeed.tsx
  frontend/src/components/projects/RightAddProjectChat.tsx
  frontend/src/pages/ExplorePage.tsx
  frontend/src/services/explore.ts
  frontend/src/services/github.ts
  services/tests/test_readme_parser.py
  test_activity_endpoint.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

More updates to projects.
  core/integrations/base/parser.py
  core/integrations/github/ai_analyzer.py
  core/integrations/github/tests/test_ai_analyzer.py
  core/integrations/github/tests/test_integration.py
  core/integrations/github/tests/test_service.py
  core/integrations/tests/test_import_flow.py
  core/integrations/tests/test_parser.py
  core/integrations/tests/test_utils.py
  core/integrations/tests/test_views.py
  frontend/src/components/projects/BlockEditorComponents.tsx
  frontend/src/components/projects/MermaidBlockEditor.tsx
  frontend/src/pages/ProjectDetailPage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating tests and profiles.
  core/integrations/base/parser.py
  core/integrations/github/ai_analyzer.py
  core/integrations/github/tests/test_ai_analyzer.py
  core/integrations/tests/test_parser.py
  frontend/public/robots.txt
  frontend/src/components/projects/MermaidBlockEditor.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  ultrathink.md
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating tests and profiles.
  LAUNCH_DAY_ROBOTS_UPDATE.md
  QUICK_START_SEO.md
  ROBOTS_TXT_IMPLEMENTATION_SUMMARY.md
  scripts/verify_robots_txt.sh
  ultrathink-seo-llm-discovery.md
Due: none

Updating tagline and making site llm crawlable.
  CODE_REVIEW_FIXES.md
  CRITICAL_FIXES_SUMMARY.md
  PRIVACY_FIXES_IMPLEMENTED.md
  PRIVACY_SECURITY_REVIEW.md
  PRIVACY_SETTINGS_UI.md
  SSR_CRAWLER_IMPLEMENTATION.md
  config/urls.py
  core/auth/serializers.py
  core/utils/crawler_detection.py
  core/views/crawler_views.py
  frontend/src/components/common/SEO.tsx
  frontend/src/components/ui/HeroSection.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/settings/PrivacySettingsPage.tsx
  templates/crawler/about.html
  templates/crawler/base.html
  templates/crawler/explore.html
  templates/crawler/home.html
  templates/crawler/profile.html
  templates/crawler/project_detail.html
  templates/crawler/tools.html
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Projects and llm.
  Makefile
  README.md
  SENIOR_CODE_REVIEW_PRIVACY_PR.md
  core/management/commands/seed_quizzes.py
  core/migrations/0010_remove_project_project_user_url_idx_and_more.py
  core/migrations/0011_quiz_tools.py
  core/quizzes/models.py
  core/quizzes/serializers.py
  core/utils/crawler_detection.py
  core/views/crawler_views.py
  docs/DATABASE_SEEDING_GUIDE.md
  docs/QUIZ_SEEDING.md
  frontend/src/components/common/SEO.tsx
  frontend/src/components/quiz/QuizOverlay.tsx
  frontend/src/components/quiz/QuizPreviewCard.tsx
  frontend/src/components/quiz/types.ts
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/quizzes/QuizPage.tsx
  requirements.txt
  templates/crawler/home.html
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fixing tests.
  .github/workflows/ci.yml
Due: none

Fix GitHub integration tests
  config/settings.py
  core/integrations/base/parser.py
  core/integrations/tests/test_views.py
  core/views/crawler_views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix multiple integration test failures
  core/integrations/base/parser.py
  core/integrations/github/tests/test_ai_analyzer.py
  core/integrations/tests/test_views.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Make import lock test more robust with explicit cache verification
  core/integrations/tests/test_utils.py
  frontend/src/index.css
  frontend/tailwind.config.js
Due: none

Fix remaining test failures
  core/integrations/github/tests/test_ai_analyzer.py
  core/integrations/tests/test_views.py
  core/referrals/tests/test_views.py
  core/views/crawler_views.py
  frontend/src/components/quiz/QuizPreviewCard.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

cache issue.
  core/views/crawler_views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix ratelimit and AI analyzer test decorator order
  core/integrations/github/tests/test_ai_analyzer.py
  core/views/crawler_views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Path conditions:
  no-hardcoded-urls: any of: \.py$, but not: (?x)^(
  .*/tests/.*|
  .*/fixtures/.*|
  .*/migrations/.*|
  scripts/pre-commit-hooks/.*|
  config/settings\.py$
)$

  check-permissions: any of: (views|viewsets)\.py$, but not: (?x)^(
  .*/tests/.*|
  scripts/pre-commit-hooks/.*
)$

  check-magic-numbers: any of: \.py$, but not: (?x)^(
  .*/tests/.*|
  .*/migrations/.*|
  .*/constants\.py$|
  scripts/pre-commit-hooks/.*
)$

  no-core-models-import: any of: \.py$, but not: (?x)^(
  .*/tests/.*|
  core/admin\.py$|
  scripts/pre-commit-hooks/.*
)$

  check-auth-user-model: any of: models\.py$, but not: (?x)^(
  .*/tests/.*|
  core/users/models\.py$|
  scripts/pre-commit-hooks/.*
)$

