Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

.pre-commit-config.yaml:

repos:
  # Ruff for linting and formatting (single tool per project preference)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-ast  # Check Python syntax by parsing AST

  # Django specific checks
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: ['--target-version', '4.2']

  # Custom hooks for AllThrive AI rules
  - repo: local
    hooks:
      # Check for hardcoded URLs
      - id: no-hardcoded-urls
        name: No Hardcoded URLs
        entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/fixtures/.*|\
            .*/migrations/.*|\
            scripts/pre-commit-hooks/.*|\
            config/settings\.py$\
          )$

      # Check for missing permission classes
      - id: check-permissions
        name: Check ViewSet Permissions
        entry: python scripts/pre-commit-hooks/check_permissions.py
        language: python
        files: (views|viewsets)\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for magic numbers
      - id: check-magic-numbers
        name: Check for Magic Numbers
        entry: python scripts/pre-commit-hooks/check_magic_numbers.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/migrations/.*|\
            .*/constants\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for core.models imports (should use domain imports)
      - id: no-core-models-import
        name: No core.models Imports
        entry: python scripts/pre-commit-hooks/check_no_core_models.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/admin\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Ensure settings.AUTH_USER_MODEL usage
      - id: check-auth-user-model
        name: Check AUTH_USER_MODEL Usage
        entry: python scripts/pre-commit-hooks/check_auth_user_model.py
        language: python
        files: models\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/users/models\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

Add interactive learning components and improve lesson quality
  services/agents/ember/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add light theme support to Footer component
  core/learning_paths/tasks.py
  core/learning_paths/views.py
  frontend/src/components/landing/Footer.tsx
  services/agents/learning/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Improve Ember learning path clarification flow
  core/agents/tasks.py
  frontend/src/components/learning/InlineAIChat/InlineAIChat.tsx
  frontend/src/components/learning/SimulatedTerminal/SimulatedTerminal.tsx
  services/agents/ember/prompts.py
  services/agents/learning/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Improve Ember prompt consistency for URLs and learning paths
  services/agents/ember/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add community feedback system with Haven integration
  config/settings.py
  core/feedback/__init__.py
  core/feedback/admin.py
  core/feedback/apps.py
  core/feedback/migrations/0001_initial.py
  core/feedback/migrations/0002_add_category_field.py
  core/feedback/migrations/0003_update_category_choices.py
  core/feedback/migrations/0004_change_default_category.py
  core/feedback/migrations/__init__.py
  core/feedback/models.py
  core/feedback/serializers.py
  core/feedback/tasks.py
  core/feedback/views.py
  core/urls.py
  frontend/public/haven-customer-support.mp4
  frontend/src/components/feedback/FeedbackCard.tsx
  frontend/src/components/feedback/FeedbackComments.tsx
  frontend/src/components/feedback/FeedbackDetailTray.tsx
  frontend/src/components/feedback/FeedbackSubmitTray.tsx
  frontend/src/components/feedback/index.ts
  frontend/src/components/feedback/utils.ts
  frontend/src/hooks/useFeedbackVote.ts
  frontend/src/pages/FeedbackPage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/feedback.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add prompt-specific rendering to ProjectPreviewTray
  frontend/src/components/projects/ProjectPreviewTray.tsx
Due: none

Add prompts tab, learning path improvements, and UI updates
  core/community/agent_dm_service.py
  core/learning_paths/management/__init__.py
  core/learning_paths/management/commands/__init__.py
  core/learning_paths/management/commands/backfill_lesson_images.py
  core/learning_paths/serializers.py
  core/learning_paths/tasks.py
  core/learning_paths/views.py
  core/projects/serializers.py
  core/projects/views.py
  frontend/src/components/battles/MyBattlesTab.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/learning/LearningPathCard.tsx
  frontend/src/components/learning/LearningPathsTab.tsx
  frontend/src/components/learning/PathLibraryGrid.tsx
  frontend/src/components/navigation/UserMenu.tsx
  frontend/src/components/profile/ProfileTabMenu.tsx
  frontend/src/components/profile/PromptsTab.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/constants.ts
  frontend/src/components/projects/fields/HeroDisplaySection.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/components/prompts/PromptDetailTray.tsx
  frontend/src/components/prompts/PromptFormSidebar.tsx
  frontend/src/components/prompts/index.ts
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/projects.ts
  frontend/src/types/models.ts
  services/agents/ember/prompts.py
  services/agents/ember/tools.py
  services/agents/learning/tools.py
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

COGS Savings
  infrastructure/cloudformation/01-vpc.yaml
  infrastructure/cloudformation/03-rds.yaml
  infrastructure/cloudformation/04-elasticache.yaml
  infrastructure/cloudformation/10-ecs.yaml
Due: none

Add admin notes field to invitations dashboard
  core/urls.py
  core/users/invitation_api_views.py
  core/users/invitation_models.py
  core/users/migrations/0030_invitationrequest_admin_notes.py
  frontend/src/pages/admin/InvitationsPage.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add admin notes field to invitations dashboard (#68)
  core/urls.py
  core/users/invitation_api_views.py
  core/users/invitation_models.py
  core/users/migrations/0030_invitationrequest_admin_notes.py
  frontend/src/pages/admin/InvitationsPage.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

COGS Savings (#67)
  infrastructure/cloudformation/01-vpc.yaml
  infrastructure/cloudformation/03-rds.yaml
  infrastructure/cloudformation/04-elasticache.yaml
  infrastructure/cloudformation/10-ecs.yaml
Due: none

Admin dash.
  frontend/src/components/feedback/FeedbackComments.tsx
  frontend/src/components/feedback/FeedbackDetailTray.tsx
  frontend/src/components/layouts/AdminLayout.tsx
  frontend/src/components/navigation/menuData.ts
Due: none

Fix TypeScript type narrowing for Link component href
  frontend/src/components/feedback/FeedbackComments.tsx
Due: none

Add admin notes field to invitations dashboard (#69)
  frontend/src/components/feedback/FeedbackComments.tsx
  frontend/src/components/feedback/FeedbackDetailTray.tsx
  frontend/src/components/layouts/AdminLayout.tsx
  frontend/src/components/navigation/menuData.ts
Due: none

Add mobile-responsive landing page with parallax scroll
  core/users/invitation_admin.py
  core/users/invitation_models.py
  core/users/migrations/0031_invitationrequest_skill_level.py
  frontend/public/battle-robot-cat-1.png
  frontend/public/battle-robot-cat-2.png
  frontend/public/vector-database-promo.png
  frontend/public/weave-cli.png
  frontend/src/components/landing/FinalCTA.tsx
  frontend/src/components/landing/InvitationTray.tsx
  frontend/src/components/landing/UnifiedLanding.tsx
  frontend/src/components/landing/index.ts
  frontend/src/pages/LandingPage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import, check-auth-user-model

Add lesson progress tracking and landing page enhancements
  README.md
  core/agents/tasks.py
  core/learning_paths/migrations/0018_lessonprogress.py
  core/learning_paths/models.py
  core/learning_paths/serializers.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  frontend/PLAN-mobile-landing.md
  frontend/e2e/landing-scroll-sync.spec.ts
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/MeetEmber.tsx
  frontend/src/components/landing/ParallaxLanding.tsx
  frontend/src/components/landing/WhatIsAllThrive.tsx
  frontend/src/components/learning/LessonPreviewTray.tsx
  frontend/src/components/profile/TaxonomyPreferences.tsx
  frontend/src/index.css
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/learningPaths.ts
  scripts/pre-commit-hooks/check_no_hardcoded_urls.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Increase chat text size from text-sm to text-base for better readability
  frontend/src/components/landing/UnifiedLanding.tsx
Due: none

Simplify README and expand core features documentation
  README.md
  docs/evergreen-architecture/01-CORE-FEATURES.md
  frontend/src/components/profile/TaxonomyPreferences.tsx
Due: none

Replace FontAwesome dragon icon with ember-avatar.png in onboarding
  frontend/src/components/chat/onboarding/AvatarPreviewMessage.tsx
  frontend/src/components/chat/onboarding/AvatarTemplateSelector.tsx
  frontend/src/components/chat/onboarding/LearningGoalSelectionMessage.tsx
  frontend/src/components/chat/onboarding/OnboardingIntroMessage.tsx
  frontend/src/components/chat/onboarding/PathSelectionMessage.tsx
  frontend/src/components/profile/Personalization.tsx
  frontend/src/components/profile/TaxonomyPreferences.tsx
Due: none

Add mobile-responsive landing page with parallax scroll (#70)
  README.md
  core/agents/tasks.py
  core/learning_paths/migrations/0018_lessonprogress.py
  core/learning_paths/models.py
  core/learning_paths/serializers.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  core/users/invitation_admin.py
  core/users/invitation_models.py
  core/users/migrations/0031_invitationrequest_skill_level.py
  docs/evergreen-architecture/01-CORE-FEATURES.md
  frontend/PLAN-mobile-landing.md
  frontend/e2e/landing-scroll-sync.spec.ts
  frontend/public/battle-robot-cat-1.png
  frontend/public/battle-robot-cat-2.png
  frontend/public/vector-database-promo.png
  frontend/public/weave-cli.png
  frontend/src/components/chat/onboarding/AvatarPreviewMessage.tsx
  frontend/src/components/chat/onboarding/AvatarTemplateSelector.tsx
  frontend/src/components/chat/onboarding/LearningGoalSelectionMessage.tsx
  frontend/src/components/chat/onboarding/OnboardingIntroMessage.tsx
  frontend/src/components/chat/onboarding/PathSelectionMessage.tsx
  frontend/src/components/landing/FinalCTA.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/InvitationTray.tsx
  frontend/src/components/landing/MeetEmber.tsx
  frontend/src/components/landing/ParallaxLanding.tsx
  frontend/src/components/landing/UnifiedLanding.tsx
  frontend/src/components/landing/WhatIsAllThrive.tsx
  frontend/src/components/landing/index.ts
  frontend/src/components/learning/LessonPreviewTray.tsx
  frontend/src/components/profile/Personalization.tsx
  frontend/src/components/profile/TaxonomyPreferences.tsx
  frontend/src/index.css
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/learningPaths.ts
  scripts/pre-commit-hooks/check_no_hardcoded_urls.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix profile update failing for users with external avatar URLs
  core/auth/serializers.py
  core/learning_paths/views.py
  core/users/models.py
  frontend/src/components/chat/onboarding/AvatarTemplateSelector.tsx
  frontend/src/components/profile/Personalization.tsx
  frontend/src/hooks/useOnboardingChat.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Remove team_library_content:read scope from Figma OAuth
  core/integrations/image/ai_analyzer.py
  frontend/src/components/chat/integrations/useIntegrationFlow.ts
  services/agents/project/prompts.py
  services/agents/project/tools.py
  services/integrations/social/oauth_service.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix seed_tasks KeyError and improve GitHub token expiry handling
  core/tasks/management/commands/seed_tasks.py
  frontend/src/components/chat/integrations/useIntegrationFlow.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Align landing page hero text with header logo
  frontend/src/components/landing/UnifiedLanding.tsx
Due: none

Fix profile update failing for users with external avatar URLs (#71)
  core/auth/serializers.py
  core/integrations/image/ai_analyzer.py
  core/learning_paths/views.py
  core/tasks/management/commands/seed_tasks.py
  core/users/models.py
  frontend/src/components/chat/integrations/useIntegrationFlow.ts
  frontend/src/components/chat/onboarding/AvatarTemplateSelector.tsx
  frontend/src/components/landing/UnifiedLanding.tsx
  frontend/src/components/profile/Personalization.tsx
  frontend/src/hooks/useOnboardingChat.ts
  services/agents/project/prompts.py
  services/agents/project/tools.py
  services/integrations/social/oauth_service.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add pull-prod-db command to Quick Start in README
  README.md
Due: none

Remove speckit/specify directories and add to gitignore
  .gitignore
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  .speckit/analytics-subpages/plan.md
  frontend/e2e-challenger-no-image.png
  frontend/e2e-expired-invite-page.png
  frontend/e2e-slideshow-final.png
  frontend/e2e-timer-not-counting.png
Due: none

Add .speckit, .specify, and e2e-results to .gitignore
  .gitignore
Due: none

Remove outdated examples directory
  examples/ai_provider_example.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Remove stray planning docs from frontend directory
  frontend/PLAN-mobile-landing.md
  frontend/PROMO-VIDEO-NOTES.md
Due: none

Fix Context Snake play button and update landing page border radius
  frontend/src/components/landing/MeetEmber.tsx
  frontend/src/components/landing/UnifiedLanding.tsx
Due: none

Enable delete permission for TaskOption in Django admin
  core/tasks/admin.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Connect skill level to recommendation engine and fix personalization labels
  .github/workflows/deploy-aws.yml
  frontend/src/components/admin/analytics/AnalyticsLayout.tsx
  frontend/src/components/chat/core/ChatCore.tsx
  frontend/src/components/chat/core/ChatMessageList.tsx
  frontend/src/components/chat/core/types.ts
  frontend/src/components/chat/messages/AvatarCreationMessage.tsx
  frontend/src/components/chat/messages/index.ts
  frontend/src/components/learning/StructuredLearningPath.tsx
  frontend/src/components/profile/Personalization.tsx
  frontend/src/hooks/useOrchestrationActions.ts
  frontend/src/hooks/useStandaloneAvatarCreation.ts
  frontend/src/pages/CheckoutSuccessPage.tsx
  frontend/src/pages/ExtensionPage.tsx
  frontend/src/pages/OnboardingPage.tsx
  frontend/src/pages/admin/analytics/AIUsagePage.tsx
  frontend/src/pages/admin/analytics/BattlesPage.tsx
  frontend/src/pages/admin/analytics/ContentPage.tsx
  frontend/src/pages/admin/analytics/EngagementPage.tsx
  frontend/src/pages/admin/analytics/OnboardingPage.tsx
  frontend/src/pages/admin/analytics/OverviewPage.tsx
  frontend/src/pages/admin/analytics/RevenuePage.tsx
  frontend/src/pages/admin/analytics/UsersPage.tsx
  frontend/src/pages/community/LoungePage.tsx
  frontend/src/pages/community/MessagesPage.tsx
  services/agents/ember/prompts.py
  services/agents/orchestration/tools.py
  services/personalization/engine.py
  services/personalization/settings_aware_scorer.py
  services/personalization/tests/test_settings_aware_scorer.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix inline avatar creation WebSocket communication and light mode styling
  core/agents/consumers.py
  core/avatars/views.py
  frontend/src/components/chat/core/ChatMessageList.tsx
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/chat/messages/AvatarCreationMessage.tsx
  frontend/src/components/chat/onboarding/AvatarTemplateSelector.tsx
  frontend/src/hooks/useAvatarGeneration.ts
  frontend/src/services/avatarService.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add avatarCreation prop to SidebarChatLayout and InlineChatLayout
  frontend/src/components/chat/layouts/InlineChatLayout.tsx
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
Due: none

Add missing ChatMessageList handlers to sidebar and inline chat layouts
  frontend/src/components/chat/layouts/InlineChatLayout.tsx
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
Due: none

Remove seed_uat_scenarios from deployment workflow
  .github/workflows/deploy-aws.yml
Due: none
