Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

.pre-commit-config.yaml:

repos:
  # Ruff for linting and formatting (single tool per project preference)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-ast  # Check Python syntax by parsing AST

  # Django specific checks
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: ['--target-version', '4.2']

  # Custom hooks for AllThrive AI rules
  - repo: local
    hooks:
      # Check for hardcoded URLs
      - id: no-hardcoded-urls
        name: No Hardcoded URLs
        entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/fixtures/.*|\
            .*/migrations/.*|\
            scripts/pre-commit-hooks/.*|\
            config/settings\.py$\
          )$

      # Check for missing permission classes
      - id: check-permissions
        name: Check ViewSet Permissions
        entry: python scripts/pre-commit-hooks/check_permissions.py
        language: python
        files: (views|viewsets)\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for magic numbers
      - id: check-magic-numbers
        name: Check for Magic Numbers
        entry: python scripts/pre-commit-hooks/check_magic_numbers.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/migrations/.*|\
            .*/constants\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for core.models imports (should use domain imports)
      - id: no-core-models-import
        name: No core.models Imports
        entry: python scripts/pre-commit-hooks/check_no_core_models.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/admin\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Ensure settings.AUTH_USER_MODEL usage
      - id: check-auth-user-model
        name: Check AUTH_USER_MODEL Usage
        entry: python scripts/pre-commit-hooks/check_auth_user_model.py
        language: python
        files: models\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/users/models\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

Add E2E tests for avatar generation WebSocket flow
  frontend/e2e/avatar-generation.spec.ts
Due: none

Run full E2E test suite in CI instead of just smoke tests
  .github/workflows/ci.yml
Due: none

Revert: keep smoke tests only in CI, full e2e runs locally
  .github/workflows/ci.yml
Due: none

Expand smoke tests with AI quality assertions
  .github/workflows/ci.yml
  frontend/e2e/smoke.spec.ts
Due: none

Add make test-all command for running all tests (backend + frontend + E2E)
  Makefile
Due: none

Fix landing page footer to always use dark theme
  Makefile
  frontend/src/components/landing/Footer.tsx
Due: none

fixing tests.
  core/auth/tests/test_oauth_auth.py
  frontend/e2e/smoke.spec.ts
  frontend/playwright.config.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add 'describe' to ProjectImportOption type
  frontend/src/hooks/useIntelligentChat.ts
Due: none

Fix slow avatar generation and add debugging
  config/settings.py
  core/agents/consumers.py
  core/avatars/tasks.py
  core/avatars/views.py
  services/ai/provider.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Switch avatar generation to OpenAI gpt-image-1.5 and enhance aws-validate
  .github/workflows/nightly-deep-e2e.yml
  Makefile
  core/avatars/tasks.py
  frontend/e2e/avatar-generation-real-ai.spec.ts
  services/ai/provider.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add AWS infrastructure checklist documentation
  docs/evergreen-architecture/22-AWS-INFRASTRUCTURE.md
Due: none

Replace LangSmith with Phoenix for LLM observability
  .env.example
  config/settings.py
  core/admin/ai_analytics_admin.py
  core/apps.py
  core/config/manager.py
  core/urls.py
  core/views/ai_analytics_views.py
  docker-compose.yml
  requirements.txt
  scripts/setup_langsmith.sh
  services/ai/langsmith.py
  services/ai/phoenix.py
  services/ai/provider.py
  templates/admin/ai_analytics/dashboard.html
  templates/admin/index.html
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add frontend build check to CI workflow
  .github/workflows/ci.yml
Due: none

Enhance find_content tool comparison and fix bandit security check
  .github/workflows/ci.yml
  .github/workflows/nightly-deep-e2e.yml
  config/celery.py
  core/battles/consumers.py
  core/battles/services.py
  core/battles/tasks.py
  core/battles/tests/test_async_battles.py
  core/fixtures/uat_scenarios.yaml
  docker-compose.yml
  frontend/e2e/deep/battles-concurrent-users.spec.ts
  frontend/e2e/deep/chat-media-upload.spec.ts
  frontend/src/components/battles/BattleArena.tsx
  frontend/src/components/battles/PromptEditor.tsx
  frontend/src/hooks/useBattleWebSocket.ts
  frontend/src/pages/battles/BattlePage.tsx
  infrastructure/cloudformation/10-ecs.yaml
  services/agents/discovery/find_content.py
  services/ai/phoenix.py
  services/ai/provider.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix test_analyze_with_readme and lint errors
  core/battles/tests/test_async_battles.py
  core/integrations/github/tests/test_ai_analyzer.py
  frontend/e2e/deep/battles-concurrent-users.spec.ts
  frontend/e2e/deep/battles-pip-real-ai.spec.ts
  frontend/src/components/battles/BattleArena.test.tsx
  frontend/src/components/battles/PromptEditor.test.tsx
  frontend/src/hooks/useBattleWebSocket.test.ts
  services/agents/ember/agent.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix infinite loop in Weaviate sync signals
  frontend/src/components/battles/BattleArena.test.tsx
  frontend/src/components/battles/PromptEditor.test.tsx
  frontend/src/hooks/useBattleWebSocket.test.ts
  services/agents/ember/agent.py
  services/weaviate/signals.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix image upload flow and improve battle submission handling
  core/battles/tasks.py
  frontend/src/components/chat/core/ChatCore.tsx
  services/agents/ember/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix image upload to render inline in chat
  frontend/src/components/chat/core/ChatCore.tsx
  services/agents/ember/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix LLM using literal placeholder URL in create_media_project
  services/agents/ember/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Improve media upload tests to verify actual project creation and image URL
  frontend/e2e/deep/chat-media-upload.spec.ts
Due: none

Fix admin logs filtering to work client-side
  frontend/src/components/battles/PromptEditor.test.tsx
  frontend/src/pages/admin/LogsPage.tsx
Due: none

Optimize startup: remove auto-seed, skip Phoenix for management commands
  CLAUDE.md
  core/apps.py
  scripts/startup.sh
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix image upload → project creation flow and e2e tests
  frontend/e2e/deep/chat-media-upload.spec.ts
  frontend/e2e/deep/deep-helpers.ts
  services/agents/ember/agent.py
  services/agents/ember/prompts.py
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix AI analyzer tests: patch where objects are used, not defined
  core/integrations/github/tests/test_ai_analyzer.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix async battles tests: patch AIProvider at source module
  core/battles/tests/test_async_battles.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add Ember E2E testing patterns doc and prevent duplicate battle image tasks
  core/battles/consumers.py
  core/battles/tasks.py
  docs/evergreen-architecture/23-EMBER-CHAT-TESTING.md
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix get_storage_service patch path in async battles tests
  core/battles/tests/test_async_battles.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Skip flaky judge_battle test in CI due to database timeout
  core/battles/tests/test_async_battles.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add comprehensive URL import E2E tests with proper async patterns
  docs/evergreen-architecture/23-EMBER-CHAT-TESTING.md
  frontend/e2e/deep/chat-url-import.spec.ts
Due: none

Skip Phoenix initialization in CI environments
  services/ai/phoenix.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Simplify test commands and update AWS infrastructure docs
  Makefile
  core/battles/services.py
  docs/evergreen-architecture/22-AWS-INFRASTRUCTURE.md
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix WebSocket origin validation for production domains
  core/agents/consumers.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix WebSocket URL: remove non-existent ws. subdomain
  frontend/src/utils/websocket.ts
Due: none

Fix nightly E2E workflow to run all tests and add GitHub import tests
  .github/workflows/nightly-deep-e2e.yml
  core/agents/consumers.py
  core/middleware.py
  docs/evergreen-architecture/07-WEBSOCKET-IMPLEMENTATION.md
  docs/evergreen-architecture/22-AWS-INFRASTRUCTURE.md
  docs/evergreen-architecture/23-EMBER-CHAT-TESTING.md
  frontend/e2e/deep/chat-learning-path.spec.ts
  frontend/e2e/deep/github-import-flow.spec.ts
  infrastructure/cloudformation/10-ecs.yaml
  infrastructure/cloudformation/README.md
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add GitLab import E2E tests (standard + deep)
  frontend/e2e/deep/gitlab-import-flow.spec.ts
  frontend/e2e/gitlab-import.spec.ts
Due: none
