Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

no-hardcoded-urls:
  name: No Hardcoded URLs
  entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
  language: python

check-permissions:
  name: Check ViewSet Permissions
  entry: python scripts/pre-commit-hooks/check_permissions.py
  language: python

check-magic-numbers:
  name: Check for Magic Numbers
  entry: python scripts/pre-commit-hooks/check_magic_numbers.py
  language: python

no-core-models-import:
  name: No core.models Imports
  entry: python scripts/pre-commit-hooks/check_no_core_models.py
  language: python

check-auth-user-model:
  name: Check AUTH_USER_MODEL Usage
  entry: python scripts/pre-commit-hooks/check_auth_user_model.py
  language: python

Improve pre-push regression test robustness
  frontend/e2e/critical/pre-push-regression.spec.ts
Due: none

Fix TypeScript errors in test files
  frontend/src/contexts/__tests__/AsyncBattleContext.race.test.tsx
  frontend/src/hooks/__tests__/useChatSession.race.test.ts
  frontend/src/test/setup.ts
Due: none

Updates to more tests.
  frontend/e2e/critical/pre-push-regression.spec.ts
Due: none

Improve critical E2E test reliability for real AI scenarios
  frontend/e2e/critical/pre-push-regression.spec.ts
Due: none

Make context window learning path E2E test more robust
  frontend/e2e/critical/pre-push-regression.spec.ts
  frontend/src/hooks/__tests__/useProjectLike.race.test.ts
  frontend/src/test/test-utils.tsx
Due: none

Fix learning path E2E test to handle AI clarifying questions
  frontend/e2e/critical/pre-push-regression.spec.ts
Due: none

Add admin topics management and fix learning path exercise persistence
  core/community/management/commands/seed_rooms.py
  core/learning_paths/tests/test_api.py
  core/learning_paths/views.py
  core/topics/models.py
  core/topics/serializers.py
  core/topics/urls.py
  core/topics/views.py
  core/urls.py
  frontend/e2e/critical/pre-push-regression.spec.ts
  frontend/src/components/chat/messages/AssistantMessage.tsx
  frontend/src/components/community/Lounge/RoomList.tsx
  frontend/src/components/community/Room/RoomView.tsx
  frontend/src/components/layouts/AdminLayout.tsx
  frontend/src/components/learning/exercises/CodeWalkthroughExercise/index.tsx
  frontend/src/components/learning/exercises/ConnectNodesExercise/index.tsx
  frontend/src/components/learning/exercises/DragSortExercise/SortableItem.tsx
  frontend/src/components/learning/exercises/DragSortExercise/index.tsx
  frontend/src/components/learning/exercises/ExerciseCollection/ExerciseAccordion.tsx
  frontend/src/components/learning/exercises/ExerciseCollection/index.tsx
  frontend/src/components/learning/exercises/ExerciseCollection/useExerciseCollection.ts
  frontend/src/components/learning/exercises/index.ts
  frontend/src/components/projects/sections/TechStackSection.tsx
  frontend/src/hooks/useAdminTopics.ts
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/pages/admin/TopicsManagementPage.tsx
  frontend/src/pages/community/LoungePage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/adminTopics.ts
  frontend/src/types/adminTopics.ts
  frontend/src/types/community.ts
  services/agents/ava/agent.py
  services/agents/ava/prompts.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix HTML entity encoding in battle prompt display
  core/battles/services.py
  core/battles/tasks.py
  core/battles/tests/test_tasks.py
  core/battles/utils.py
  core/tasks/tasks.py
  frontend/src/components/learning/exercises/DragSortExercise/SortableItem.tsx
  frontend/src/components/learning/exercises/ExerciseCollection/ExerciseAccordion.tsx
  frontend/src/components/learning/exercises/ExerciseRenderer.tsx
  frontend/src/components/learning/exercises/SortExercise/DropZone.tsx
  frontend/src/components/learning/exercises/SortExercise/SortableItem.tsx
  frontend/src/components/learning/exercises/SortExercise/index.tsx
  frontend/src/components/learning/exercises/index.ts
  services/agents/learning/lesson_prompts.py
  services/gamification/battles.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add warning documentation for Pip battle code
  core/battles/consumers.py
  core/battles/services.py
  core/battles/tasks.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix E2E test: skip onboarding modal before URL project creation test
  frontend/e2e/critical/pre-push-regression.spec.ts
Due: none

Add site-wide points toast notifications
  core/agents/views.py
  core/battles/consumers.py
  core/battles/serializers.py
  core/learning_paths/views.py
  core/projects/views.py
  core/thrive_circle/models.py
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/chat/layouts/InlineChatLayout.tsx
  frontend/src/components/chat/layouts/SidebarChatLayout.tsx
  frontend/src/components/prompts/PromptFormSidebar.tsx
  frontend/src/components/quiz/QuizOverlay.tsx
  frontend/src/hooks/useBattleWebSocket.ts
  frontend/src/hooks/useGameScore.ts
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/pages/battles/BattlePage.tsx
  frontend/src/pages/quizzes/QuizPage.tsx
  frontend/src/services/learningPaths.ts
  frontend/src/services/projects.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add migration for new point activity types
  core/thrive_circle/migrations/0013_alter_pointactivity_activity_type.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix PointActivity attribute error: use .amount instead of .points
  core/agents/views.py
  core/projects/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Improve E2E test reliability for URL-to-project flow
  frontend/e2e/critical/pre-push-regression.spec.ts
Due: none

Add Azure OpenAI and image generation API keys to E2E CI workflow
  .github/workflows/ci.yml
Due: none

Fix E2E test timeout on project page navigation
  frontend/e2e/critical/pre-push-regression.spec.ts
Due: none

Update tagline: remove Living Lab, use 'Share, learn, and play with AI'
  frontend/index.html
Due: none

Skip URL→project E2E test temporarily while investigating CI failures
  frontend/e2e/critical/pre-push-regression.spec.ts
Due: none

Fix CloudFormation "no updates" exit code handling
  .github/workflows/deploy-aws.yml
Due: none

Make production E2E smoke tests non-blocking temporarily
  .github/workflows/deploy-aws.yml
Due: none

Fix CORS to allow x-smoke-test-key header for production E2E tests
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Disable production E2E smoke tests temporarily
  .github/workflows/deploy-aws.yml
Due: none

Configure WebSocket subdomain to bypass CloudFront for lower latency
  frontend/.env.production.example
  infrastructure/cloudformation/11-cloudfront.yaml
Due: none

Fix Celery auto-scaling to prevent RDS connection exhaustion
  infrastructure/cloudformation/10-ecs.yaml
Due: none

Temporarily disable smoke test env var to unblock ECS deployment
  infrastructure/cloudformation/10-ecs.yaml
Due: none

Remove smoke tests and e2e oauth tests to unblock production deployments
  .github/workflows/ci.yml
  .github/workflows/deploy-aws.yml
  .github/workflows/nightly-deep-e2e.yml
  core/auth/smoke_test_views.py
  core/urls.py
  frontend/e2e/oauth-e2e.spec.ts
  frontend/e2e/production-smoke.spec.ts
  frontend/e2e/smoke.spec.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

CRITICAL FIX: Prevent CloudFormation from overwriting production secrets
  infrastructure/cloudformation/08-secrets.yaml
Due: none

Fix connection pool exhaustion in Weaviate and tagging Celery tasks
  services/tagging/tasks.py
  services/weaviate/tasks.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix database connection pool exhaustion
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix ASGI connection pool exhaustion with Django 5.1 native psycopg pooling
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Use CONN_MAX_AGE=0 for ASGI stability (no app-level pooling)
  config/settings.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add diagnostic logging and timeout to debug Ava chat hang
  services/agents/ava/agent.py
  services/agents/context/member_context.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add granular diagnostic logging to pinpoint workflow hang location
  services/agents/ava/agent.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add diagnostic logging to create_agent_node to pinpoint ChatOpenAI/bind_tools hang
  services/agents/ava/agent.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix Phoenix hang: disable in production without API key
  services/ai/phoenix.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix Phoenix: detect AWS ECS environment without ENVIRONMENT var
  services/ai/phoenix.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add loading message for learning path creation
  frontend/src/components/chat/messages/LoadingMessage.tsx
Due: none

Add friendly loading message for learning path creation
  frontend/src/components/chat/messages/LoadingMessage.tsx
Due: none

Fix GitHub disconnect to handle both SocialAccount and SocialConnection
  core/social/views.py
  frontend/src/hooks/useIntelligentChat.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Path conditions:
  no-hardcoded-urls: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/fixtures/.*|\
  .*/migrations/.*|\
  scripts/pre-commit-hooks/.*|\
  config/settings\.py$\
)$

  check-permissions: any of: (views|viewsets)\.py$, but not: (?x)^(\
  .*/tests/.*|\
  scripts/pre-commit-hooks/.*\
)$

  check-magic-numbers: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/migrations/.*|\
  .*/constants\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  no-core-models-import: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/admin\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  check-auth-user-model: any of: models\.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/users/models\.py$|\
  scripts/pre-commit-hooks/.*\
)$

