Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

.pre-commit-config.yaml:

repos:
  # Ruff for linting and formatting (single tool per project preference)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-ast  # Check Python syntax by parsing AST

  # Django specific checks
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: ['--target-version', '4.2']

  # Custom hooks for AllThrive AI rules
  - repo: local
    hooks:
      # Check for hardcoded URLs
      - id: no-hardcoded-urls
        name: No Hardcoded URLs
        entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/fixtures/.*|\
            .*/migrations/.*|\
            scripts/pre-commit-hooks/.*|\
            config/settings\.py$\
          )$

      # Check for missing permission classes
      - id: check-permissions
        name: Check ViewSet Permissions
        entry: python scripts/pre-commit-hooks/check_permissions.py
        language: python
        files: (views|viewsets)\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for magic numbers
      - id: check-magic-numbers
        name: Check for Magic Numbers
        entry: python scripts/pre-commit-hooks/check_magic_numbers.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/migrations/.*|\
            .*/constants\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for core.models imports (should use domain imports)
      - id: no-core-models-import
        name: No core.models Imports
        entry: python scripts/pre-commit-hooks/check_no_core_models.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/admin\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Ensure settings.AUTH_USER_MODEL usage
      - id: check-auth-user-model
        name: Check AUTH_USER_MODEL Usage
        entry: python scripts/pre-commit-hooks/check_auth_user_model.py
        language: python
        files: models\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/users/models\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

fix: resolve Docker auto-reload loop and line-length issues
  .github/workflows/deploy-aws.yml
  core/battles/consumers.py
  core/integrations/video/__init__.py
  core/integrations/video/ai_analyzer.py
  docs/evergreen-architecture/07-WEBSOCKET-IMPLEMENTATION.md
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/projects/layouts/VideoProjectLayout.tsx
  frontend/src/hooks/useBattleNotifications.ts
  frontend/src/types/models.ts
  pyproject.toml
  services/agents/project/prompts.py
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

chore: save work in progress
  core/projects/views.py
  frontend/src/components/explore/ProjectsGrid.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/layouts/VideoProjectLayout.tsx
  frontend/src/hooks/useBattleNotifications.ts
  frontend/src/services/projects.ts
  services/agents/project/agent.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

feat: enhance explore search and add Weaviate reindex command
  core/management/commands/setup_weaviate.py
  core/projects/views.py
  frontend/src/pages/ExplorePage.tsx
  infrastructure/cloudformation/07-iam.yaml
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

updates to prompt battle invites, and video templates.
  core/auth/adapter.py
  core/battles/services.py
  frontend/src/components/projects/layouts/VideoProjectLayout.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/battles/BattleInvitePage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

prompt battles.
  frontend/src/hooks/useEmberOnboarding.ts
  frontend/src/pages/battles/BattleInvitePage.tsx
  infrastructure/cloudformation/11-cloudfront.yaml
Due: none

Add battle sharing functionality with OG images and social share URLs
  core/battles/migrations/0004_add_og_image_url_to_promptbattle.py
  core/battles/models.py
  core/battles/og_image_service.py
  core/battles/tasks.py
  core/battles/urls.py
  core/battles/views.py
  core/management/commands/seed_challenge_types.py
  frontend/src/components/battles/BattleShareModal.tsx
  frontend/src/components/battles/JudgingReveal.tsx
  frontend/src/components/battles/index.ts
  frontend/src/hooks/useBattleWebSocket.ts
  frontend/src/pages/battles/BattlePage.tsx
  frontend/src/routes/index.tsx
  services/integrations/storage/__init__.py
  tests/integration/test_websocket_health.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

fix: graceful fallback when Weaviate not configured
  core/projects/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Updating profile.
  .gitignore
  Screenshot 2025-12-12 at 4.11.14 PM.png
  frontend/src/components/profile/ProfileTabMenu.tsx
  frontend/src/components/profile/sections/ProfileSectionRenderer.tsx
  node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
Due: none

Updating frontend unit tests.
  frontend/src/contexts/AsyncBattleContext.test.tsx
Due: none

fix: remove unused variables and imports
  core/achievements/views.py
  core/battles/migrations/0007_add_tool_to_battle.py
  core/battles/models.py
  core/battles/serializers.py
  core/migrations/0043_project_tools_order.py
  core/projects/models.py
  core/projects/serializers.py
  core/projects/views.py
  core/uploads/views.py
  core/views/media_views.py
  frontend/public/logos/nano-banana-logo.png
  frontend/src/components/projects/ToolSelector.tsx
  frontend/src/components/projects/layouts/CuratedArticleLayout.tsx
  frontend/src/components/projects/reddit/RedditThreadLayout.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/api.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

udpating e2e tests.
  frontend/e2e/intelligent-chat.spec.ts
Due: none

Updating prompt battles and e2e testing.
  core/battles/services.py
  frontend/src/components/battles/ChallengeDisplay.tsx
  frontend/src/components/battles/PromptEditor.tsx
  frontend/src/pages/battles/BattlePage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

fix: update E2E tests for actual chat behavior
  frontend/e2e/intelligent-chat.spec.ts
Due: none

docs about e2e testing.
  evergreen-architecture/mission-critical-tests.md
Due: none

Fix battle share for social media and test mock functions
  config/urls.py
  core/battles/og_image_service.py
  core/battles/tests/test_battle_service.py
  core/battles/urls.py
  core/battles/views.py
  core/views/crawler_views.py
  frontend/src/components/battles/BattleShareModal.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add timeouts to CI workflow to prevent hanging
  .github/workflows/ci.yml
Due: none

:Update pitch
  frontend/src/components/pitch/slides/WhyNowSlide.tsx
Due: none

updating prompts and pitch.
  core/battles/serializers.py
  core/battles/views.py
  core/management/commands/seed_challenge_types.py
  frontend/src/components/battles/BattlePageStates.tsx
  frontend/src/components/pitch/slides/WhyNowSlide.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Update AskSlide
  frontend/src/components/pitch/slides/AskSlide.tsx
Due: none

updat pitch deck.
  frontend/src/components/pitch/slides/CompetitionSlide.tsx
Due: none

Update mobile navigation, pitch deck, and fix ruff lint error
  core/battles/services.py
  core/battles/tests/test_battle_service.py
  core/battles/views.py
  core/management/commands/delete_material_texture.py
  core/management/commands/list_challenge_types.py
  frontend/src/components/battles/ChallengeReadyScreen.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/navigation/MobileMenu.tsx
  frontend/src/components/navigation/TopNavigation.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/contexts/AsyncBattleContext.tsx
  frontend/src/pages/battles/BattlePage.tsx
  scripts/check_challenge_types.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Filter out noisy timeout errors from Sentry
  frontend/src/utils/sentry.ts
Due: none

Add random challenge type rotation when refreshing battles
  core/battles/services.py
  core/battles/tests/test_battle_service.py
  core/battles/views.py
  frontend/src/pages/battles/BattlePage.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add new AI tools and make add-tool command
  Makefile
  core/battles/services.py
  core/fixtures/ai_tools.json
  core/fixtures/tools.yaml
  core/tools/management/__init__.py
  core/tools/management/commands/__init__.py
  core/tools/management/commands/add_tool.py
  frontend/public/logos/Qwen-logo.svg
  frontend/public/logos/bluefly-logo.png
  frontend/public/logos/fast-mcp.png
  frontend/public/logos/go1-logo.png
  frontend/public/logos/mcp-logo.png
  frontend/public/logos/trae-logo.png
  frontend/public/logos/warp-logo.png
  frontend/public/logos/weviate-logo.png
  frontend/public/logos/whisper-logo.png
  frontend/src/components/tools/ToolRequestTray.tsx
  frontend/src/components/tools/ToolTray.tsx
  frontend/src/pages/ToolDirectoryPage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Allow scrolling main content while tool tray is open
  frontend/src/components/tools/ToolTray.tsx
Due: none

Add AI provider pricing and fix cost tracking
  Makefile
  core/ai_usage/management/commands/seed_ai_pricing.py
  core/thrive_circle/signals.py
  frontend/src/components/battles/BattleDeadlineCountdown.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Exclude curation tier and internal users from analytics user counts
  core/ai_usage/tasks.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add battle challenge type rotation and improve impersonation
  core/auth/impersonation.py
  core/battles/models.py
  core/thrive_circle/signals.py
  frontend/src/pages/admin/ImpersonatePage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import, check-auth-user-model

Improve battle prompts to be visually concrete
  core/management/commands/seed_challenge_types.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Update challenge types with improved visually-concrete prompts
  core/management/commands/seed_challenge_types.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add Devpost tool to directory
  core/fixtures/tools.yaml
  frontend/public/logos/devpost-logo.png
Due: none

Add overview and whats_new to Base44 tool
  core/fixtures/tools.yaml
Due: none

Add refresh_tool_news command to update tool news
  Makefile
  core/tools/management/commands/refresh_tool_news.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add battle history management, pull-prod-db, and pre-commit improvements
  .pre-commit-config.yaml
  Dockerfile.prod
  Makefile
  core/battles/consumers.py
  core/battles/migrations/0008_add_hidden_by_field.py
  core/battles/models.py
  core/battles/tests/test_guest_flow.py
  core/battles/views.py
  core/tests/e2e/test_prompt_battles.py
  core/urls.py
  frontend/e2e/prompt-battles.spec.ts
  frontend/src/components/battles/BattleArena.tsx
  frontend/src/components/battles/MyBattlesTab.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/contexts/AsyncBattleContext.tsx
  frontend/src/hooks/useBattleWebSocket.ts
  frontend/src/hooks/useEmberOnboarding.ts
  frontend/src/pages/battles/BattleInvitePage.tsx
  frontend/src/pages/battles/BattlePage.tsx
  infrastructure/cloudformation/07-iam.yaml
  infrastructure/cloudformation/11-cloudfront.yaml
  pyproject.toml
  scripts/pre-commit-hooks/check_no_hardcoded_urls.py
  scripts/pull-prod-db.sh
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Remove unused variables in MyBattlesTab to fix TypeScript build
  frontend/src/components/battles/MyBattlesTab.tsx
Due: none

Add friend name feature, expired invite E2E test, and promo pages
  core/battles/consumers.py
  core/battles/serializers.py
  core/battles/tasks.py
  core/battles/views.py
  core/urls.py
  core/users/invitation_admin.py
  core/users/invitation_api_views.py
  core/users/invitation_models.py
  core/users/invitation_views.py
  core/users/migrations/0022_invitationrequest_desired_integrations_and_more.py
  docs/evergreen-architecture/prompt-battle-challenge-types.md
  frontend/e2e/prompt-battles.spec.ts
  frontend/src/components/battles/AsyncBattleCard.tsx
  frontend/src/components/battles/ChallengeReadyScreen.tsx
  frontend/src/components/battles/MyBattlesTab.tsx
  frontend/src/components/landing/InvitationTray.tsx
  frontend/src/components/promo/PromoVideo.tsx
  frontend/src/components/promo/scenes/BattleScene.tsx
  frontend/src/components/promo/scenes/CTAScene.tsx
  frontend/src/components/promo/scenes/CommunityScene.tsx
  frontend/src/components/promo/scenes/HookScene.tsx
  frontend/src/components/promo/scenes/PortfolioScene.tsx
  frontend/src/contexts/AsyncBattleContext.tsx
  frontend/src/hooks/useBattleWebSocket.ts
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/PromoPage.tsx
  frontend/src/pages/admin/InvitationsPage.tsx
  frontend/src/pages/battles/BattleInvitePage.tsx
  frontend/src/pages/battles/BattlePage.tsx
  frontend/src/routes/index.tsx
  templates/emails/invitations/request_admin.html
  templates/emails/invitations/request_admin.txt
  templates/emails/invitations/request_user.html
  templates/emails/invitations/request_user.txt
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model
