Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

no-hardcoded-urls:
  name: No Hardcoded URLs
  entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
  language: python

check-permissions:
  name: Check ViewSet Permissions
  entry: python scripts/pre-commit-hooks/check_permissions.py
  language: python

check-magic-numbers:
  name: Check for Magic Numbers
  entry: python scripts/pre-commit-hooks/check_magic_numbers.py
  language: python

no-core-models-import:
  name: No core.models Imports
  entry: python scripts/pre-commit-hooks/check_no_core_models.py
  language: python

check-auth-user-model:
  name: Check AUTH_USER_MODEL Usage
  entry: python scripts/pre-commit-hooks/check_auth_user_model.py
  language: python

Add project preview tray for explore feed
  core/projects/serializers.py
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/ProjectPreviewTray.tsx
  frontend/src/context/ProjectPreviewTrayContext.tsx
  frontend/src/hooks/useVideoAutoplay.ts
  frontend/src/pages/ExplorePage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Enhance project preview tray with rich content display
  frontend/src/components/projects/ProjectPreviewTray.tsx
Due: none

Fix YouTube Shorts not displaying in project preview tray
  frontend/src/components/projects/hero/HeroVideo.tsx
Due: none

Add markdown rendering for project descriptions in preview tray
  frontend/src/components/projects/ProjectPreviewTray.tsx
Due: none

Shift project tray left when tool tray opens on desktop
  frontend/src/components/projects/ProjectPreviewTray.tsx
Due: none

Make tool badges clickable to open topic tray
  frontend/src/components/projects/ProjectPreviewTray.tsx
Due: none

Fix provider order: ProjectPreviewTrayProvider must wrap TopicTrayProvider
  frontend/src/components/layouts/DashboardLayout.tsx
Due: none

Use ToolTray component in project preview and close on project open
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/ProjectPreviewTray.tsx
  frontend/src/components/tools/ToolTray.tsx
  frontend/src/context/ProjectPreviewTrayContext.tsx
  frontend/src/context/TopicTrayContext.tsx
Due: none

Fix AsyncBattleContext tests using expired 2024 dates
  frontend/src/contexts/AsyncBattleContext.test.tsx
Due: none

Disable naming-convention ESLint rule for snake_case API types
  frontend/eslint.config.js
Due: none

Add compressed player videos for promo battle scene
  .gitignore
  frontend/public/person-1.mp4
  frontend/public/person-2.mp4
  frontend/src/components/promo/scenes/BattleVideoScene.tsx
Due: none

Show challenger their generated image immediately after submission
  .github/workflows/ci.yml
  frontend/e2e/prompt-battles.spec.ts
  frontend/e2e/smoke.spec.ts
  frontend/src/pages/battles/BattlePage.tsx
Due: none

Add customizable hero background gradient with dark overlay
  .env.example
  config/settings.py
  core/management/commands/sync_user_projects_to_prod.py
  core/projects/serializers.py
  docs/plans/regenerate-architecture-diagram.md
  frontend/e2e-challenger-no-image.png
  frontend/e2e-expired-invite-page.png
  frontend/e2e-slideshow-final.png
  frontend/e2e-timer-not-counting.png
  frontend/e2e/fixtures/test-image.png
  frontend/e2e/fixtures/test-video.mp4
  frontend/e2e/hero-editor.spec.ts
  frontend/src/components/landing/InvitationTray.tsx
  frontend/src/components/profile/sections/ProfileSectionRenderer.tsx
  frontend/src/components/projects/ProjectPreviewTray.tsx
  frontend/src/components/projects/fields/HeroDisplaySection.tsx
  frontend/src/components/projects/figma/FigmaProjectLayout.tsx
  frontend/src/components/projects/github/GitHubProjectLayout.tsx
  frontend/src/components/projects/hero/HeroImage.tsx
  frontend/src/components/projects/hero/HeroVideo.tsx
  frontend/src/components/projects/hero/InlineHeroEditor.tsx
  frontend/src/components/projects/hero/ProjectHero.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/components/projects/layouts/VideoProjectLayout.tsx
  frontend/src/components/projects/shared/TldrSection.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/types/models.ts
  services/integrations/rss/sync.py
  templates/emails/base.html
  templates/emails/base.txt
  templates/emails/billing/low_balance.html
  templates/emails/billing/quota_warning.html
  templates/emails/invitations/approved.html
  templates/emails/invitations/approved.txt
  templates/emails/invitations/request_admin.html
  templates/emails/invitations/request_admin.txt
  templates/emails/invitations/request_user.html
  templates/emails/invitations/request_user.txt
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

updating invite email.
  templates/emails/invitations/approved.html
  templates/emails/invitations/approved.txt
Due: none

Fix duplicate isVertical declaration in HeroVideo.tsx
  frontend/src/components/projects/hero/HeroVideo.tsx
Due: none

Add missing InlineHeroEditor export to hero index
  frontend/src/components/projects/hero/index.ts
Due: none

Fix hero editor tray not opening - add onEditClick prop chain
  frontend/src/components/projects/hero/HeroImage.tsx
  frontend/src/components/projects/hero/ProjectHero.tsx
Due: none

Fix hero editor uploads and add edit overlay for all hero modes
  core/projects/serializers.py
  frontend/src/components/projects/hero/ProjectHero.tsx
  frontend/src/pages/ProjectDetailPage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Update tagline to "for anyone creating with AI"
  frontend/index.html
  frontend/public/site.webmanifest
  frontend/src/components/battles/PlayerCard.tsx
  frontend/src/components/common/SEO.tsx
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/seoPresets.ts
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/pitch/slides/TitleSlide.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/ProfilePage.tsx
Due: none

Fix battle timer drift calculation and dependency array
  frontend/src/hooks/useBattleTimer.ts
Due: none

Simplify explore 'new' tab to pure chronological ordering
  core/projects/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Exclude guest users from thrive circles, impersonation, and sitemaps
  core/auth/impersonation.py
  core/sitemaps.py
  core/thrive_circle/serializers.py
  core/thrive_circle/tasks.py
  core/thrive_circle/views.py
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/projects/ProjectPreviewTray.tsx
  frontend/src/components/projects/hero/HeroVideo.tsx
  frontend/src/context/ProjectPreviewTrayContext.tsx
  frontend/src/hooks/useBattleTimer.ts
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/challenges/ChallengePage.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix iOS Safari swipe-to-dismiss touch handling
  frontend/src/components/projects/ProjectPreviewTray.tsx
Due: none

make command for reddit and guest users.
  Makefile
  core/users/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add desktop wheel scroll-to-close for ProjectPreviewTray
  frontend/src/components/projects/ProjectPreviewTray.tsx
Due: none

Fix mobile scroll-to-close with overscroll detection fallback
  frontend/src/components/projects/ProjectPreviewTray.tsx
Due: none

Fix explore 'New' tab pagination and add seeded random ordering
  core/projects/views.py
  frontend/src/components/onboarding/EmberOnboardingModal.tsx
  frontend/src/pages/ExplorePage.tsx
  frontend/src/services/explore.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix 'For You' tab pagination for cold-start users
  services/personalization/cold_start.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updates to projects, battle timer and aws make commands.
  core/projects/serializers.py
  frontend/src/components/battles/BattleArena.tsx
  frontend/src/components/battles/PromptEditor.tsx
  frontend/src/components/projects/ProjectPreviewTray.tsx
  frontend/src/components/projects/reddit/RedditThreadLayout.tsx
  frontend/src/components/quiz/QuizOverlay.tsx
  frontend/src/hooks/useBattleTimer.ts
  frontend/src/pages/battles/BattlePage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add RedditThread sync to user projects export/import
  core/management/commands/sync_user_projects_to_prod.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix Pip battle to use current challenge after user refreshes
  core/battles/consumers.py
  core/battles/services.py
  core/tests/e2e/test_prompt_battles.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix admin analytics API response keys to use camelCase
  core/ai_usage/cache_service.py
  core/ai_usage/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix explore search combining distinct/non-distinct querysets
  core/projects/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Limit video autoplay to midjourney-reddit-agent in explore feed
  core/projects/serializers.py
  frontend/src/components/projects/ProjectCard.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add admin actions to trigger platform stats aggregation
  core/ai_usage/admin.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix None value handling in PlatformDailyStats admin display methods
  core/ai_usage/admin.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add homepage link button to promo video page
  frontend/src/components/promo/PromoVideoPlayer.tsx
Due: none

Path conditions:
  no-hardcoded-urls: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/fixtures/.*|\
  .*/migrations/.*|\
  scripts/pre-commit-hooks/.*|\
  config/settings\.py$\
)$

  check-permissions: any of: (views|viewsets)\.py$, but not: (?x)^(\
  .*/tests/.*|\
  scripts/pre-commit-hooks/.*\
)$

  check-magic-numbers: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/migrations/.*|\
  .*/constants\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  no-core-models-import: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/admin\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  check-auth-user-model: any of: models\.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/users/models\.py$|\
  scripts/pre-commit-hooks/.*\
)$

