Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

no-hardcoded-urls:
  name: No Hardcoded URLs
  entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
  language: python

check-permissions:
  name: Check ViewSet Permissions
  entry: python scripts/pre-commit-hooks/check_permissions.py
  language: python

check-magic-numbers:
  name: Check for Magic Numbers
  entry: python scripts/pre-commit-hooks/check_magic_numbers.py
  language: python

no-core-models-import:
  name: No core.models Imports
  entry: python scripts/pre-commit-hooks/check_no_core_models.py
  language: python

check-auth-user-model:
  name: Check AUTH_USER_MODEL Usage
  entry: python scripts/pre-commit-hooks/check_auth_user_model.py
  language: python

Add comprehensive mocks to all AI analyzer tests and test runner script
  core/integrations/github/tests/test_ai_analyzer.py
  docs/BETA_LAUNCH_ROADMAP.md
  docs/CONTENT_AUTOMATION_PLAN.md
  docs/CURATOR_ROLE_PLAN.md
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/quiz/QuizCard.tsx
  frontend/src/components/quiz/QuizPreviewCard.tsx
  frontend/src/index.css
  run_tests.sh
Due: none

Styling and trying to get tests to pass in github.
  frontend/src/context/ThemeContext.tsx
Due: none

Skip problematic tests to unblock CI pipeline
  core/integrations/github/tests/test_ai_analyzer.py
  core/integrations/github/tests/test_integration.py
  docs/BETA_LAUNCH_ROADMAP.md
  test_activity_endpoint.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Update README.md
  README.md
  docs/CODE_REVIEW_FIXES.md
  docs/CRITICAL_FIXES_SUMMARY.md
  docs/LAUNCH_DAY_ROBOTS_UPDATE.md
  docs/PRIVACY_FIXES_IMPLEMENTED.md
  docs/PRIVACY_SECURITY_REVIEW.md
  docs/PRIVACY_SETTINGS_UI.md
  docs/PUBLIC_INFO.md
  docs/QUICK_START_SEO.md
  docs/ROBOTS_TXT_IMPLEMENTATION_SUMMARY.md
  docs/SENIOR_CODE_REVIEW_PRIVACY_PR.md
  docs/SSR_CRAWLER_IMPLEMENTATION.md
  docs/TOP_NAV_IMPLEMENTATION.md
  docs/ultrathink-seo-llm-discovery.md
  docs/ultrathink.md
  scripts/review_points_system.py
  scripts/run_tests.sh
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

More updates to readme.
  README.md
Due: none

Readme updates.
  README.md
Due: none

Revise key features in README for clarity
  README.md
Due: none

Fix wording in README for clarity
  README.md
Due: none

More updates to projects.
  dark.jpeg
  frontend/public/light.jpeg
  light.jpeg
Due: none

yoube scaling and better error messages.
  CRITICAL_FIXES_IMPLEMENTED.md
  USER_FRIENDLY_ERRORS_IMPLEMENTED.md
  YOUTUBE_SCALABILITY_REVIEW.md
  config/celery.py
  core/admin_site.py
  core/events/models.py
  core/integrations/base/parser.py
  core/integrations/github/ai_analyzer.py
  core/integrations/github/service.py
  core/integrations/views.py
  core/integrations/youtube/ai_analyzer.py
  core/integrations/youtube/helpers.py
  core/integrations/youtube/service.py
  core/integrations/youtube/tasks.py
  core/logging_utils.py
  core/management/commands/seed_categories.py
  core/management/commands/seed_quizzes.py
  core/management/commands/seed_topics.py
  core/quizzes/views.py
  core/signals.py
  core/taxonomy/management/commands/auto_tag_projects.py
  core/taxonomy/services.py
  frontend/src/components/integrations/VideoPickerModal.tsx
  frontend/src/pages/settings/IntegrationsSettingsPage.tsx
  frontend/src/utils/errorMessages.ts
  scripts/setup_oauth.py
  services/auth/credentials.py
  services/social_oauth_service.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Updating tagline and tests.
  .github/workflows/test-youtube-integration.yml
  README.md
  core/migrations/0013_alter_socialconnection_provider.py
  core/thrive_circle/migrations/0003_alter_sidequest_topic.py
  frontend/src/components/common/SEO.tsx
  frontend/src/pages/HomePage.tsx
Due: no-core-models-import

Intent router.
  core/agents/tasks.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Websocket updates.
  docs/evergreen-architecture/07-WEBSOCKET-IMPLEMENTATION.md
  docs/evergreen-architecture/README.md
  docs/evergreen-architecture/intelligent-chat-architecture.md
Due: none

More work to projects, redditbot and intelligent chat.
  Makefile
  config/settings.py
  core/agents/tasks.py
  core/integrations/migrations/0002_redditcommunitybot_redditthread_and_more.py
  core/integrations/models.py
  core/integrations/reddit_models.py
  core/management/commands/create_reddit_bot.py
  core/management/commands/seed_categories.py
  core/management/commands/sync_reddit_bots.py
  core/migrations/0014_alter_project_type.py
  core/projects/models.py
  core/projects/serializers.py
  core/projects/views.py
  docker-compose.yml
  docs/REDDIT_CURATION_BOTS.md
  docs/evergreen-architecture/intelligent-chat-architecture.md
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/explore/FilterPanel.tsx
  frontend/src/components/explore/SearchBarWithFilters.tsx
  frontend/src/components/projects/fields/DescriptionSection.tsx
  frontend/src/components/projects/reddit/RedditThreadLayout.tsx
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/types/models.ts
  frontend/src/utils/categoryColors.ts
  pytest.ini
  requirements.txt
  services/ai_provider.py
  services/auth_agent/checkpointer.py
  services/project_agent/agent.py
  services/project_agent/prompts.py
  services/project_agent/tests/__init__.py
  services/project_agent/tests/conftest.py
  services/project_agent/tests/test_agent.py
  services/project_agent/tests/test_e2e_project_creation.py
  services/project_agent/tests/test_tools.py
  services/project_agent/tools.py
  services/project_service.py
  services/reddit_sync_service.py
  uv.lock
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

index on 13-project-refactor: e752fa6 Adding Gemini and checkpoint before project refactor.
  .dockerignore
  Makefile
  README.md
  core/management/commands/create_chatgpt_bot.py
  docs/DOCKER_SYNC_INVESTIGATION_SUMMARY.md
  docs/DOCKER_SYNC_QUICK_REFERENCE.md
  docs/DOCKER_VOLUME_SYNC.md
  docs/MAKEFILE_REFERENCE.md
  docs/MAKEFILE_UPDATES.md
  docs/plans/project-detail-refactor.md
  docs/plans/project-template-system.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/projects/editor/BannerEditor.tsx
  frontend/src/components/projects/editor/EditorSidebar.tsx
  frontend/src/components/projects/editor/EditorTopBar.tsx
  frontend/src/components/projects/editor/SectionEditor.tsx
  frontend/src/components/projects/editor/SectionTypePicker.tsx
  frontend/src/components/projects/editor/SectionsEditorCanvas.tsx
  frontend/src/components/projects/editor/index.ts
  frontend/src/components/projects/github/GitHubProjectLayout.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/components/projects/reddit/RedditThreadLayout.tsx
  frontend/src/components/projects/sections/ArchitectureSection.tsx
  frontend/src/components/projects/shared/EditableBlocksContainer.tsx
  frontend/src/components/projects/shared/EditableColumnsBlock.tsx
  frontend/src/components/projects/shared/EditableContentBlock.tsx
  frontend/src/components/projects/shared/IconCard.tsx
  frontend/src/components/projects/shared/InlineEditable.tsx
  frontend/src/components/projects/shared/index.ts
  frontend/src/contexts/SectionEditorContext.tsx
  frontend/src/hooks/useInlineEditable.ts
  frontend/src/pages/SectionEditorPage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/projects.ts
  scripts/create_chatgpt_bot.py
  scripts/diagnose_docker_sync.sh
  scripts/sync_to_docker.sh
  services/reddit_sync_service.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add project components, moderation features, and documentation
  core/integrations/migrations/0003_add_reddit_moderation_fields.py
  docs/ADMIN_DELETE_PERMISSIONS.md
  docs/AI_GATEWAY_MODERATION_INTEGRATION.md
  docs/CLEANUP_SUMMARY_2025-11-30.md
  docs/REDDIT_CONTENT_MODERATION.md
  docs/REDDIT_VIDEO_SUPPORT.md
  docs/ROOT_CLEANUP_PLAN.md
  docs/archived/CRITICAL_FIXES_IMPLEMENTED.md
  docs/archived/YOUTUBE_SCALABILITY_REVIEW.md
  docs/archived/review_points_system.py
  docs/archived/setup_oauth.py
  docs/archived/test_phase1_api.sh
  docs/archived/test_project_chat.py
  docs/archived/verify_robots_txt.sh
  frontend/src/components/explore/LoadingSkeleton.tsx
  frontend/src/components/project-components/ComponentRenderer.tsx
  frontend/src/components/project-components/ProjectComponents.tsx
  frontend/src/components/project-components/base/FeatureGridComponent.tsx
  frontend/src/components/project-components/base/HeroComponent.tsx
  frontend/src/components/project-components/base/ImageGalleryComponent.tsx
  frontend/src/components/project-components/base/LinksComponent.tsx
  frontend/src/components/project-components/base/PromptComponent.tsx
  frontend/src/components/project-components/base/StatsComponent.tsx
  frontend/src/components/project-components/base/TechStackComponent.tsx
  frontend/src/components/project-components/base/TextComponent.tsx
  frontend/src/components/project-components/base/index.ts
  frontend/src/components/project-components/github/GitHubContributorsComponent.tsx
  frontend/src/components/project-components/github/GitHubLanguagesComponent.tsx
  frontend/src/components/project-components/github/GitHubStatsComponent.tsx
  frontend/src/components/project-components/github/index.ts
  frontend/src/components/project-components/index.ts
  frontend/src/components/projects/github/GitHubProjectLayoutV2.tsx
  frontend/src/lib/generators/github-layout-generator.ts
  frontend/src/lib/generators/index.ts
  frontend/src/lib/generators/project-to-layout.ts
  frontend/src/types/components.ts
  frontend/src/utils/blocks.ts
  services/moderation/image_moderator.py
  services/tests/test_reddit_moderation.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Project and reusable components updates.
  core/integrations/github/ai_analyzer.py
  core/management/commands/create_chatgpt_bot.py
  core/management/commands/create_reddit_bot.py
  core/management/commands/reprocess_reddit_topics.py
  core/management/commands/update_reddit_bot_avatars.py
  core/tools/models.py
  core/tools/serializers.py
  docs/REDDIT_CURATION_BOTS.md
  docs/REDDIT_TOPIC_EXTRACTION.md
  frontend/src/components/project-components/ProjectComponents.tsx
  frontend/src/components/project-components/base/HeroComponent.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/lib/generators/project-to-layout.ts
  frontend/src/pages/ExplorePage.tsx
  scripts/create_chatgpt_bot.py
  scripts/update_reddit_bot_avatars.py
  services/reddit_sync_service.py
  services/tests/test_topic_extraction.py
  services/topic_extraction_service.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import, check-auth-user-model

Updating tools to include companies and technology.
  core/integrations/github/helpers.py
  core/management/commands/seed_companies.py
  core/management/commands/seed_technologies.py
  core/migrations/0015_add_tool_type_and_tech_categories.py
  core/migrations/0016_add_company_model.py
  core/tools/models.py
  core/tools/serializers.py
  core/tools/views.py
  frontend/src/components/navigation/menuData.ts
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/reddit/RedditThreadLayout.tsx
  frontend/src/components/tools/ToolFilters.tsx
  frontend/src/components/tools/ToolSearchBar.tsx
  frontend/src/pages/ToolDirectoryPage.tsx
  frontend/src/services/tools.ts
  services/project_agent/tools.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix linting and formatting issues
  core/projects/comment_views.py
  core/projects/tests/test_projects.py
  core/projects/views.py
  frontend/src/components/projects/CommentTray.tsx
  frontend/src/pages/SectionEditorPage.tsx
  frontend/src/pages/ToolDirectoryPage.tsx
  scripts/sync_to_docker.sh
  services/moderation/moderator.py
  services/project_agent/tests/test_real_github_import.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Updating tools
  frontend/src/components/tools/ToolFilters.tsx
Due: none

Updating project creation.
  core/integrations/github/ai_analyzer.py
  core/integrations/github/repository_analyzer.py
  core/projects/serializers.py
  docs/CHILD_SAFETY_PROTECTIONS.md
  docs/REDDIT_CONTENT_MODERATION.md
  docs/REDDIT_MODERATION_IMPROVEMENTS.md
  frontend/src/components/explore/LoadingSkeleton.tsx
  frontend/src/components/project-components/ProjectComponents.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/editor/SectionEditor.tsx
  frontend/src/components/projects/github/GitHubProjectLayout.tsx
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/components/projects/sections/FeaturesSection.tsx
  frontend/src/components/projects/sections/OverviewSection.tsx
  frontend/src/components/projects/sections/SectionRenderer.tsx
  frontend/src/components/projects/shared/EditableBlocksContainer.tsx
  frontend/src/components/projects/shared/InlineEditable.tsx
  frontend/src/components/projects/shared/MermaidDiagram.tsx
  frontend/src/index.css
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/ToolDirectoryPage.tsx
  frontend/src/services/tools.ts
  frontend/src/types/sections.ts
  frontend/tailwind.config.js
  services/moderation/__init__.py
  services/moderation/keyword_filter.py
  services/reddit_sync_service.py
  services/tests/test_keyword_filter.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add unit tests for section management and Mermaid diagram generation
  core/integrations/github/tests/test_ai_analyzer.py
  frontend/src/components/projects/sections/SectionRenderer.test.tsx
  frontend/src/types/sections.test.ts
Due: none

updating content moderation.
  core/management/commands/moderate_reddit_threads.py
  services/moderation/keyword_filter.py
  services/tests/test_keyword_filter.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating tests.
  core/integrations/github/tests/test_ai_analyzer.py
  services/project_agent/agent.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating tests.
  core/projects/tests/test_projects.py
  core/tests/test_seo_privacy.py
Due: none

Add DRY violation checks and refactor error handling
  .pre-commit-config.yaml
  core/config/__init__.py
  core/config/manager.py
  core/utils/__init__.py
  core/utils/error_handlers.py
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/events/EventForm.tsx
  frontend/src/components/forms/ImageUpload.tsx
  frontend/src/pages/ExplorePage.tsx
  frontend/src/services/achievements.ts
  frontend/src/services/api.ts
  frontend/src/services/explore.ts
  frontend/src/services/github.ts
  frontend/src/services/projects.ts
  frontend/src/services/tools.ts
  scripts/pre-commit-hooks/check_dry_violations.js
  scripts/pre-commit-hooks/check_dry_violations.py
  services/achievement_service.py
  services/ai_provider.py
  services/personalization/engine.py
  services/weaviate/client.py
  services/weaviate/embeddings.py
  services/weaviate/signals.py
  services/weaviate/tasks.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Refactor DRY violations in frontend components
  docs/NEON_GLASS_SPEC.md
  docs/plans/FRONTEND_REFACTOR_v2.md
  frontend/src/components/StyleguideDemo.tsx
  frontend/src/components/editor/IconPicker.tsx
  frontend/src/components/projects/shared/EditableBlocksContainer.tsx
  frontend/src/components/projects/shared/EditableContentBlock.tsx
  frontend/src/components/projects/shared/IconCard.tsx
  frontend/src/index.css
  frontend/src/types/models.ts
  frontend/tailwind.config.js
Due: none

Activity and learning paths.
  PLAN-learning-paths.md
  config/settings.py
  core/auth/views.py
  core/learning_paths/__init__.py
  core/learning_paths/admin.py
  core/learning_paths/apps.py
  core/learning_paths/migrations/0001_initial.py
  core/learning_paths/migrations/__init__.py
  core/learning_paths/models.py
  core/learning_paths/serializers.py
  core/learning_paths/signals.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  core/urls.py
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/learning/LearningPathCard.tsx
  frontend/src/components/learning/LearningPathsTab.tsx
  frontend/src/components/learning/PathProgressBar.tsx
  frontend/src/components/learning/SkillLevelBadge.tsx
  frontend/src/components/learning/index.ts
  frontend/src/components/profile/ActivityInsightsTab.tsx
  frontend/src/components/profile/FavoritesTab.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/hooks/useLearningPaths.ts
  frontend/src/index.css
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/NeonGlassStyleguide.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/auth.ts
  frontend/src/services/learningPaths.ts
  frontend/src/services/projects.ts
  frontend/src/types/models.ts
  services/activity_insights_service.py
  services/learning_path_service.py
  services/moderation/image_moderator.py
  services/moderation/moderator.py
  services/reddit_sync_service.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Theme updates.
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/explore/FilterPanel.tsx
  frontend/src/components/explore/SearchBarWithFilters.tsx
  frontend/src/components/explore/TabNavigation.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/profile/ActivityInsightsTab.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/tools/ToolTray.tsx
  frontend/src/index.css
  frontend/src/pages/LearnPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/ToolDirectoryPage.tsx
  frontend/src/services/explore.ts
Due: none

Update README with new features and remove duplication
  README.md
Due: none

Refactor: address DRY violations across backend and frontend
  core/integrations/migrations/0004_rename_bot_to_agent.py
  core/integrations/models.py
  core/integrations/reddit_models.py
  core/management/commands/create_chatgpt_agent.py
  core/management/commands/create_chatgpt_bot.py
  core/management/commands/create_pip.py
  core/management/commands/create_reddit_agent.py
  core/management/commands/create_reddit_bot.py
  core/management/commands/create_veo3_reddit_agent.py
  core/management/commands/create_veo3_reddit_bot.py
  core/management/commands/seed_categories.py
  core/management/commands/sync_reddit_agents.py
  core/management/commands/sync_reddit_bots.py
  core/management/commands/update_reddit_agent_avatars.py
  core/management/commands/update_reddit_bot_avatars.py
  core/projects/tests/test_projects.py
  core/users/models.py
  core/users/tests/test_avatar_validation.py
  core/users/views.py
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/chat/ChatPlusMenu.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/explore/UserProfileCard.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/reddit/RedditThreadLayout.tsx
  frontend/src/index.css
  frontend/src/pages/ProfilePage.tsx
  frontend/src/services/explore.ts
  frontend/src/types/models.ts
  frontend/src/utils/categoryColors.ts
  scripts/create_chatgpt_bot.py
  scripts/update_reddit_bot_avatars.py
  services/battle_service.py
  services/reddit_sync_service.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

feat: enable autoplay for Reddit videos in hero and card views
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/projects/hero/HeroVideo.tsx
Due: none

fix: enable autoplay for Reddit videos in RedditThreadLayout
  frontend/src/components/projects/reddit/RedditThreadLayout.tsx
Due: none

fix: improve video volume control for Reddit videos
  frontend/src/components/projects/reddit/RedditThreadLayout.tsx
Due: none

Path conditions:
  no-hardcoded-urls: any of: \.py$, but not: (?x)^(
  .*/tests/.*|
  .*/fixtures/.*|
  .*/migrations/.*|
  scripts/pre-commit-hooks/.*|
  config/settings\.py$
)$

  check-permissions: any of: (views|viewsets)\.py$, but not: (?x)^(
  .*/tests/.*|
  scripts/pre-commit-hooks/.*
)$

  check-magic-numbers: any of: \.py$, but not: (?x)^(
  .*/tests/.*|
  .*/migrations/.*|
  .*/constants\.py$|
  scripts/pre-commit-hooks/.*
)$

  no-core-models-import: any of: \.py$, but not: (?x)^(
  .*/tests/.*|
  core/admin\.py$|
  scripts/pre-commit-hooks/.*
)$

  check-auth-user-model: any of: models\.py$, but not: (?x)^(
  .*/tests/.*|
  core/users/models\.py$|
  scripts/pre-commit-hooks/.*
)$

