Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

no-hardcoded-urls:
  name: No Hardcoded URLs
  entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
  language: python

check-permissions:
  name: Check ViewSet Permissions
  entry: python scripts/pre-commit-hooks/check_permissions.py
  language: python

check-magic-numbers:
  name: Check for Magic Numbers
  entry: python scripts/pre-commit-hooks/check_magic_numbers.py
  language: python

no-core-models-import:
  name: No core.models Imports
  entry: python scripts/pre-commit-hooks/check_no_core_models.py
  language: python

check-auth-user-model:
  name: Check AUTH_USER_MODEL Usage
  entry: python scripts/pre-commit-hooks/check_auth_user_model.py
  language: python

Fix Celery task discovery in nightly E2E tests
  .github/workflows/nightly-deep-e2e.yml
Due: none

Fix GitHub and GitLab E2E test issues
  frontend/e2e/github-import.spec.ts
  frontend/e2e/gitlab-import.spec.ts
Due: none

Add enhanced logging and observability across backend services
  core/agents/tasks.py
  core/battles/views.py
  core/billing/credit_pack_service.py
  core/billing/utils.py
  core/community/consumers.py
  core/integrations/reddit_tasks.py
  core/integrations/rss_tasks.py
  core/integrations/views.py
  core/integrations/youtube_feed_tasks.py
  core/logging_utils.py
  core/projects/views.py
  frontend/src/pages/LearningPathDetailPage.tsx
  services/agents/learning/lesson_generator.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix LearningPathDetailPage formatting
  frontend/src/pages/LearningPathDetailPage.tsx
Due: none

Fix LearningPathDetailPage linter changes
  frontend/src/pages/LearningPathDetailPage.tsx
Due: none

Add deep E2E tests for Figma import flow
  frontend/e2e/deep/figma-import-flow.spec.ts
Due: none

Add deep E2E tests for YouTube import flow
  frontend/e2e/deep/youtube-import-flow.spec.ts
Due: none

Add logging to debug Haven auto-comment not triggering in production
  config/celery.py
  core/feedback/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix Bandit B112 security check by adding nosec comment
  core/agents/consumers.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix TypeScript type mismatches in exercise type definitions
  frontend/src/components/learning/SimulatedTerminal/types.ts
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/services/learningPaths.ts
Due: none

Add conversation persistence for sidebar chats
  core/agents/models.py
  core/agents/serializers.py
  core/agents/tasks.py
  core/agents/views.py
  core/migrations/0071_conversation_conversation_id_and_more.py
  core/migrations/0072_update_conversation_type_choices.py
  docs/e2e-issues-found/2025-12-26-journey-tests.md
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix conversation migrations and add 4px border radius to lesson accordions
  core/agents/tasks.py
  core/agents/tests/test_conversation_persistence.py
  core/agents/tests/test_e2e_issue_1_conversation_persistence.py
  core/migrations/0071_conversation_conversation_id_and_more.py
  core/migrations/0072_update_conversation_type_choices.py
  docker-compose.yml
  docs/e2e-issues-found/2025-12-26-journey-tests.md
  frontend/src/pages/LearningPathDetailPage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add interactive exercise system with 4 new exercise types
  docs/archived/AVA_CHAT_USER_FLOWS.md
  docs/archived/ava-guided-walkthrough-plan.md
  docs/evergreen-architecture/23-AVA-CHAT-TESTING.md
  frontend/src/components/learning/exercises/CodeWalkthroughExercise/index.tsx
  frontend/src/components/learning/exercises/ConnectNodesExercise/index.tsx
  frontend/src/components/learning/exercises/DragSortExercise/DropZone.tsx
  frontend/src/components/learning/exercises/DragSortExercise/SortableItem.tsx
  frontend/src/components/learning/exercises/DragSortExercise/index.tsx
  frontend/src/components/learning/exercises/ExerciseRenderer.tsx
  frontend/src/components/learning/exercises/TimedChallengeExercise/index.tsx
  frontend/src/components/learning/exercises/index.ts
  frontend/src/components/learning/exercises/primitives/AnimatedContainer.tsx
  frontend/src/components/learning/exercises/primitives/SuccessParticles.tsx
  frontend/src/components/learning/exercises/primitives/index.ts
  frontend/src/components/learning/exercises/primitives/useExerciseState.ts
  frontend/src/components/learning/exercises/types.ts
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/services/learningPaths.ts
  services/agents/learning/lesson_prompts.py
  services/agents/learning/types.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add exercise type pills for new interactive exercises
  frontend/src/pages/LearningPathDetailPage.tsx
  frontend/src/services/learningPaths.ts
Due: none

Add backend support for new interactive exercise types
  core/learning_paths/views.py
  services/agents/learning/lesson_generator.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add validation support for interactive exercise types in validator
  services/agents/learning/validators.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add drag-and-drop section organization for learning paths
  core/learning_paths/serializers.py
  core/learning_paths/urls.py
  core/learning_paths/views.py
  frontend/src/components/learning/PathLibraryGrid.tsx
  frontend/src/components/learning/StructuredLearningPath.tsx
  frontend/src/components/learning/sections/AddSectionButton.tsx
  frontend/src/components/learning/sections/LearningSectionCard.tsx
  frontend/src/components/learning/sections/LearningSections.tsx
  frontend/src/components/learning/sections/SortableLearningSection.tsx
  frontend/src/components/learning/sections/TopicCard.tsx
  frontend/src/components/learning/sections/UnsortedTopicsSection.tsx
  frontend/src/components/learning/sections/index.ts
  frontend/src/context/LearningSectionEditorContext.tsx
  frontend/src/hooks/useLearningPaths.ts
  frontend/src/pages/LearnPage.tsx
  frontend/src/services/learningPaths.ts
  frontend/src/types/learningSections.ts
  frontend/src/utils/learningSectionProgress.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add empty state prompt when organizing paths with no sections
  frontend/src/components/learning/PathLibraryGrid.tsx
Due: none

Add tests for learning path sections organization API
  core/learning_paths/serializers.py
  core/learning_paths/tests/test_api.py
  core/learning_paths/urls.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Consolidate WebSocket hooks and add serializer mixins
  core/feedback/serializers.py
  core/projects/serializers.py
  core/serializers/__init__.py
  core/serializers/mixins.py
  core/tools/serializers.py
  core/users/serializers.py
  frontend/src/hooks/useAdminLogs.ts
  frontend/src/hooks/useAvatarGeneration.ts
  frontend/src/hooks/useBattleNotifications.ts
  frontend/src/hooks/useBattleWebSocket.ts
  frontend/src/hooks/useCircleWebSocket.ts
  frontend/src/hooks/useCommunityRoom.ts
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/hooks/useMatchmaking.ts
  frontend/src/hooks/websocket/__tests__/useWebSocketBase.test.ts
  frontend/src/hooks/websocket/index.ts
  frontend/src/hooks/websocket/types.ts
  frontend/src/hooks/websocket/useWebSocketBase.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add feedback category migration for new choices
  core/feedback/migrations/0005_alter_feedbackitem_category.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add production E2E smoke tests and fix S3 URL validation
  .github/workflows/deploy-aws.yml
  config/settings.py
  core/auth/smoke_test_views.py
  core/avatars/tests/__init__.py
  core/avatars/tests/test_url_validation.py
  core/avatars/views.py
  core/middleware.py
  core/urls.py
  frontend/e2e/helpers/production-auth.ts
  frontend/e2e/production-smoke.spec.ts
  infrastructure/cloudformation/08-secrets.yaml
  infrastructure/cloudformation/10-ecs.yaml
  services/agents/ava/agent.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix GitHub Actions IAM permissions for ECS, CloudWatch Logs, and EFS
  infrastructure/cloudformation/07-iam.yaml
Due: none

Fix avatar generation race condition and add reference image support
  config/settings.py
  core/avatars/tasks.py
  core/avatars/views.py
  frontend/e2e/avatar-generation.spec.ts
  frontend/e2e/helpers.ts
  frontend/e2e/helpers/production-auth.ts
  frontend/e2e/production-smoke.spec.ts
  frontend/src/hooks/useAvatarGeneration.ts
  frontend/src/main.tsx
  services/ai/provider.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add WebSocket stale connection tests and fix useAuth tests
  frontend/src/hooks/__tests__/useAuth.test.tsx
  frontend/src/hooks/websocket/__tests__/useWebSocketBase.test.ts
Due: none

Add comprehensive test infrastructure and E2E regression tests
  .github/workflows/ci.yml
  .github/workflows/deploy-aws.yml
  Makefile
  config/settings.py
  core/admin_logs/log_sources.py
  core/agents/consumers.py
  core/agents/tasks.py
  core/agents/views.py
  core/community/tests/test_consumers.py
  core/tests/base.py
  core/tests/conftest.py
  core/tests/contracts/__init__.py
  core/tests/contracts/base.py
  core/tests/contracts/test_schema.py
  core/tests/doubles/__init__.py
  core/tests/doubles/github.py
  core/tests/doubles/stripe.py
  core/tests/factories/__init__.py
  core/tests/factories/battles.py
  core/tests/factories/community.py
  core/tests/factories/projects.py
  core/tests/factories/users.py
  core/urls.py
  core/views/__init__.py
  core/views/core_views.py
  docs/test-strategy-improvement-plan.md
  frontend/e2e/regression/battles.spec.ts
  frontend/e2e/regression/chat.spec.ts
  frontend/e2e/regression/imports.spec.ts
  frontend/playwright.config.ts
  frontend/src/hooks/__tests__/useDebouncedValue.test.ts
  frontend/src/hooks/__tests__/useIntelligentChat.regression.test.ts
  frontend/src/hooks/websocket/useWebSocketBase.ts
  frontend/src/services/auth.test.ts
  frontend/src/services/billing.test.ts
  requirements.txt
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix production E2E smoke tests CSP and rate limiting
  frontend/e2e/production-smoke.spec.ts
  infrastructure/cloudformation/11-cloudfront.yaml
Due: none

Add Celery cleanup endpoint for smoke tests
  .github/workflows/deploy-aws.yml
  core/auth/smoke_test_views.py
  core/urls.py
  frontend/e2e/helpers/production-auth.ts
  frontend/e2e/production-smoke.spec.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix projects list test to use correct endpoint
  core/tests/contracts/test_schema.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix avatar generation performance and CloudFront CSP configuration
  .github/workflows/nightly-deep-e2e.yml
  config/settings.py
  core/avatars/tasks.py
  frontend/e2e/production-smoke.spec.ts
  frontend/e2e/regression/battles.spec.ts
  frontend/e2e/regression/imports.spec.ts
  frontend/src/components/battles/AsyncBattleCard.tsx
  frontend/src/components/battles/BattleArena.test.tsx
  frontend/src/components/chat/messages/AssistantMessage.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/hooks/__tests__/useBattleTimer.test.ts
  frontend/src/hooks/websocket/__tests__/useWebSocketBase.test.ts
  frontend/src/pages/AuthPage.test.tsx
  frontend/src/pages/VendorDashboardPage.test.tsx
  frontend/src/test/setup.ts
  frontend/src/test/test-utils.tsx
  infrastructure/cloudformation/11-cloudfront.yaml
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add skeleton loading state for avatar generation
  frontend/src/components/chat/__tests__/ChatErrorBoundary.test.tsx
  frontend/src/components/chat/messages/AvatarCreationMessage.tsx
Due: none

Remove AvaOnboarding feature
  frontend/e2e/ai-chat/profile-generator.spec.ts
  frontend/e2e/deep/deep-helpers.ts
  frontend/e2e/deep/journeys/journey-helpers.ts
  frontend/e2e/helpers.ts
  frontend/src/App.tsx
  frontend/src/components/onboarding/AvaAdventureBanner.tsx
  frontend/src/components/onboarding/AvaOnboardingProvider.tsx
  frontend/src/components/onboarding/index.ts
Due: none

Add critical Ava and WebSocket E2E coverage
  .github/workflows/ci.yml
  frontend/e2e/critical/ava-chat.spec.ts
  frontend/e2e/critical/websocket.spec.ts
  frontend/playwright.config.ts
Due: none

Add critical Ava and WebSocket E2E coverage (#77)
  .github/workflows/ci.yml
  frontend/e2e/critical/ava-chat.spec.ts
  frontend/e2e/critical/websocket.spec.ts
  frontend/playwright.config.ts
Due: none

Updates to more tests.
  .pre-commit-config.yaml
  frontend/e2e/critical/pre-push-regression.spec.ts
  frontend/playwright.config.ts
  scripts/pre-push
Due: none

Add race condition regression tests for frontend hooks/contexts
  frontend/playwright.config.ts
  frontend/src/contexts/__tests__/AsyncBattleContext.race.test.tsx
  frontend/src/hooks/__tests__/useChatSession.race.test.ts
  frontend/src/hooks/__tests__/useIntelligentChat.race.test.ts
  frontend/src/hooks/__tests__/useProjectLike.race.test.ts
Due: none

Path conditions:
  no-hardcoded-urls: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/fixtures/.*|\
  .*/migrations/.*|\
  scripts/pre-commit-hooks/.*|\
  config/settings\.py$\
)$

  check-permissions: any of: (views|viewsets)\.py$, but not: (?x)^(\
  .*/tests/.*|\
  scripts/pre-commit-hooks/.*\
)$

  check-magic-numbers: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/migrations/.*|\
  .*/constants\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  no-core-models-import: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/admin\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  check-auth-user-model: any of: models\.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/users/models\.py$|\
  scripts/pre-commit-hooks/.*\
)$

