Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

no-hardcoded-urls:
  name: No Hardcoded URLs
  entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
  language: python

check-permissions:
  name: Check ViewSet Permissions
  entry: python scripts/pre-commit-hooks/check_permissions.py
  language: python

check-magic-numbers:
  name: Check for Magic Numbers
  entry: python scripts/pre-commit-hooks/check_magic_numbers.py
  language: python

no-core-models-import:
  name: No core.models Imports
  entry: python scripts/pre-commit-hooks/check_no_core_models.py
  language: python

check-auth-user-model:
  name: Check AUTH_USER_MODEL Usage
  entry: python scripts/pre-commit-hooks/check_auth_user_model.py
  language: python

Updating side quests.
  core/thrive_circle/signals.py
  core/thrive_circle/views.py
  frontend/src/components/side-quests/QuestCompletionCelebration.tsx
  frontend/src/services/thriveCircle.ts
  services/integrations/rss/sync.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Updating explore feed.
  Makefile
  core/integrations/migrations/0011_add_visual_style_to_rss_agent.py
  core/integrations/rss_models.py
  core/management/commands/create_test_users.py
  core/management/commands/seed_curation_agents.py
  core/projects/serializers.py
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/layouts/CuratedArticleLayout.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/test/setup.ts
  services/integrations/rss/sync.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import, check-auth-user-model

fix: Update RSS curator feed mappings to match desired sources
  core/management/commands/seed_curation_agents.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

updating seed user.
  Makefile
  core/management/commands/delete_user.py
  scripts/aws-run-command.sh
  scripts/aws-run-python.sh
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix ruff errors in thrive_circle
  .github/workflows/deploy-aws.yml
  .gitignore
  Makefile
  config/celery.py
  core/projects/views.py
  core/thrive_circle/serializers.py
  core/thrive_circle/urls.py
  core/thrive_circle/views.py
  core/urls.py
  frontend/src/components/battles/BattleNotificationProvider.tsx
  frontend/src/components/battles/MatchmakingScreen.tsx
  frontend/src/components/battles/PlayerCard.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/layouts/AdminLayout.tsx
  frontend/src/components/projects/layouts/CuratedArticleLayout.tsx
  frontend/src/components/thrive-circle/CircleActivityFeed.tsx
  frontend/src/components/thrive-circle/CircleMemberCard.tsx
  frontend/src/components/thrive-circle/CircleMembersGrid.tsx
  frontend/src/components/thrive-circle/CircleProjectsFeed.tsx
  frontend/src/hooks/useBattleNotifications.ts
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/ThriveCirclePage.tsx
  frontend/src/pages/admin/CircleManagementPage.tsx
  frontend/src/pages/battles/BattleInvitePage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/adminCircles.ts
  frontend/src/services/projects.ts
  frontend/src/types/models.ts
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Updating homepage.
  core/management/commands/seed_challenge_types.py
  frontend/index.html
  frontend/public/site.webmanifest
  frontend/src/components/common/SEO.tsx
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/seoPresets.ts
  frontend/src/components/landing/AutomatedProfile.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/WhatIsAllThrive.tsx
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/LandingPage.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating skills to say ai skills.
  frontend/src/components/common/SEO.tsx
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/seoPresets.ts
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/WhatIsAllThrive.tsx
  frontend/src/pages/AuthPage.tsx
Due: none

Add guest signup features and admin analytics improvements
  core/ai_usage/views.py
  core/thrive_circle/urls.py
  core/urls.py
  frontend/src/components/battles/GuestSignupBanner.tsx
  frontend/src/components/battles/GuestSignupModal.tsx
  frontend/src/components/battles/MatchmakingScreen.tsx
  frontend/src/components/battles/PlayerCard.tsx
  frontend/src/components/battles/index.ts
  frontend/src/components/layouts/AdminLayout.tsx
  frontend/src/pages/AdminAnalyticsPage.tsx
  frontend/src/pages/admin/ImpersonatePage.tsx
  frontend/src/pages/battles/BattleInvitePage.tsx
  frontend/src/pages/battles/BattlePage.tsx
  frontend/src/routes/ProtectedRoute.tsx
  frontend/src/routes/index.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Updates to prompt battles.
  frontend/src/components/battles/BattleResults.tsx
  frontend/src/components/battles/JudgingReveal.tsx
  frontend/src/components/battles/PromptEditor.tsx
  frontend/src/routes/ProtectedRoute.tsx
Due: none

Update battle invitation polling and profile UI improvements
  config/celery.py
  core/battles/tasks.py
  core/battles/views.py
  frontend/src/components/battles/MatchmakingScreen.tsx
  frontend/src/components/profile/ProfileHeader.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/battles/BattleInvitePage.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Add profile completeness feature and fix code quality issues
  core/auth/views.py
  core/battles/consumers.py
  core/battles/models.py
  core/battles/tests/test_guest_flow.py
  core/battles/views.py
  core/projects/views.py
  core/referrals/serializers.py
  core/social/signals.py
  core/stats/views.py
  core/thrive_circle/views.py
  frontend/src/components/battles/MatchmakingScreen.tsx
  frontend/src/components/forms/ImageUpload.tsx
  frontend/src/components/profile/ProfileCompleteness.tsx
  frontend/src/components/profile/ProfileHeader.tsx
  frontend/src/components/profile/sections/LinksSection.tsx
  frontend/src/components/profile/sections/ProfileSectionRenderer.tsx
  frontend/src/pages/AccountSettingsPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/settings/ReferralsSettingsPage.tsx
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

clippings, and achievements.
  .github/workflows/deploy-aws.yml
  frontend/src/components/projects/layouts/ClippedArticleLayout.tsx
  frontend/src/components/projects/sections/VideoSection.tsx
  frontend/src/pages/ProfilePage.tsx
Due: none

Updating achievements.
  frontend/src/components/achievements/AchievementBadge.tsx
Due: none

Updating cloudformation files.
  core/integrations/github/helpers.py
  infrastructure/cloudformation/07-iam.yaml
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix ESLint errors: remove unused imports
  config/settings.py
  core/integrations/github/ai_analyzer.py
  core/integrations/github/helpers.py
  core/social/views.py
  core/urls.py
  core/users/middleware.py
  core/users/migrations/0020_add_username_history.py
  core/users/models.py
  frontend/public/logos/goose-logo.png
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/projects/sections/VideoSection.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/settings/IntegrationsSettingsPage.tsx
  infrastructure/cloudformation/11-cloudfront.yaml
  services/agents/project/prompts.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix ruff import sorting error
  core/users/admin.py
  core/users/middleware.py
  core/users/migrations/0021_remove_redundant_username_history_index.py
  core/users/models.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import, check-auth-user-model

Update YouTube integration and project API
  .github/workflows/deploy-aws.yml
  config/settings.py
  core/fixtures/tools.yaml
  core/integrations/youtube/ai_analyzer.py
  core/management/commands/backfill_youtube_agent.py
  core/projects/serializers.py
  core/projects/tests/test_project_api.py
  core/tools/serializers.py
  frontend/src/components/projects/ProjectCard.test.tsx
  frontend/src/pages/battles/BattleInvitePage.tsx
  infrastructure/cloudformation/11-cloudfront.yaml
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Prefix unused variables with underscore to satisfy ESLint
  frontend/src/components/projects/layouts/CuratedArticleLayout.tsx
  templates/crawler/profile.html
Due: none

Update battle system and project layouts
  core/battles/consumers.py
  core/projects/tests/test_project_api.py
  core/projects/views.py
  frontend/src/components/battles/BattleCountdown.tsx
  frontend/src/components/common/Linkify.tsx
  frontend/src/components/projects/layouts/CuratedArticleLayout.tsx
  frontend/src/components/projects/layouts/VideoProjectLayout.tsx
  frontend/src/pages/battles/BattlePage.tsx
  frontend/src/services/projects.ts
  templates/crawler/about.html
  templates/crawler/explore.html
  templates/crawler/home.html
  templates/crawler/project_detail.html
  templates/crawler/tools.html
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Updating tool page.
  frontend/src/types/models.ts
Due: none

Redirect for prompt battles.
  core/referrals/tests/test_integration.py
  frontend/src/routes/index.tsx
  infrastructure/cloudformation/11-cloudfront.yaml
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add topic definitions and update integrations
  core/battles/services.py
  core/integrations/youtube/service.py
  core/management/commands/backfill_youtube_shorts.py
  core/management/commands/regenerate_user_images.py
  core/migrations/0042_topicdefinition.py
  core/taxonomy/models.py
  core/taxonomy/serializers.py
  core/taxonomy/topic_service.py
  core/taxonomy/views.py
  core/urls.py
  frontend/src/components/chat/ChatPlusMenu.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/profile/Personalization.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/layouts/VideoProjectLayout.tsx
  frontend/src/components/projects/shared/InlineEditable.tsx
  frontend/src/pages/battles/BattleInvitePage.tsx
  frontend/src/types/models.ts
  scripts/regenerate_steampunk_images.py
  services/ai/topic_generator.py
  services/integrations/reddit/sync.py
  services/integrations/rss/sync.py
  services/integrations/youtube_feed/sync.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix curated article body text display
  frontend/src/components/projects/layouts/CuratedArticleLayout.tsx
Due: none

Enhance curated article cards with description and category
  frontend/src/components/projects/ProjectCard.tsx
Due: none

Add S3/AWS to CSP connect-src for image downloads
  infrastructure/cloudformation/11-cloudfront.yaml
Due: none

Add TopicTray feature files to fix production build
  frontend/src/components/topics/TopicTray.tsx
  frontend/src/context/TopicTrayContext.tsx
  frontend/src/services/topics.ts
Due: none

Fix import error in CreateProjectFromImageView
  core/agents/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

intelligentchat tests.
  core/auth/adapter.py
  core/auth/views.py
  core/battles/services.py
  core/management/commands/backfill_oauth_profiles.py
  core/projects/views.py
  core/social/signals.py
  core/urls.py
  core/users/views.py
  frontend/e2e/intelligent-chat.spec.ts
  frontend/src/components/admin/ImpersonationBanner.tsx
  frontend/src/components/battles/BattleNotificationProvider.tsx
  frontend/src/components/battles/BattleResults.tsx
  frontend/src/components/battles/GuestSignupBanner.tsx
  frontend/src/components/battles/GuestSignupModal.tsx
  frontend/src/components/battles/JudgingReveal.tsx
  frontend/src/components/battles/MatchmakingScreen.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/navigation/UserMenu.tsx
  frontend/src/components/navigation/menuData.ts
  frontend/src/components/onboarding/EmberOnboardingModal.tsx
  frontend/src/components/projects/layouts/ClippedArticleLayout.tsx
  frontend/src/components/projects/layouts/VideoProjectLayout.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/hooks/useBattleNotifications.ts
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/battles/BattlePage.tsx
  frontend/src/pages/settings/IntegrationsSettingsPage.tsx
  scripts/pre-commit-hooks/check_dry_violations.js
  services/agents/project/graph.py
  services/agents/project/nodes.py
  services/agents/project/prompts.py
  services/auth/guest.py
  services/weaviate/embeddings.py
  services/weaviate/schema.py
  services/weaviate/tasks.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Frontend e2e test changes.
  frontend/e2e/intelligent-chat.spec.ts
  frontend/playwright.config.ts
  frontend/src/components/chat/IntelligentChatPanel.tsx
Due: none

Fix mobile chat panel header hidden behind navigation
  frontend/src/components/chat/ChatInterface.tsx
Due: none

Fix storage service import in admin regenerate image
  core/projects/views.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix WebSocket connections by using X-Forwarded-Proto header
  config/settings.py
  frontend/e2e/intelligent-chat.spec.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add WebSocket failure prevention measures
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  core/agents/routing.py
  core/monitoring/__init__.py
  core/monitoring/consumers.py
  docs/evergreen-architecture/07-WEBSOCKET-IMPLEMENTATION.md
  docs/incidents/2025-12-12-websocket-ssl-redirect.md
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/layouts/VideoProjectLayout.tsx
  frontend/src/components/topics/TopicTray.tsx
  scripts/pre-commit-hooks/check_websocket_settings.py
  tests/integration/__init__.py
  tests/integration/test_websocket_health.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Smoke testing websockets.
  README.md
  WEBSOCKET-PREVENTION.md
  config/settings.py
  core/agents/consumers.py
  core/projects/serializers.py
  docker-compose.yml
  docs/ws-debug-results.md
  frontend/e2e/intelligent-chat.spec.ts
  frontend/src/components/navigation/TopNavigation.tsx
  frontend/src/utils/websocket.ts
  infrastructure/cloudformation/09-alb.yaml
  infrastructure/cloudformation/10-ecs.yaml
  infrastructure/cloudformation/11-cloudfront.yaml
  services/agents/project/prompts.py
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Websocket troubleshooting extra.
  .github/workflows/deploy-aws.yml
  frontend/src/utils/websocket.ts
Due: none

Updating read and triggering another github action.
  docs/WEBSOCKET-PREVENTION.md
Due: none

Path conditions:
  no-hardcoded-urls: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/fixtures/.*|\
  .*/migrations/.*|\
  scripts/pre-commit-hooks/.*|\
  config/settings\.py$\
)$

  check-permissions: any of: (views|viewsets)\.py$, but not: (?x)^(\
  .*/tests/.*|\
  scripts/pre-commit-hooks/.*\
)$

  check-magic-numbers: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/migrations/.*|\
  .*/constants\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  no-core-models-import: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/admin\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  check-auth-user-model: any of: models\.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/users/models\.py$|\
  scripts/pre-commit-hooks/.*\
)$

