Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

no-hardcoded-urls:
  name: No Hardcoded URLs
  entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
  language: python

check-permissions:
  name: Check ViewSet Permissions
  entry: python scripts/pre-commit-hooks/check_permissions.py
  language: python

check-magic-numbers:
  name: Check for Magic Numbers
  entry: python scripts/pre-commit-hooks/check_magic_numbers.py
  language: python

no-core-models-import:
  name: No core.models Imports
  entry: python scripts/pre-commit-hooks/check_no_core_models.py
  language: python

check-auth-user-model:
  name: Check AUTH_USER_MODEL Usage
  entry: python scripts/pre-commit-hooks/check_auth_user_model.py
  language: python

Refactor Ember agent to use LangGraph checkpointing and AI gateway
  core/agents/tasks.py
  services/agents/ember/agent.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix critical resource leaks and add concurrency safety for Ember agent
  services/agents/auth/checkpointer.py
  services/agents/ember/agent.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Enhance Ember agent concurrency safety and checkpointer reliability
  core/agents/security.py
  docs/evergreen-architecture/05-UNIFIED-CHAT-ARCHITECTURE.md
  services/agents/auth/checkpointer.py
  services/agents/ember/agent.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

updates to tags, projects.
  .env.example
  config/settings.py
  core/integrations/github/helpers.py
  core/integrations/image/__init__.py
  core/integrations/image/ai_analyzer.py
  core/projects/serializers.py
  frontend/src/components/chat/messages/UserMessage.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  services/agents/ember/agent.py
  services/agents/ember/prompts.py
  services/agents/project/tools.py
  services/ai/provider.py
  services/weaviate/embeddings.py
  services/weaviate/tasks.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

taxonomy plan.
  docs/TAXONOMY_SYSTEM_PLAN.md
Due: none

backup before pull.
  .gitignore
  Makefile
  core/users/management/commands/anonymize_users.py
  scripts/pull-prod-db.sh
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

backup before pull.
  core/users/management/commands/anonymize_users.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix pre-commit hook violations
  config/settings.py
  core/integrations/github/helpers.py
  core/integrations/image/ai_analyzer.py
  services/agents/ember/agent.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add AI-powered title generation for image projects
  config/settings.py
  core/integrations/image/ai_analyzer.py
  infrastructure/cloudformation/10-ecs.yaml
  services/agents/ember/prompts.py
  services/agents/project/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add snake game animations and game stats to activity page
  core/uat_scenarios/views.py
  frontend/src/components/profile/ActivityInsightsTab.tsx
  frontend/src/pages/games/ContextSnakeGame.tsx
  frontend/src/services/auth.ts
  services/activity_insights.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Fix deployment seeding: add missing commands and fix broken reference
  .github/workflows/deploy-aws.yml
  Makefile
  scripts/startup.sh
Due: none

Add project settings panel with metadata editing
  frontend/src/components/projects/layouts/DefaultProjectLayout.tsx
  frontend/src/components/projects/shared/ProjectSettingsPanel.tsx
  frontend/src/types/models.ts
  services/tagging/service.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix inline game rendering from find_learning_content tool
  frontend/src/components/chat/core/ChatMessageList.tsx
  frontend/src/hooks/useIntelligentChat.ts
Due: none

Fix Ember to explain concepts before showing inline games
  frontend/e2e/ember-chat/inline-game.spec.ts
  services/agents/ember/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Update game intro to 'Here's a fun interactive way to learn'
  core/migrations/0067_seed_user_matching_taxonomies.py
  core/users/services/__init__.py
  core/users/services/recommendations.py
  services/agents/ember/prompts.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add animated How to Play instructions to inline snake game
  frontend/src/components/chat/games/MiniSnakeGame.tsx
  frontend/src/hooks/useIntelligentChat.ts
Due: none

Fix misleading game explanations - games are fun, not simulations
  core/games/config.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add points system and confetti celebration to inline snake game
  frontend/src/components/chat/games/MiniSnakeGame.tsx
Due: none

Fix z-index for game over overlay and confetti
  frontend/src/components/chat/games/MiniSnakeGame.tsx
Due: none

Add emoji reaction for lower scores (encouraging 🐍💪🎮⭐)
  frontend/src/components/chat/games/MiniSnakeGame.tsx
Due: none

Center game message and explanation in chat window
  frontend/src/components/chat/core/ChatMessageList.tsx
  frontend/src/components/chat/messages/GameMessage.tsx
Due: none

Add user recommendations, learning teasers, and chat improvements
  config/urls.py
  core/users/services/recommendations.py
  core/users/tests/test_recommendations.py
  frontend/src/components/chat/cards/ChatUserTeaserCard.tsx
  frontend/src/components/chat/cards/LearningTeaserCard.tsx
  frontend/src/components/chat/cards/index.ts
  frontend/src/components/chat/core/ChatMessageList.tsx
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/chat/messages/ChallengeTeaserMessage.tsx
  frontend/src/components/chat/messages/LearningContentMessage.tsx
  frontend/src/components/chat/messages/PeopleToConnectMessage.tsx
  frontend/src/components/chat/messages/index.ts
  frontend/src/hooks/useIntelligentChat.ts
  services/agents/discovery/tools.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix OAuth callback handling for integration flows
  frontend/src/components/chat/integrations/useIntegrationFlow.ts
Due: none

Fix M2M topics iteration and bulk delete count issues
  core/projects/models.py
  core/projects/views.py
  services/tagging/tests/test_service.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

Add taxonomy signals, chat improvements, and docs reorganization
  core/taxonomy/services.py
  core/taxonomy/signals.py
  docs/archived/Feature Matrix - Membership Tiers.md
  docs/archived/intelligent-chat-architecture.md
  docs/evergreen-architecture/05-UNIFIED-CHAT-ARCHITECTURE.md
  docs/prompt-battle-challenge-types.md
  frontend/src/components/chat/layouts/EmbeddedChatLayout.tsx
  frontend/src/components/chat/messages/ProjectImportOptionsMessage.tsx
  frontend/src/components/navigation/menuData.ts
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/pages/NeonGlassStyleguide.tsx
  frontend/src/utils/sectionColors.ts
  services/agents/context/__init__.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add E2E and unit tests for critical user-facing features
  frontend/e2e/chat-websocket.spec.ts
  frontend/e2e/file-upload.spec.ts
  frontend/e2e/search.spec.ts
  frontend/src/utils/gameLogic.test.ts
  frontend/src/utils/gameLogic.ts
Due: none

Add Ember User Flows admin page with zoomable diagram
  docs/archived/WEBSOCKET_TROUBLESHOOTING.md
  docs/archived/token-pack-pricing-analysis.md
  docs/evergreen-architecture/14-UNIFIED-CHAT-ARCHITECTURE.md
  docs/evergreen-architecture/15-ENGAGEMENT-TRACKING.md
  docs/evergreen-architecture/16-PERSONALIZATION-ENGINE.md
  frontend/src/components/layouts/AdminLayout.tsx
  frontend/src/pages/admin/EmberFlowsPage.tsx
  frontend/src/routes/index.tsx
Due: none

Update Ember flows diagram with accurate learning flow
  frontend/src/pages/admin/EmberFlowsPage.tsx
Due: none

Add hybrid search to find_content with alpha=0.3 for better relevance
  services/agents/discovery/find_content.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Improve API consistency across frontend and backend
  core/agents/tasks.py
  core/community/consumers.py
  frontend/src/hooks/useEmberOnboarding.ts
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Fix DM messaging system and enhance navigation UX
  CLAUDE.md
  core/community/consumers.py
  core/management/commands/create_haven.py
  core/management/commands/create_sage.py
  core/management/commands/update_agent_personalities.py
  core/users/migrations/0028_add_agent_personality_fields.py
  core/users/models.py
  docs/SMS_NOTIFICATION_PLAN.md
  frontend/src/components/chat/cards/LearningTeaserCard.tsx
  frontend/src/components/community/Messages/MessagesTray.tsx
  frontend/src/components/community/Room/MessageBubble.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/navigation/PointsBadge.tsx
  frontend/src/components/navigation/TopNavigation.tsx
  frontend/src/components/navigation/UserMenu.tsx
  frontend/src/components/navigation/menuData.ts
  frontend/src/components/profile/sections/LinksSection.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/figma/FigmaProjectLayout.tsx
  frontend/src/components/projects/sections/VideoSection.tsx
  frontend/src/components/search/GlobalSearchModal.tsx
  frontend/src/hooks/useDMThread.ts
  frontend/src/hooks/useIntelligentChat.ts
  frontend/src/pages/settings/ReferralsPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/thriveCircle.ts
  frontend/src/types/community.ts
  frontend/src/types/models.ts
  frontend/src/types/sections.ts
  services/agents/ember/agent.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import, check-auth-user-model

Fix LangGraph async tool events and add conversation management
  core/agents/views.py
  core/urls.py
  frontend/e2e/learning-content-cards.spec.ts
  frontend/src/hooks/useIntelligentChat.ts
  services/agents/ember/agent.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Path conditions:
  no-hardcoded-urls: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/fixtures/.*|\
  .*/migrations/.*|\
  scripts/pre-commit-hooks/.*|\
  config/settings\.py$\
)$

  check-permissions: any of: (views|viewsets)\.py$, but not: (?x)^(\
  .*/tests/.*|\
  scripts/pre-commit-hooks/.*\
)$

  check-magic-numbers: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  .*/migrations/.*|\
  .*/constants\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  no-core-models-import: any of: \.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/admin\.py$|\
  scripts/pre-commit-hooks/.*\
)$

  check-auth-user-model: any of: models\.py$, but not: (?x)^(\
  .*/tests/.*|\
  core/users/models\.py$|\
  scripts/pre-commit-hooks/.*\
)$

