Repository allthriveai/allthriveai: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

.pre-commit-config.yaml:

repos:
  # Ruff for linting and formatting (single tool per project preference)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/tsconfig.*\.json$
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-ast  # Check Python syntax by parsing AST

  # Django specific checks
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: ['--target-version', '4.2']

  # Custom hooks for AllThrive AI rules
  - repo: local
    hooks:
      # Check for hardcoded URLs
      - id: no-hardcoded-urls
        name: No Hardcoded URLs
        entry: python scripts/pre-commit-hooks/check_no_hardcoded_urls.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/fixtures/.*|\
            .*/migrations/.*|\
            scripts/pre-commit-hooks/.*|\
            config/settings\.py$\
          )$

      # Check for missing permission classes
      - id: check-permissions
        name: Check ViewSet Permissions
        entry: python scripts/pre-commit-hooks/check_permissions.py
        language: python
        files: (views|viewsets)\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for magic numbers
      - id: check-magic-numbers
        name: Check for Magic Numbers
        entry: python scripts/pre-commit-hooks/check_magic_numbers.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            .*/migrations/.*|\
            .*/constants\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Check for core.models imports (should use domain imports)
      - id: no-core-models-import
        name: No core.models Imports
        entry: python scripts/pre-commit-hooks/check_no_core_models.py
        language: python
        files: \.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/admin\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

      # Ensure settings.AUTH_USER_MODEL usage
      - id: check-auth-user-model
        name: Check AUTH_USER_MODEL Usage
        entry: python scripts/pre-commit-hooks/check_auth_user_model.py
        language: python
        files: models\.py$
        exclude: |
          (?x)^(\
            .*/tests/.*|\
            core/users/models\.py$|\
            scripts/pre-commit-hooks/.*\
          )$

error handing, favicons, fuzzy search.
  core/auth/views.py
  core/battles/views.py
  core/challenges/views.py
  core/migrations/0032_add_project_view_and_click_tracking.py
  core/projects/models.py
  core/projects/tracking_views.py
  core/projects/views.py
  core/urls.py
  core/users/migrations/0011_enable_pg_trgm.py
  docs/evergreen-architecture/ENGAGEMENT_TRACKING.md
  docs/evergreen-architecture/PERSONALIZATION_ENGINE.md
  frontend/index.html
  frontend/public/OG_IMAGE_NEEDED.md
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/site.webmanifest
  frontend/public/vite.svg
  frontend/src/components/challenges/ChallengeSubmitModal.tsx
  frontend/src/components/challenges/ChallengeSubmitTray.tsx
  frontend/src/components/challenges/index.ts
  frontend/src/components/chat/ChatPlusMenu.tsx
  frontend/src/components/profile/ActivityInsightsTab.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/pages/ExplorePage.tsx
  frontend/src/pages/ProjectDetailPage.tsx
  frontend/src/pages/battles/BattlePage.tsx
  frontend/src/pages/battles/BattlesLobbyPage.tsx
  frontend/src/pages/challenges/ChallengePage.tsx
  frontend/src/services/thriveCircle.ts
  frontend/src/services/tracking.ts
  services/activity_insights.py
  services/gamification/battles.py
  services/personalization/trending.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import, check-auth-user-model

making everything one ci/cd.
  .github/workflows/ci.yml
  core/tests/test_seo_privacy.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

preventing old AI news.
  frontend/src/components/tools/ToolTray.tsx
  services/integrations/rss/sync.py
  services/integrations/youtube_feed/sync.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

add figma integration and url import features
  core/integrations/apps.py
  core/integrations/figma/__init__.py
  core/integrations/figma/constants.py
  core/integrations/figma/helpers.py
  core/integrations/figma/integration.py
  core/integrations/figma/service.py
  core/integrations/figma/views.py
  core/integrations/views.py
  core/urls.py
  frontend/src/components/chat/ChatPlusMenu.tsx
  frontend/src/components/chat/HelpQuestionsPanel.tsx
  frontend/src/components/chat/IntelligentChatPanel.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/layouts/SettingsLayout.tsx
  frontend/src/components/profile/Personalization.tsx
  frontend/src/components/projects/AddProjectOptions.tsx
  frontend/src/components/projects/DynamicGradientCard.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/pages/GettingStartedPage.tsx
  frontend/src/pages/settings/NotificationsSettingsPage.tsx
  frontend/src/services/figma.ts
  frontend/src/services/projects.ts
  frontend/tailwind.config.js
  services/url_import/__init__.py
  services/url_import/scraper.py
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

fix: resolve Explore page rendering issues and restore gradient card animations
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/projects/DynamicGradientCard.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/tools/ToolTray.tsx
  frontend/src/index.css
  requirements.txt
  services/agents/project/agent.py
  services/agents/project/prompts.py
  services/agents/project/tools.py
  services/url_import/scraper.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Add LangGraph to tools directory
  core/fixtures/tools.yaml
Due: none

Update Midjourney logo to use local file
  core/fixtures/tools.yaml
  core/users/views.py
  frontend/public/logos/Midjourney-logo.png
Due: no-hardcoded-urls, check-permissions, check-magic-numbers, no-core-models-import

Update Replicate logo to use local file
  core/fixtures/tools.yaml
  frontend/public/logos/replicate-logo.png
Due: none

Update GitHub Copilot logo to use local file
  core/fixtures/tools.yaml
  frontend/public/logos/github-copilot-logo.png
  frontend/src/hooks/useOnboardingProgress.ts
  frontend/src/pages/GettingStartedPage.tsx
Due: none

Update Replit logo to use local file
  core/fixtures/tools.yaml
  frontend/public/logos/replit-color.svg
  frontend/public/logos/runway-logo.png
Due: none

Update Runway logo to use local file
  core/fixtures/tools.yaml
Due: none

Add Weaviate vector database to tools directory
  core/fixtures/tools.yaml
  frontend/public/logos/weviate-logo.png
Due: none

Add LangSmith observability platform to tools directory
  core/fixtures/tools.yaml
  frontend/src/components/onboarding/SageAdventureBanner.tsx
Due: none

Update Stable Diffusion and Stability AI logos to use local file
  core/fixtures/tools.yaml
  frontend/public/logos/stability-ai-logo.png
Due: none

Add Redis company and RedisVL vector library to tools directory
  core/fixtures/tools.yaml
Due: none

Add Qdrant vector database to tools directory
  core/fixtures/tools.yaml
  frontend/public/logos/qdrant-logo.svg
  frontend/src/pages/ExtensionPage.tsx
  frontend/src/pages/ToolDirectoryPage.tsx
  frontend/src/routes/index.tsx
Due: none

Add Alibaba Cloud company to tools directory
  core/fixtures/tools.yaml
  frontend/public/logos/alibabacloud-logo.svg
Due: none

Add LlamaIndex data framework to tools directory
  core/fixtures/tools.yaml
  frontend/public/logos/llamaindex-logo.png
Due: none

Add Senso AI visibility platform to tools directory
  core/fixtures/tools.yaml
  frontend/public/logos/senso.png
  frontend/src/pages/ExtensionPage.tsx
Due: none

Add HackerSquad developer community platform to tools directory
  core/fixtures/tools.yaml
  frontend/public/logos/hackersquad-logo.png
  frontend/public/logos/neoj4-logo.jpeg
  frontend/src/components/tools/ToolTray.tsx
Due: none

Add Neo4j graph database to tools directory
  core/fixtures/tools.yaml
Due: none

Add OpenAGI autonomous agent framework to tools directory
  core/fixtures/tools.yaml
  frontend/public/logos/openagi.png
Due: none

more tools, chrome extension and analytics.
  Makefile
  core/auth/views_token.py
  frontend/src/components/layouts/SettingsLayout.tsx
  frontend/src/components/navigation/UserMenu.tsx
  frontend/src/data/helpQuestions.ts
  frontend/src/hooks/useBattleNotifications.ts
  frontend/src/pages/OnboardingPage.tsx
  frontend/src/pages/PricingPage.tsx
  frontend/src/pages/VendorDashboardPage.tsx
  frontend/src/routes/index.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

pitch, django backend.
  config/settings.py
  core/admin.py
  core/admin_site.py
  core/battles/__init__.py
  core/battles/admin.py
  core/battles/apps.py
  core/battles/migrations/0001_initial.py
  core/battles/migrations/__init__.py
  core/battles/models.py
  core/battles/tests/__init__.py
  core/battles/tests/test_battle_service.py
  core/events/__init__.py
  core/events/apps.py
  core/events/migrations/0001_initial.py
  core/events/migrations/__init__.py
  core/events/models.py
  core/migrations/0039_remove_battlematchmakingqueue_challenge_type_and_more.py
  core/social/migrations/0001_initial.py
  core/social/migrations/__init__.py
  core/tools/admin.py
  docs/evergreen-architecture/09-PROMPT-BATTLES.md
  docs/evergreen-architecture/README.md
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/pitch/PitchDeck.tsx
  frontend/src/components/pitch/slides/AskSlide.tsx
  frontend/src/components/pitch/slides/BusinessModelSlide.tsx
  frontend/src/components/pitch/slides/CompetitionSlide.tsx
  frontend/src/components/pitch/slides/MarketSlide.tsx
  frontend/src/components/pitch/slides/ProblemSlide.tsx
  frontend/src/components/pitch/slides/ProductSlide.tsx
  frontend/src/components/pitch/slides/RevenueProjectionsSlide.tsx
  frontend/src/components/pitch/slides/SolutionSlide.tsx
  frontend/src/components/pitch/slides/TeamSlide.tsx
  frontend/src/components/pitch/slides/ThankYouSlide.tsx
  frontend/src/components/pitch/slides/TractionSlide.tsx
  frontend/src/components/pitch/slides/WhyNowSlide.tsx
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import, check-auth-user-model

pitchC
  frontend/src/components/pitch/slides/CompetitionSlide.tsx
Due: none

pitch
  frontend/src/components/pitch/slides/TitleSlide.tsx
Due: none

fix: reorder migration operations to alter unique_together before removing fields
  core/migrations/0039_remove_battlematchmakingqueue_challenge_type_and_more.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

fix: reorder EventRSVP migration operations
  core/migrations/0039_remove_battlematchmakingqueue_challenge_type_and_more.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

React update, removing console logs.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/battles/BattleNotificationProvider.tsx
  frontend/src/components/chat/ChatInterface.tsx
  frontend/src/components/integrations/VideoPickerModal.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/layouts/SettingsLayout.tsx
  frontend/src/components/profile/Personalization.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/hero/HeroVideo.tsx
  frontend/src/components/projects/sections/FeaturesSection.tsx
  frontend/src/hooks/useBattleNotifications.ts
  frontend/src/hooks/useSageOnboarding.ts
  frontend/src/pages/CheckoutPage.tsx
  frontend/src/pages/settings/IntegrationsSettingsPage.tsx
  frontend/src/pages/settings/IntegrationsSettingsPageTest.tsx
Due: none

fixing tests and curation agents.
  Makefile
  core/auth/tests/test_ws_connection_token.py
  core/battles/services.py
  core/battles/tests/test_battle_service.py
  core/tests/test_seo_privacy.py
  core/thrive_circle/tests.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

fixing tests.
  core/battles/tests/test_battle_service.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

Updating tests.
  Makefile
  core/battles/tests/test_battle_service.py
  core/tests/test_seo_privacy.py
  core/thrive_circle/tests.py
Due: no-hardcoded-urls, check-magic-numbers, no-core-models-import

fix: Replace react-spring with @react-spring/web to resolve npm ci peer dependency issues
  frontend/package-lock.json
  frontend/package.json
Due: none
